/* @inputs
-------------------------------------- */
.smart-forms .gui-input{ line-height:normal; }

/* @options 
---------------------------------- */
.smart-forms .option > input {
    position: static;
	margin-right:5px;
    padding: 0;
	
}

.smart-forms .checkbox, 
.smart-forms .radio { display: none; }

/* @select 
------------------------------------- */
.smart-forms .select .arrow { display:none; }

/* @switch 
-------------------------------------- */
.smart-forms .switch { background: white; }
.smart-forms .switch > .switch-label { display: none; }
.smart-forms .switch > input {
    width: inherit;
    height: inherit;
	position: static;
    vertical-align: top;
	margin-top:-2px;
}

.smart-forms .switch > .switch-label + span, 
.smart-forms .switch-round > .switch-label + span{ top:0px; }

/* @buttons
-------------------------------------- */
.smart-forms .button-left, 
.smart-forms .button-right { padding: 0 16px; }
.smart-forms .button-left{ margin-left:0;}
.smart-forms .button-right { margin-right:0; }
.smart-forms .button-left:before,
.smart-forms .button-right:before { display:none; }

/* @file-input
-------------------------------------- */
.smart-forms .file .gui-file {
	padding:12px 10px;
	filter: alpha(opacity=0);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';	 
}
 

/* @ribbon
-------------------------------------- */
.smart-forms .ribbon-large{ 
	width:115px; 
	height:118px; 	
	right: 0px;
	top: -1px;  
}

.smart-forms .ribbon-inner{
filter: progid:DXImageTransform.Microsoft.Oppox(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
-ms-filter: "progid:DXImageTransform.Microsoft.Oppox(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
}

.smart-forms .ribbon-large .ribbon-inner{
	width:180px;
	left:-5px;
	top:-26px;
}

/* @error messages
-------------------------------------- */
.smart-forms .state-error .option > input{ outline: thin dotted #CC0000  }

/* Smart steps
----------------------------------------------------------- */
.smart-steps .wizard > .steps a:after,
.smart-steps .wizard > .steps a:before { display:none!important;  }
.smart-steps .wizard > .steps a,
.smart-steps .wizard > .steps a:hover,
.smart-steps .wizard > .steps a:active{  padding:0 1em; margin: 0 2px; margin-bottom:0.8em; }