/* line 1, ../sass/screen.scss */
*:focus, button:focus, input:focus, *, input, button, *:active, input:active, button:active, .bootstrap-select .btn:focus, option {
  outline: none !important;
  outline: 0px !important;
}

/* line 5, ../sass/screen.scss */
.banner-section {
  background: #000;
  height: 1500px;
  font-size: 14px;
}

/* line 10, ../sass/screen.scss */
.top-nav2 {
  background: #000;
  height: 30px;
}

/* line 14, ../sass/screen.scss */
.nopadding {
  padding-top: 0px !important;
}

/* line 19, ../sass/screen.scss */
.box-option .header-section {
  background: none !important;
  position: absolute;
}
/* line 22, ../sass/screen.scss */
.box-option .header-section .container {
  background: #fff;
}
/* line 25, ../sass/screen.scss */
.box-option .header-section.pin {
  background: #fff !important;
}
/* line 27, ../sass/screen.scss */
.box-option .header-section.pin .container {
  max-width: 1240px;
}


/* line 33, ../sass/screen.scss */
.header-section {
  font-family: 'Raleway', sans-serif;
  background-color: #020203;
  padding-top: 5px;
  border-bottom:none;
}
.header-section.transp {
  background-color: transparent;
  padding-top: 5px;
  border-bottom:none;
}
.header-section.transp.padtop {
  padding-top: 27px;
  border-bottom: none;
}
.header-section.transp ul li {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.header-section.transp ul li a {
  padding: 30px 23px;
}
.header-section.transp ul li ul li a {
  padding: 14px 23px;
}
.header-section.transp ul li.menu-cir-button {
	border: 1px solid #1d2025;
	border-radius: 25px;
	margin-top: 20px;
}
.header-section.transp ul li.menu-cir-button a {
	padding: 9px 23px !important;
}

.header-section.transp ul li.menu-cir-button2 {
	margin-top: 20px;
}
.header-section.transp ul li.menu-cir-button2 a {
	color: #0090ff;
	border: 1px solid #0090ff;
	border-radius: 25px;
	padding: 9px 23px !important;
}
.header-section.transp ul li.menu-cir-button2 a:hover {
	color: #fff;
	background: #0090ff !important;
}

/* line 38, ../sass/screen.scss */
.header-section.style3 {
  background: none;
}
/* line 41, ../sass/screen.scss */
.header-section img {
  max-width: 100%;
}
/* line 44, ../sass/screen.scss */
.header-section .container {
  max-width: 1200px;
  width: auto;
}
/* line 48, ../sass/screen.scss */
.header-section .logo {
  display: inline-block;
  margin-top: 14px;
}
/* line 52, ../sass/screen.scss */
.header-section .row {
  position: static;
}
/* line 54, ../sass/screen.scss */
.header-section .row > * {
  position: static;
}
/* line 58, ../sass/screen.scss */
.header-section .mod-menu {
  position: relative;
  z-index: 999;
}
/* line 62, ../sass/screen.scss */
.header-section ul {
  list-style: none;
  padding: 0px;
  margin: 0 0 0 10px;
}
/* line 66, ../sass/screen.scss */
.header-section ul li {
  text-transform: uppercase;
  position: relative;
}
/* line 68, ../sass/screen.scss */
.header-section ul li a {
  color: #fff;
  background: none !important;
  padding: 30px 15px;
  text-decoration: none !important;
}
/* line 75, ../sass/screen.scss */
.header-section ul li.active > a {
  color: #cccccc;
}
/* line 79, ../sass/screen.scss */
.header-section ul li .number {
  font-size: 0.71429em;
  background: #cccccc;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  position: absolute;
  right: -4px;
  top: 19px;
  border-radius: 100%;
}
/* line 93, ../sass/screen.scss */
.header-section ul li ul {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -115px;
  background: #fff;
  width: 230px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
/* line 104, ../sass/screen.scss */
.header-section ul li ul li {
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
/* line 106, ../sass/screen.scss */
.header-section ul li ul li a {
  color: #242424;
  padding: 10px 30px;
  display: block;
  text-transform: none;
}
/* line 114, ../sass/screen.scss */
.header-section ul li ul li ul {
  left: 100%;
  right: auto;
  top: 0px;
  margin-left: 0px;
  width: 0px;
  overflow: hidden;
  display: block;
}
/* line 122, ../sass/screen.scss */
.header-section ul li ul li ul li {
  width: 230px;
}
/* line 139, ../sass/screen.scss */
.header-section ul li.right ul li ul {
  left: auto;
  right: 100%;
}
/* line 153, ../sass/screen.scss */
.header-section ul li.mega-menu {
  position: static;
}
/* line 155, ../sass/screen.scss */
.header-section ul li.mega-menu > ul {
  width: 100%;
  left: 0px;
  float: none;
  margin-left: 0px;
  max-height: 0px;
  display: block;
  overflow: hidden;
  -webkit-transition: all .7s;
  transition: all .7s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
/* line 168, ../sass/screen.scss */
.header-section ul li.mega-menu > ul > li {
  padding: 30px 0;
  float: left;
  border: none;
  width: 25%;
}
/* line 173, ../sass/screen.scss */
.header-section ul li.mega-menu > ul > li > a {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
}
/* line 179, ../sass/screen.scss */
.header-section ul li.mega-menu > ul > li ul {
  width: 100%;
  position: relative;
  right: auto;
  top: auto;
  left: auto;
}
/* line 185, ../sass/screen.scss */
.header-section ul li.mega-menu > ul > li ul li {
  border: none;
}
/* line 187, ../sass/screen.scss */
.header-section ul li.mega-menu > ul > li ul li a {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 202, ../sass/screen.scss */
.header-section ul li.search-parent {
  position: static;
}
/* line 211, ../sass/screen.scss */
.header-section ul li.search-parent .search-box {
  background: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
}
/* line 220, ../sass/screen.scss */
.header-section ul li.search-parent .search-box .content {
  padding: 30px 95px 30px 30px;
}
/* line 226, ../sass/screen.scss */
.header-section ul li.search-parent .search-box .form-control {
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  box-shadow: none;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 234, ../sass/screen.scss */
.header-section ul li.search-parent .search-box .form-control input {
  background: none;
  border: none;
  width: 100%;
  font-size: 1.42857em;
  color: #727272;
}
/* line 241, ../sass/screen.scss */
.header-section ul li.search-parent .search-box .form-control .search-btn {
  font-size: 1.42857em;
  position: absolute;
  right: 96px;
  top: 11px;
  color: #070607;
}
/* line 249, ../sass/screen.scss */
.header-section ul li.search-parent .search-box .close-btn {
  position: absolute;
  top: 6px;
  right: 20px;
  color: #070607;
  font-size: 1.85714em;
  opacity: .5;
}
/* line 267, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box {
  background: #fff;
  width: 370px;
  position: absolute;
  top: 100%;
  right: 0%;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  max-height: 0px;
  overflow: hidden;
}
/* line 277, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box .content {
  padding: 30px;
}
/* line 282, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box span {
  color: #cccccc;
}
/* line 285, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box ul {
  display: block;
  position: relative;
  left: 0px;
  margin: 0px;
  width: 100%;
  border-top: 1px solid #ededed;
  margin-top: 25px;
  max-height: none !important;
  opacity: 1 !important;
}
/* line 296, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box ul li {
  position: relative;
  padding: 30px 30px 30px 100px;
  min-height: 141px;
  font-size: 1.21429em;
}
/* line 301, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box ul li .close-btn {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  padding: 0px;
  right: 10px;
  font-size: 1.05882em;
  color: #070707;
  opacity: .4;
  font-weight: 300;
}
/* line 312, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box ul li span {
  display: block;
  font-size: 1.05882em;
  padding-top: 10px;
}
/* line 317, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box ul li img {
  position: absolute;
  top: 30px;
  left: 0px;
}
/* line 324, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box .row {
  margin-left: -5px;
  margin-right: -5px;
}
/* line 327, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box .row > * {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 332, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box .btn {
  margin-top: 30px;
  border-radius: 0px;
  background: #070607 !important;
  padding: 15px;
  color: #a1a1a1;
  font-size: 14px;
  border: none;
}
/* line 343, ../sass/screen.scss */
.header-section ul li.cart-parent .cart-box .btn.btn-primary {
  background: #cccccc !important;
  color: #fff;
}
/* line 354, ../sass/screen.scss */
.header-section #menu {
  float: right;
}
/* line 358, ../sass/screen.scss */
.header-section .main-nav .nav {
  float: none;
}
/* line 360, ../sass/screen.scss */
.header-section .main-nav .nav.top-nav {
  float: right;
}
/* line 362, ../sass/screen.scss */
.header-section .main-nav .nav.top-nav > li {
  float: left;
}

@media only screen and (min-width: 1001px) {
  /* line 371, ../sass/screen.scss */
  .header-section {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9998;
  }
  /* line 378, ../sass/screen.scss */
  .header-section.absolute {
    position: absolute;
  }
  /* line 383, ../sass/screen.scss */
  .header-section.pin-style.pin-start {
    position: fixed;
  }
  /* line 386, ../sass/screen.scss */
  .header-section.pin-style.style4 {
    border: none;
  }
  /* line 390, ../sass/screen.scss */
  .header-section.pin-style.pin {
    background: rgba(2, 2, 3, 0.9);
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  /* line 395, ../sass/screen.scss */
  .header-section.pin-style.pin.style3 {
    padding: 0px;
  }
  /* line 397, ../sass/screen.scss */
  .header-section.pin-style.pin.style3:before {
    display: none;
  }
  /* line 400, ../sass/screen.scss */
  .header-section.pin-style.pin.style3 .logo {
    top: 0px;
  }
  /* line 404, ../sass/screen.scss */
  .header-section.pin-style.pin.style4 {
    padding-top: 0px;
    background: rgba(255, 255, 255, 0.98);
  }
  
  .header-section.pin-style.pin.transp.padtop {
	  padding-top: 0px;
  }
  
  /* line 407, ../sass/screen.scss */
  .header-section.pin-style.pin.style4 .mod-menu {
    background: none;
  }
  /* line 412, ../sass/screen.scss */
  .header-section.pin-style.before {
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  /* line 416, ../sass/screen.scss */
  .header-section.pin-style .mod-menu {
    border: none !important;
  }
  /* line 423, ../sass/screen.scss */
  .header-section.style2 .col-sm-2 {
    float: right;
    text-align: right;
  }
  /* line 427, ../sass/screen.scss */
  .header-section.style2 .col-sm-10 {
    float: left;
    text-align: left;
    width: auto;
  }
  /* line 432, ../sass/screen.scss */
  .header-section.style2 .logo {
    display: block;
  }
  /* line 437, ../sass/screen.scss */
  .header-section.style3 {
    padding-top: 45px;
    background: none;
    border: none;
  }
  .header-section.style3.whitelinks a {
	  color: #fff;
	  font-size: 14px;
  }
  .header-section.style3.whitelinks a:hover {
	  opacity: 0.5;
  }
  .header-section.style3.pin.whitelinks a {
	  color: #1d2025;
  }
  .header-section.style3.pin.whitelinks a:hover {
	  opacity: 0.5;
  }
  
  .header-section.style3.whitelinks2 {
    padding-top: 32px;
    background: rgba(0,0,0,0.9);
  }
  .header-section.style3.whitelinks2 a {
  	color: #fff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
  }
  .header-section.style3.whitelinks2 a:hover {
	  opacity: 0.5;
  }
  
  .header-section.style3.darklinks {
    padding-top: 40px;
	padding-bottom: 18px;
    background: #fff;
  }
  .header-section.style3.darklinks a {
  	color: #999;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
  }
  .header-section.style3.darklinks a:hover {
	  color: #1d2025;
  }
  .header-section.style3.darklinks a em {
  	color: #ccc;
	font-weight: 300;
  }
  
  .header-section.style3.darklinks2 {
    padding-top: 18px;
	padding-bottom: 10px;
    background: rgba(255,255,255,0.9);
  }
  .header-section.style3.darklinks2 a {
  	color: #1d2025;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
  }
  .header-section.style3.darklinks2 a:hover {
	  opacity: 0.5;
  }
  
  /* line 440, ../sass/screen.scss */
  .header-section.style3:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 100px;
  }
  /* line 448, ../sass/screen.scss */
  .header-section.style3.pin {
    background: rgba(255, 255, 255, 0.99);
  }
  .header-section.style3.pin.whitelinks2 {
    background: rgba(0, 0, 0, 0.99);
  }
  .header-section.style3.pin.darklinks {
    background: #fff;
	padding-bottom: 30px;
	padding-top: 5px;
  }
  .header-section.style3.pin.darklinks2 {
	padding-top: 5px;
	padding-bottom: 0px;
  }
  /* line 451, ../sass/screen.scss */
  .header-section.style3 .logo {
    position: absolute;
    left: 46%;
    margin-left: -65px;
    top: -27px;
    margin-top: 0px;
  }
  .header-section.style3.pin .logo {
	background: #6b2da1;
  }
  .header-section.style3.pin .logo.sty2 {
	background: none;
  }
  .header-section.style3 .logo.sty3 {
    background: none;
    top: 0px;
	left: 43.5%;
  }
  .header-section.style3.pin .logo.sty4 {
	background: #fff;
  }
  /* line 458, ../sass/screen.scss */
  .header-section.style3 ul li.search-parent .search-box {
    background: #1d2025;
  }
  /* line 460, ../sass/screen.scss */
  .header-section.style3 ul li.search-parent .search-box .form-control {
    background: #282828;
    border: none;
  }
  /* line 463, ../sass/screen.scss */
  .header-section.style3 ul li.search-parent .search-box .form-control .search-btn {
    color: #fff;
  }
  /* line 467, ../sass/screen.scss */
  .header-section.style3 ul li.search-parent .search-box .close-btn {
    color: #fff;
  }
  /* line 471, ../sass/screen.scss */
  .header-section.style3 ul li.cart-parent .cart-box {
    background: #070607;
    color: #fff;
  }
  /* line 473, ../sass/screen.scss */
  .header-section.style3 ul li.cart-parent .cart-box ul {
    border-top: 1px solid #070607;
    background: none;
  }
  /* line 477, ../sass/screen.scss */
  .header-section.style3 ul li.cart-parent .cart-box ul li {
    color: #fff;
  }
  /* line 479, ../sass/screen.scss */
  .header-section.style3 ul li.cart-parent .cart-box ul li .close-btn {
    color: #fff;
  }
  /* line 486, ../sass/screen.scss */
  .header-section.style3 .mod-menu {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  /* line 493, ../sass/screen.scss */
  .header-section.style3 ul li a {
    color: #1d2025;
  }
  /* line 498, ../sass/screen.scss */
  .header-section.style3 .col-sm-10 {
    width: 100%;
    float: none;
  }
  /* line 502, ../sass/screen.scss */
  .header-section.style3 .col-sm-2 {
    float: none;
  }
  /* line 505, ../sass/screen.scss */
  .header-section.style3 #menu {
    float: left;
    width: 100%;
  }
  /* line 509, ../sass/screen.scss */
  .header-section.style3 #menu ul:first-child {
    float: left;
  }
  /* line 512, ../sass/screen.scss */
  .header-section.style3 #menu ul:last-child {
    float: right;
  }
  /* line 516, ../sass/screen.scss */
  .header-section.style3 #menu ul li ul {
    background: #1d2025;
    float: none !important;
  }
  /* line 519, ../sass/screen.scss */
  .header-section.style3 #menu ul li ul li {
    border-color: #282828;
  }
  /* line 520, ../sass/screen.scss */
  .header-section.style3 #menu ul li ul li a {
    color: #fff;
  }
  /* line 526, ../sass/screen.scss */
  .header-section.style3 #menu ul li ul li:hover > a, .header-section.style3 #menu ul li ul li.active > a {
    color: #cccccc;
  }
  /* line 536, ../sass/screen.scss */
  .header-section.style3 #menu ul li.mega-menu li ul li a {
    color: #727272;
  }
  /* line 540, ../sass/screen.scss */
  .header-section.style3 #menu ul li.mega-menu li ul li:hover a, .header-section.style3 #menu ul li.mega-menu li ul li.active a {
    color: #cccccc;
  }
  /* line 553, ../sass/screen.scss */
  .header-section.style4 {
    background: none;
    padding-top: 50px;
  }
  .header-section.style4.lessptop {
    background: none;
    padding-top: 27px;
  }
  /* line 556, ../sass/screen.scss */
  .header-section.style4.pin {
    background: rgba(0, 0, 0, 0.5);
  }
  /* line 559, ../sass/screen.scss */
  .header-section.style4 .mod-menu {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-section.style4.transp .mod-menu {
    background: transparent;
  }
  /* line 566, ../sass/screen.scss */
  .header-section.style4 ul li a {
    color: #1d2025;
  }
  /* line 571, ../sass/screen.scss */
  .header-section.style4 ul li ul {
    background: #cccccc;
  }
  /* line 573, ../sass/screen.scss */
  .header-section.style4 ul li ul li {
    border-color: #f0be64;
  }
  /* line 575, ../sass/screen.scss */
  .header-section.style4 ul li ul li a {
    color: #fff;
  }
  /* line 580, ../sass/screen.scss */
  .header-section.style4 ul li.search-parent .search-box {
    background: #cccccc;
  }
  /* line 582, ../sass/screen.scss */
  .header-section.style4 ul li.search-parent .search-box .form-control {
    background: #cccccc;
    border: 1px solid #f0be64;
  }
  /* line 584, ../sass/screen.scss */
  .header-section.style4 ul li.search-parent .search-box .form-control input {
    color: #fff;
  }
  /* line 588, ../sass/screen.scss */
  .header-section.style4 ul li.search-parent .search-box .form-control .search-btn {
    color: #fff;
  }
  /* line 592, ../sass/screen.scss */
  .header-section.style4 ul li.search-parent .search-box .close-btn {
    color: #fff;
  }
  /* line 596, ../sass/screen.scss */
  .header-section.style4 ul li.cart-parent .cart-box {
    background: #cccccc;
    color: #fff;
  }
  /* line 598, ../sass/screen.scss */
  .header-section.style4 ul li.cart-parent .cart-box span {
    color: #fff;
  }
  /* line 601, ../sass/screen.scss */
  .header-section.style4 ul li.cart-parent .cart-box ul {
    border-top: 1px solid #f0be64;
    background: none;
  }
  /* line 605, ../sass/screen.scss */
  .header-section.style4 ul li.cart-parent .cart-box ul li {
    color: #fff;
  }
  /* line 607, ../sass/screen.scss */
  .header-section.style4 ul li.cart-parent .cart-box ul li .close-btn {
    color: #fff;
  }
  /* line 613, ../sass/screen.scss */
  .header-section.style4 ul li.cart-parent .cart-box .btn.btn-primary {
    background: #fff !important;
    color: #070607;
  }
  /* line 620, ../sass/screen.scss */
  .header-section .mod-menu.center-style {
    text-align: center;
  }
  /* line 624, ../sass/screen.scss */
  .header-section .mod-menu.center-style .main-nav > ul > li {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  /* line 630, ../sass/screen.scss */
  .header-section .mod-menu.center-style .main-nav .nav.top-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  /* line 637, ../sass/screen.scss */
  .header-section .mod-menu.center-style #menu {
    float: none;
    display: inline-block;
  }
  /* line 649, ../sass/screen.scss */
  .header-section ul li:hover > a, .header-section ul li.active > a {
    color: #cccccc;
  }
  /* line 654, ../sass/screen.scss */
  .header-section ul li ul {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
  }
  /* line 660, ../sass/screen.scss */
  .header-section ul li ul li ul {
    max-height: none;
    opacity: 1;
  }
  /* line 665, ../sass/screen.scss */
  .header-section ul li ul li:hover > ul {
    width: 230px;
  }
  /* line 674, ../sass/screen.scss */
  .header-section ul li:hover > ul {
    opacity: 1;
    max-height: 2000px;
    overflow: visible;
  }
  /* line 678, ../sass/screen.scss */
  .header-section ul li:hover > ul li {
    overflow: visible;
  }
  /* line 680, ../sass/screen.scss */
  .header-section ul li:hover > ul li ul {
    overflow: hidden;
    opacity: 1;
  }
  /* line 688, ../sass/screen.scss */
  .header-section ul li.mega-menu > ul {
    opacity: 0;
  }
  /* line 693, ../sass/screen.scss */
  .header-section ul li.mega-menu:hover > ul {
    opacity: 1;
    max-height: 2000px;
  }
  /* line 699, ../sass/screen.scss */
  .header-section ul li.search-parent {
    position: static;
  }
  /* line 701, ../sass/screen.scss */
  .header-section ul li.search-parent .search-box {
    opacity: 0;
  }
  /* line 705, ../sass/screen.scss */
  .header-section ul li.search-parent.active .search-box {
    opacity: 1;
    max-height: 2000px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  /* line 714, ../sass/screen.scss */
  .header-section ul li.cart-parent .cart-box {
    opacity: 0;
  }
  /* line 718, ../sass/screen.scss */
  .header-section ul li.cart-parent.active .cart-box {
    opacity: 1;
    max-height: 2000px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  /* line 730, ../sass/screen.scss */
  .header-section ul li.cart-parent .cart-box .btn:hover {
    opacity: .8;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 771, ../sass/screen.scss */
  .header-section ul li.cart-parent .cart-box {
    -webkit-transition: all 0s;
    transition: all 0s;
  }

  /* line 775, ../sass/screen.scss */
  .header-section ul li.menu-icon {
    font-size: 1.71429em;
    padding: 18px 0 0 30px;
  }
  /* line 778, ../sass/screen.scss */
  .header-section ul li.menu-icon a {
    margin: 0px;
    border: none;
    padding: 10px;
  }

  /* line 784, ../sass/screen.scss */
  .header-section {
    padding-bottom: 20px;
    border: none;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
  }
  /* line 792, ../sass/screen.scss */
  .header-section.pin-start {
    position: absolute;
  }
  /* line 795, ../sass/screen.scss */
  .header-section.style3 {
    padding-bottom: 0px;
  }
  /* line 798, ../sass/screen.scss */
  .header-section.off {
    position: fixed;
  }
  /* line 801, ../sass/screen.scss */
  .header-section .logo {
    position: relative;
    z-index: 9998;
  }
  /* line 806, ../sass/screen.scss */
  .header-section .main-nav .nav {
    float: none;
  }
  
  /* line 808, ../sass/screen.scss */
  .header-section .main-nav .nav.top-nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 2;
    height: 91px;
    text-align: right;
  }
  /* line 816, ../sass/screen.scss */
  .header-section .main-nav .nav.top-nav li {
    display: inline-block !important;
    vertical-align: top;
    float: none;
  }
  /* line 824, ../sass/screen.scss */
  .header-section .logo {
    padding-left: 10px;
  }
  /* line 827, ../sass/screen.scss */
  .header-section #menu {
    float: none;
    border: none;
    box-shadow: none;
    margin: 0 -15px;
    padding: 35px 0 0;
    z-index: 99;
  }
  /* line 834, ../sass/screen.scss */
  .header-section #menu > ul {
    background: #fff;
    margin: 0px;
  }
  /* line 837, ../sass/screen.scss */
  .header-section #menu > ul li {
    position: relative;
    border-bottom: 1px solid #ececec;
  }
  /* line 838, ../sass/screen.scss */
  .header-section #menu > ul li a {
    color: #242424;
    padding: 15px 25px;
    text-transform: none;
  }
  .header-section #menu > ul li a:hover {
	  opacity: 0.5;
  }
  /* line 844, ../sass/screen.scss */
  .header-section #menu > ul li .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17px;
    right: 25px;
    cursor: pointer;
    z-index: 999;
  }
  /* line 853, ../sass/screen.scss */
  .header-section #menu > ul li .arrow:before {
    content: "";
    background: #242424;
    position: absolute;
    top: 6px;
    left: 0px;
    width: 15px;
    height: 3px;
  }
  /* line 862, ../sass/screen.scss */
  .header-section #menu > ul li .arrow:after {
    content: "";
    background: #242424;
    position: absolute;
    top: 0px;
    left: 6px;
    height: 15px;
    width: 3px;
  }
  /* line 875, ../sass/screen.scss */
  .header-section #menu > ul li.hover > a, .header-section #menu > ul li.active > a {
    color: #cccccc;
  }
  /* line 882, ../sass/screen.scss */
  .header-section #menu > ul li.hover > .arrow:after {
    display: none;
  }
  /* line 887, ../sass/screen.scss */
  .header-section #menu > ul li.hover > ul {
    display: block;
  }
  /* line 892, ../sass/screen.scss */
  .header-section #menu > ul li ul {
    display: none;
    max-height: none;
    position: relative;
    width: 100%;
    left: auto;
    margin: 0px;
    top: auto;
    border-top: 1px solid #ececec;
  }
  /* line 901, ../sass/screen.scss */
  .header-section #menu > ul li ul li {
    float: none;
    width: 100%;
    padding: 0px;
    border: none;
  }
  /* line 907, ../sass/screen.scss */
  .header-section #menu > ul li ul li a {
    text-transform: none;
    font-weight: 400;
    padding-left: 45px;
  }
  /* line 912, ../sass/screen.scss */
  .header-section #menu > ul li ul li ul {
    right: 0px;
  }
  /* line 914, ../sass/screen.scss */
  .header-section #menu > ul li ul li ul li a {
    padding-left: 65px;
  }
  /* line 927, ../sass/screen.scss */
  .header-section ul li.search-parent.active > a {
    color: #cccccc;
  }
  /* line 930, ../sass/screen.scss */
  .header-section ul li.search-parent.active .search-box {
    max-height: none;
  }
  /* line 936, ../sass/screen.scss */
  .header-section ul li.cart-parent {
    position: static;
  }
  /* line 939, ../sass/screen.scss */
  .header-section ul li.cart-parent.active > a {
    color: #cccccc;
  }
  /* line 942, ../sass/screen.scss */
  .header-section ul li.cart-parent.active .cart-box {
    width: 100%;
    max-height: 2000px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  /* line 948, ../sass/screen.scss */
  .header-section ul li.cart-parent.active .cart-box ul li {
    display: block !important;
    text-align: left;
  }
  /* line 953, ../sass/screen.scss */
  .header-section ul li.cart-parent.active .cart-box .col-xs-8 {
    text-align: left;
  }
  /* line 960, ../sass/screen.scss */
  .header-section.style3 .logo {
    margin-top: 10px;
  }
  /* line 963, ../sass/screen.scss */
  .header-section.style3 .main-nav .nav.top-nav {
    top: 0px;
  }
  /* line 968, ../sass/screen.scss */
  .header-section.style3 ul li a {
    color: #000;
  }
  /* line 973, ../sass/screen.scss */
  .header-section.style3 .main-nav {
    padding-top: 10px;
  }
  /* line 976, ../sass/screen.scss */
  .header-section.style3 #menu {
    background: #1d2025;
  }
  /* line 978, ../sass/screen.scss */
  .header-section.style3 #menu ul {
    background: none;
  }
  /* line 980, ../sass/screen.scss */
  .header-section.style3 #menu ul li {
    border-color: #262626;
  }
  /* line 982, ../sass/screen.scss */
  .header-section.style3 #menu ul li a {
    color: #ffffff;
  }
  /* line 987, ../sass/screen.scss */
  .header-section.style3 #menu ul li .arrow:before, .header-section.style3 #menu ul li .arrow:after {
    background: #fff;
  }
  /* line 993, ../sass/screen.scss */
  .header-section.style3 #menu ul li.active > a, .header-section.style3 #menu ul li.hover > a {
    color: #cccccc;
  }
  /* line 997, ../sass/screen.scss */
  .header-section.style3 #menu ul li ul {
    border-color: #262626;
  }
  /* line 1000, ../sass/screen.scss */
  .header-section.style3 #menu ul li ul li a {
    color: #727272;
  }
  /* line 1009, ../sass/screen.scss */
  .header-section.style4 {
    background: #fff;
    padding-bottom: 0px;
  }
  /* line 1012, ../sass/screen.scss */
  .header-section.style4 .logo {
    margin-bottom: 20px;
  }
  /* line 1017, ../sass/screen.scss */
  .header-section.style4 ul li a {
    color: #1d2025;
  }
  /* line 1022, ../sass/screen.scss */
  .header-section.style4 #menu {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  /* line 1025, ../sass/screen.scss */
  .header-section.style4 #menu ul {
    background: #1d2025;
	margin-bottom: 45px;
  }
  /* line 1027, ../sass/screen.scss */
  .header-section.style4 #menu ul li {
    border-color: #3d4147;
  }
  /* line 1030, ../sass/screen.scss */
  .header-section.style4 #menu ul li a {
    color: #fff;
  }
  /* line 1035, ../sass/screen.scss */
  .header-section.style4 #menu ul li .arrow:before, .header-section.style4 #menu ul li .arrow:after {
    background: #fff;
  }
  /* line 1040, ../sass/screen.scss */
  .header-section.style4 #menu ul li ul {
    border-color: #f0be64;
  }
  /* line 1042, ../sass/screen.scss */
  .header-section.style4 #menu ul li ul li {
    border-color: #f0be64;
  }
}
@media only screen and (max-width: 360px) {
  /* line 1055, ../sass/screen.scss */
  .header-section .logo {
    width: 85px;
  }

  /* line 1058, ../sass/screen.scss */
  .header-section .main-nav .nav.top-nav {
    top: -7px;
  }

  /* line 1061, ../sass/screen.scss */
  .header-section ul li.menu-icon {
    padding-left: 5px;
  }

  /* line 1064, ../sass/screen.scss */
  .header-section.style3 .main-nav .nav.top-nav {
    top: 0px;
  }
  .header-section.style3 ul li.menu-icon {
    font-size: 1.2em;
    padding: 0px 0 0 30px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 1069, ../sass/screen.scss */
  #menu {
    display: block;
  }
      
}


@media only screen and (min-width: 991px) and (max-width: 1169px){
.header-section.transp ul li a {
	padding-left: 12px;
	padding-right: 12px;
}


}

@media only screen and (min-width: 300px) and (max-width: 990px) {
.header-section.absolute {
    position: relative;
  }
    
}

@media only screen and (max-width: 1000px) {
  /* line 1075, ../sass/screen.scss */
  .header-section .col-sm-9, .header-section .col-sm-3,
  .header-section .col-sm-10, .header-section .col-sm-2 {
    width: auto;
    float: none;
  }

  /* line 1085, ../sass/screen.scss */
  .nopadding {
    position: static;
  }

  /* line 1089, ../sass/screen.scss */
  .navbar-nav > li {
    float: none;
  }
  
.header-section.transp {
	background-color: #1d2025;
	border-bottom: none;
}
.header-section.transp.two {
	background-color: #fff;
	border-bottom: none;
}

.header-section.transp.padtop {
  padding-top: 10px;
}


}
