.full{
	width: auto;
}
.gallery {
}
.gallery .previews, .gallery .full, .gallery .desc {
float: left;
margin-right: 10px;
}
.gallery .desc, .gallery .full {
	/*width:400px;*/
font-size: 12px;
}

.gallery .previews a {
display: block;
margin-bottom: 10px;
cursor: pointer;
}
.gallery .previews.style-2 a {
display: inline-block;
margin-bottom:0px;
margin-top:20px;
margin-right:15px;
cursor: pointer;
}

.gallery .previews.two {
	width:450px;
}

.gallery .previews.two a {
	float:left;
	margin-right:8px;
	margin-top:15px;
}



.gallery .full, .gallery .full img {
height: 635px;
}
.gallery .previews a, .gallery .full {
border: 1px solid #eaeaea;
}
.gallery .previews a:hover, .gallery .previews a.selected {
border: 1px solid #ecae3d;
}
.gallery .full img:hover {
cursor: pointer;
}
.clearfix:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}


.gallery .previews.two {
	width:450px;
}

.gallery .previews.two a {
	float:left;
	margin-right:8px;
	margin-top:15px;
}

/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

.gallery .previews a {
    display: inline-block;
	margin-top:15px;
	margin-bottom:15px;
}




}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {





}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {




}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {











}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {



}


@media screen and (max-width: 480px) {

.gallery .full, .gallery .full img {
    height: auto;
    width: 400px;
}

.gallery .previews a {
    display: inline-block;
	margin-top:15px;
	margin-bottom:15px;
}




}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

.gallery .full, .gallery .full img {
    height: auto;
    width: 300px;
}




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {

.gallery .full, .gallery .full img {
    height: auto;
    width: 260px;
}

	
	

}