<div{{ attributes}}>
	{{ title_suffix }}
	<div class="container">
		<div class="row">
		  <div class="newsletter">
		    <div class="col-md-8 center-col col-sm-12 text-center animate-in" data-anim-type="fade-in-up" data-anim-delay="200">
		      <h1 class="font-weight-7 text-white">{{ label }}</h1>
		      {{ content }}
		    </div>
		  </div>
		</div>
	</div>
</div>