{% if breadcrumb %}
    <ol class="breadcrumbs-2">
    {% for item in breadcrumb %}
        {% if item.url %}
          	<li><a href="{{ item.url }}">{{ item.text }}</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span> </li>
        {% else %}
          	<li class="current">{{ item.text }}</li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}
