<div class="media">
  <div class="media-body">
    <div class="well well-lg">
      <p class="media-comment">
        {{ content.field_comment_body }}
      </p>
      {{ content.links }}
    </div>              
  </div>
</div>