<div class="col-divider-margin-2"></div>
<div class="text-box border white padding-4">
    <div class="imgbox-medium left round overflow-hidden">
        {% if user_picture %}
            {{ user_picture }}
        {% endif %}
    </div>
    <div class="text-box-right more-padding-1">
        <h5 class="less-mar-1">{{ author }}</h5>
        <div class="blog-post-info"><span>{{ comment.created.value|date('F d  Y \\a\\t g:i a')|t  }}</span></div>
        <br/>
        <p>{{ content.comment_body }}</p>
        <br/>
        {{ content.links }} 
    </div>
</div>
<!--end comment box-->
