{% set img_uri = product_entity.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_arr = product_entity.field_image %}
{% set img_alt = product_entity.field_image.alt %}

{% set comment_count =  product_entity.field_product_comment.comment_count %}

{% set image555x555 = getUrlByImageStyle(img_uri, 'image555x555')  %}
{% if shop_gird_column == '3col' %}
  <div class="col-md-4 col-sm-6 col-xs-12 matri-product-single m-bottom-40">
{% elseif shop_gird_column == '4col' %}
  <div class="col-md-3 col-sm-6 col-xs-12 matri-product-single m-bottom-40">
{% elseif shop_gird_column == '5col' %}
  <div class="col-md-1 col-sm-6 matri-product-single m-bottom-40 ">
{% elseif shop_gird_column == '6col' %}
    <div class="col-md-2 col-sm-6 col-xs-12 matri-product-single m-bottom-40">
{% else %}
  <div class="col-md-6 col-sm-6 col-xs-12 matri-product-single m-bottom-40">
  {% endif %}
    <div class="sp-feature-box-3 margin-bottom">
      <div class="img-box">
        <a href="{{ product_url }}" class="view-btn uppercase">{{'View'|t}}</a>
        <img src="{{ image555x555 }}" alt="{{ img_alt }}" class="img-responsive"/> 
      </div>
      <div class="clearfix"></div>
      <br/>
      <h4 class="less-mar-1">{{ product.title }}</h4>
       <p>{{ product_entity.body.value|striptags|length > 30 ? product_entity.body.value|striptags|slice(0,30) ~ '...' : product.body }}</p>
      <h5 class="text-gyellow">{{ product.variation_price }}</h5>
      <br/>
      {{ product.variations }}
    </div>
</div>