{% set img_uri = product_entity.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_arr = product_entity.field_image %}
{% set img_alt = product_entity.field_image.alt %}

{% set comment_count =  product_entity.field_product_comment.comment_count %}

{% set image750x1000 = getUrlByImageStyle(img_uri, 'image750x1000')  %}

<!-- end page title -->
{% if shop_single_sidebar == 'left' or shop_single_sidebar == 'right' %}
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="product_preview_left">
            <div class="gallery">
                <div class="full">
                    <!-- first image is viewable to start -->
                    <img alt="{{ img_alt }}" src="{{ image750x1000 }}"/>
                </div>
                <div class="previews">
                  {% if img_arr|length > 1 %}
                    {% for i, img_item in img_arr %}
                      {% set imguri = img_item.entity.uri.value %}
                      {% set image_150_150 = getUrlByImageStyle(imguri, 'image150x150') %}
                      {% set image_750x1000 = getUrlByImageStyle(imguri, 'image750x1000') %}
                        <a {% if loop.first %} class="selected" {% endif %} data-full="{{ image_750x1000 }}"><img src="{{ image_150_150 }}" alt="{{ img_item.alt }}"></a>
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
        </div>
  <!--end product preview-->
        <div class="col-md-6 col-sm-12 col-xs-12 matri-product-single">
          <br/><br/>
          <h4 class="uppercase">{{ product.title }}</h4>
          <div class="divider-line solid light"></div>
          <br/>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <h2 class="text-gyellow font-weight-4">{{ product.variation_price }}</h2>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="stars">
           
            </div>
          </div>
          <div class="clearfix"></div>
           <p>{{ product.body }}</p>
          <div class="clearfix"></div>
          <br/>
          {{ product.variations }}
        </div>
        <!--end description left-->
        <div class="col-md-6 col-sm-12 col-xs-12">
          <br/><br/>
          <div class="pro-details"><span>{{ 'Product ID :'|t }}</span>{{ product.variation_sku }}</div>
          <div class="pro-details"><span>{{ product.field_product_category['#title'] }}</span>{{ product.field_product_category }}</div>
          <div class="pro-details"><span>{{ product.field_product_tags['#title'] }}</span>{{ product.field_product_tags }}</div>
          
          <div class="clearfix"></div>
          <br/><br/>
        <ul class="sp-sc-icons">
            <li>
                <a class="twitter" onClick="window.open('http://twitter.com/share?url={{ pageURL }}&amp;text={{ title }}','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ title }}" target="_blank">
                    <i class="fa fa-twitter">
                    </i>
                </a>
            </li>
            <li>
                <a onClick="window.open('http://www.facebook.com/sharer.php?url={{ pageURL }}','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.facebook.com/sharer.php?url={{ pageURL }}" target="_blank">
                    <i class="fa fa-facebook">
                    </i>
                </a>
            </li>
            <li>
                <a class="" onClick="window.open('https://plus.google.com/share?url={{ pageURL }}','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url={{ pageURL }}" target="_blank">
                    <i class="fa fa-google-plus">
                    </i>
                </a>
            </li>
            
            <li>
                <a onClick="window.open('http://www.linkedin.com/shareArticle?url={{ pageURL }}&mini=true&title={{ title }}&ro=false&summary={{ node.body.summary|length > 145 ? node.body.summary|slice(0,145) ~ '...' : node.body.summary }}&source=','Linkedin','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.linkedin.com/shareArticle?url={{ pageURL }}&mini=true&title={{ title }}&ro=false&summary={{ node.body.summary|length > 145 ? node.body.summary|slice(0,145) ~ '...' : node.body.summary }}&source=" target="_blank">
                    <i class="fa fa-linkedin">
                    </i>
                </a>
            </li>
        </ul>
        </div>
    <!--end left-->

  
    <div class="clearfix">
    </div>
      <br/><br/>
      <div class="divider-line solid light"></div>
      <br/><br/>
    <!-- end section -->
    <section class="sec-bpadding-2">
    {{ drupal_view('product_catalog', 'block_related_products_3_col',product.field_product_category.0['#options'].entity.tid.value) }}
    </section>
      </div>


{% elseif shop_single_sidebar == 'both' %}
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="product_preview_left">
      <div class="gallery">
        <div class="full">
          <!-- first image is viewable to start --> 
          <img src="{{ image750x1000 }}"  alt="{{ img_alt }}"/> 
        </div>
        <div class="previews style-2"> 
            {% if img_arr|length > 1 %}
                {% for i, img_item in img_arr if i < 3 %}
                  {% set imguri = img_item.entity.uri.value %}
                  {% set image_150_150 = getUrlByImageStyle(imguri, 'image150x150') %}
                  {% set image_750x1000 = getUrlByImageStyle(imguri, 'image750x1000') %}
                    <a {% if loop.first %} class="selected" {% endif %} data-full="{{ image_750x1000 }}"><img src="{{ image_150_150 }}" alt="{{ img_item.alt }}"></a>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
    <!--end product preview-->
    <div class="col-md-12 col-sm-12 col-xs-12 matri-product-single">
      <br/><br/>
      <h4 class="uppercase">{{ product.title }}</h4>
      <div class="divider-line solid light"></div>
      <br/>
      <div class="col-md-5 col-sm-12 col-xs-12">
        <h2 class="text-gyellow font-weight-4">{{ product.variation_price }}</h2>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="stars">

        </div>
      </div>
      <div class="clearfix"></div>
       <p>{{ product.body }}</p>
      <div class="clearfix"></div>
      <br/>
      {{ product.variations }}
    </div>
    <!--end description left-->
  </div>

        
{%  else %}

    <div class="col-md-8 col-sm-12 col-xs-12 margin-bottom">
        <div class="product_preview_left">
            <div class="gallery">
                <div class="full">
                    <!-- first image is viewable to start -->
                    <img alt="{{ img_alt }}" src="{{ image750x1000 }}"/>
                </div>
                <div class="previews">
                  {% if img_arr|length > 1 %}
                    {% for i, img_item in img_arr %}
                      {% set imguri = img_item.entity.uri.value %}
                      {% set image_150_150 = getUrlByImageStyle(imguri, 'image150x150') %}
                      {% set image_750x1000 = getUrlByImageStyle(imguri, 'image750x1000') %}
                        <a {% if loop.first %} class="selected" {% endif %} data-full="{{ image_750x1000 }}"><img src="{{ image_150_150 }}" alt="{{ img_item.alt }}"></a>
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--end left-->
    <div class="col-md-4 col-sm-12 col-xs-12 matri-product-single">
        <h4 class="uppercase">{{ product.title }}</h4>
        <div class="divider-line solid light">
        </div>
        <br/>
        <div class="col-md-5">
            <h2 class="text-gyellow font-weight-4">
                {{ product.variation_price }}
            </h2>
        </div>
        <div class="col-md-7">
            
        </div>
        <div class="clearfix"></div>
        <p>{{ product.body }}</p>
        <div class="clearfix"></div>
        <br/>
        {{ product.variations }}
        <div class="clearfix"></div>
        <br/>
        <br/>
        <div class="divider-line solid light"></div>
        <br/>
        <div class="pro-details">
            <span>{{ 'Product ID :'|t }}</span>{{ product.variation_sku }}
        </div>
        <div class="pro-details">
            <span>{{ product.field_product_category['#title'] }}</span>{{ product.field_product_category }}
        </div>
        <div class="pro-details">
            <span>{{ product.field_product_tags['#title'] }}</span>{{ product.field_product_tags }}
        </div>
        
        <div class="clearfix">
        </div>
        <br/>
        <br/>
        <ul class="sp-sc-icons">
            <li>
                <a class="twitter" onClick="window.open('http://twitter.com/share?url={{ pageURL }}&amp;text={{ title }}','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ title }}" target="_blank">
                    <i class="fa fa-twitter">
                    </i>
                </a>
            </li>
            <li>
                <a onClick="window.open('http://www.facebook.com/sharer.php?url={{ pageURL }}','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.facebook.com/sharer.php?url={{ pageURL }}" target="_blank">
                    <i class="fa fa-facebook">
                    </i>
                </a>
            </li>
            <li>
                <a class="" onClick="window.open('https://plus.google.com/share?url={{ pageURL }}','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url={{ pageURL }}" target="_blank">
                    <i class="fa fa-google-plus">
                    </i>
                </a>
            </li>
            
            <li>
                <a onClick="window.open('http://www.linkedin.com/shareArticle?url={{ pageURL }}&mini=true&title={{ title }}&ro=false&summary={{ node.body.summary|length > 145 ? node.body.summary|slice(0,145) ~ '...' : node.body.summary }}&source=','Linkedin','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.linkedin.com/shareArticle?url={{ pageURL }}&mini=true&title={{ title }}&ro=false&summary={{ node.body.summary|length > 145 ? node.body.summary|slice(0,145) ~ '...' : node.body.summary }}&source=" target="_blank">
                    <i class="fa fa-linkedin">
                    </i>
                </a>
            </li>
        </ul>
    </div>
    <!--end right-->

    <div class="clearfix">
    </div>
    <!-- end section -->
    <section class="sec-bpadding-2">
    {{ drupal_view('product_catalog', 'block_related_products',product.field_product_category.0['#options'].entity.tid.value) }}
    </section>
{% endif %}