{% spaceless %}
    <div id="{{ id }}">
        {% for item in items %}
            <div class="accordion_head faq">{{ item.question }}<span class="plusminus">+</span></div>
            <div class="accordion_body ">{{ item.answer }}</div>
        {% endfor %}
    </div>
{% endspaceless %}