{% if footer_layout == 'footer2' %}
  <footer class="section-dark sec-tpadding-2 less-padding sec-bpadding-3 footer-bgimg">
    <div class="container">
        {{ page.footer_style1 }}
    </div>
  </footer>
  <a href="#" class="scrollup">Scroll</a>
{% elseif footer_layout == 'default1' %}
  <div class="clearfix"></div>
    <section class="section-fulldark sec-padding">
      <div class="container ">
        <div class="row">
          <br/>
          {{ page.footer_style2 }}
          <br/>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!--end section-->
    <section class="sec-moreless-padding section-dark">
      <div class="container">
        <div class="row">
          <div class="fo-copyright-holder text-white text-center">
            <h6 class="text-white">  {{ copyright|raw }} </h6>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section --> 
    <a href="#" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a><!-- end scroll to top of the page-->   
{% else %}

  <footer class="section-dark two sec-tpadding-2" style="background-color: #f3f3f3;">
    <div class="container sec-bpadding-6">
      
      <div class="row">
        {{ page.footer_style2 }}
        
        <div class="clearfix"></div>
        <div class="col-divider-margin-2"></div>
      </div>
      
    </div>
      
      
      <div class="container border-top-light1 sec-moreless-padding">
      <div class="container">
          
        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom text-center respo text-white opacity-5">{{ copyright|raw }}</div>
              
        <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom text-center respo text-white opacity-5">
            {# {{ social_network|raw }} #}
            
        </div>
              
        </div>

      </div>
      
    
  </footer>
      
  <a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->

{% endif %}
