<div class="clearfix"></div>
<!-- end section -->
<section class="section-light sec-padding">
  <div class="container ">
    <div class="row">
      <br/>
      {{ page.footer_shop }}

      <!--end item-->

      <!--end item-->
      <!--end item-->
   
      <!--end item--> 
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!--end section-->
<section class="sec-moreless-padding section-dark">
  <div class="container">
    <div class="row">
        {{ page.copyright_shop }}
      <!--end item-->

      <!--end item-->

      <!--end item--> 
    </div>
  </div>
</section>
<div class="clearfix"></div>