{#  header 1: home 5
    header2: index 8
    header3: creative-2
    header4: index 16
    header5: law
    header6: finance
    header7: index

#}
{% if type != 'homepage' and not is_front and page_title_layout == 'page_title1' and (header_layout == 'header7' or header_layout == 'header4')  %}
  {% set header_layout = 'default' %}
{% endif %}
    <div class="offcanvas-menu">
      <div id="btn">
        <div id='top'></div>
        <div id='middle'></div>
        <div id='bottom'></div>
      </div>
      <div id="box">
        <div id="items">
          {{ page.sub_menu }}
        </div>
        <div class="clearfix"></div>
            {{ page.sub_menu_info }}
      </div>
    </div>

 
  <div class="col-md-12 nopadding">
    {% if header_layout == 'header2' %} 
    <div class="header-section style no-bg fn-mar pin-style">
      {%  else %}
    <div class="header-section style1 no-bg fn-mar pin-style">
      {% endif %}
      <div class="container-filid">
        <div class="mod-menu">
          <div class="row nopadding">
            <div class="col-sm-2"> {{ page.header }}</div>
            <div class="col-sm-10">
              <div class="main-nav center">
                <ul class="nav navbar-nav top-nav">
                    
                  <li class="visible-xs menu-icon"> <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
                </ul>
                {{ page.main_menu }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end menu--> 
  </div>
  <!--end menu-->

  <div class="clearfix"></div>  
