{%
  set body_classes = [
    'business-theme',
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage home' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    node_type == 'homepage' ? 'home' : root_path and node_type != 'blog_post' ? 'page',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <head-placeholder token="{{ placeholder_token|raw }}">
        
        <!-- Stylesheet -->
        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
        
        {% if general_setting_tracking_code != '' %}
            {{ general_setting_tracking_code|t }}
        {% endif %}
        {% if custom_css != '' %}
            <style type="text/css" media="all">
              {{ custom_css|t }}
            </style>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        {# <link id="switch-colors" rel="stylesheet" type="text/css" href="{{ intrat_theme_path ~ '/css/colors/' ~ intrat_css_skin ~ '.css' }}"> #}
        
        
        <title>{{ head_title|safe_join(' | ') }}</title>
    </head>


    <body{{ attributes.addClass(body_classes)}}>
        <a href="#main-content" class="visually-hidden focusable">
            {{ 'Skip to main content'|t }}
        </a>


    <div class="over-loader loader-live">
      <div class="loader">
        <div class="loader-item style5">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
      


      <div id="intrat-map" class="hidden" data-lat="{{ nvs_geolocation_lat }}" data-lang="{{ nvs_geolocation_lang }}"></div>



 

      <!-- end loading--> 


      <div class="wrapper-boxed">
          <div class="site-wrapper">
              {{ page_top }}
              {{ page }}
              {{ page_bottom }}
          </div>
      </div>

      <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>