{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="nav navbar-nav">
    {% elseif menu_level == 1  %}
      <ul class="dm-align-2">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          item.is_expanded ? 'dropdown-holder',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
          {% if menu_level == 0 %}
              <a href="{{ item.url }}">{{ item.title|raw }}</a>  <span class="arrow"></span>
              {% if item.below and loop.last %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1)|render|replace({'dm-align-2' : 'right'})|raw }}
             
              {% elseif item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              {% endif %}
          {% elseif menu_level == 1 %}
              <a href="{{ item.url }}">{{ item.title|raw }}</a>
              {% if item.below %}
                <span class="arrow"></span>
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              {% endif %}  
          {% else %}
              <a href="{{ item.url }}">{{ item.title|raw }}</a> 

              {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              {% endif %}
          {% endif %}
         
         
      </li>

    {% endfor %}
        
      </ul>
  {% endif %}
{% endmacro %}