{# {% if title_bg is not null and  title_bg is not empty  %}
    {% set field_page_header_bg = 'background-image:url(' ~  title_bg ~ ')'  %}
{% else %}
    {% if field_page_header_bg == '' %}
        {% set field_page_header_bg = 'background-image:url(' ~  theme_page_header_bg ~ ')' %}
    {% else %}
        {% set field_page_header_bg = 'background-image:url(' ~  field_page_header_bg ~ ')' %}
    {% endif %}
{% endif %} #}


{#{% if field_page_header_bg  %}
    {% set field_page_header_bg = 'background-image:url(' ~  field_page_header_bg ~ ')' %}
{% else %}
    {% if title_bg is not null and  title_bg is not empty  %}
        {% set field_page_header_bg = 'background-image:url(' ~  title_bg ~ ')'  %}
    {% else %}
        {% set field_page_header_bg = 'background-image:url(' ~  theme_page_header_bg ~ ')' %}
    {% endif %}
{% endif %}


{% if node.field_subtitle.value %}
    {% set subtitle = node.field_subtitle.value  %}
{% elseif page_subtitle is not null and page_subtitle is not empty %}
    {% set subtitle = page_subtitle %}
{% else %}
    {% set subtitle = '' %}
{% endif %}#}

{% if type != 'homepage' and not is_front %}


    <div class="clearfix"></div>

    <section class="page-title-1" style="{{ field_page_header_bg }}">
        <div class="container">
            <div class="row">
                <h1 class="big-text text-white font-weight-8 text-center">{{ title }}</h1>
            </div>
        </div>
    </section>
    <!-- end section-->
    <div class="clearfix"></div>


{% endif %}