<style>
  .page-title-1{
    display: none;
  }
  .header-section.style1 {
  position: relative;
  background-color: #000000d6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
</style>
{% if id == 'blog' %}
  {{ exposed }}

  <div{{ attributes }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}
    {{ header }}
    {{ attachment_before }}
    {% if rows %}
      <div>
        {{ rows }}
      </div>
    {% endif %}
    {{ footer }}
    {{ pager }}
    {{ attachment_after }}
    {{ more }}
    {{ feed_icons }}
  </div>
{% elseif id == 'testimonials_home_1' %}
  {% if display_id == 'testimonials_home_11' %}
    <section class="sec-more-padding-1 section-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 nopadding">
            {{ header }}
            <!--end title-->
            <div>
              <div id="owl-demo3-1" class="owl-carousel owl-theme">
                {% set k = 1 %}
                {% set t = 1 %}
                {% for i,row in rows.0['#rows'] %}
                {% set t = t + 1 %}
                {% if k == 1  %}
                <div class="item padding-top-2">
                  {{ row ? row }}
                  {% set k = k + 1 %}
                  {% if t > loop.length %}</div>{% endif %}
                {% else %}
                {{ row ? row }}
                {% set k = k + 1 %}
                {% if k > 3 or t > loop.length %}</div>{% set k = 1 %}{% endif %}
              {% endif %}
              {% endfor %}

              <!--end carousel item-->

              <!--end carousel item-->
            </div>
          </div>
        </div>
        <!-- end item -->
      </div>
      </div>
    </section>

  {% endif %}

{% else %}

  {% if display_id == 'block_recent_posts' %}
    <div{{ attributes.addClass(classes) }}>
      {# {{ title_prefix }} #}
      {{ title }}
      {#  {{ title_suffix }} #}
      {{ header }}
      {% for i,row in rows.0['#rows'] %}
        {{ row }}
        {% if loop.last == false %}
          <div class=" divider-line light solid light opacity-1 "></div>
          <div class="clearfix"></div>
          <br/>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% if display_id == 'block_filter_por' %}
      <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
        {{'All'|t}}
        <div class="cbp-filter-counter"></div>
      </div>
      {# {{ header }} #}
      {# {{ attachment_before }} #}
      {{ rows }}
    {% else %}
      {%
        set classes = [
        dom_id ? 'js-view-dom-id-' ~ dom_id,
      ]
      %}
      {{ exposed }}
      <div{{ attributes.addClass(classes) }}>
        <div class="contenair">
          <div class="row">
            <div class="col-md-8">
              {# {{ title_prefix }} #}
              {{ title }}
              <h1 style="color: #12496d;">A la une</h1>
              <div class="tiret"></div>
              <br>
              {#  {{ title_suffix }} #}
              {{ header }}
              {{ attachment_before }}
              {{ rows }}
              {{ footer }}
              {% if pager %}
                <div class="pagination">
                  {{ pager }}
                </div>
              {% endif %}
              {{ attachment_after }}
              {{ more }}
              {{ feed_icons }}
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" style="padding-top: 5%;padding-bottom: 5%;background-color: #EFEEF6;margin-top: -2.3em;">
              <h1 style="color: #5f3f3f;">En bref</h1>
              <div class="tiret-rouge"></div>
              <h5>
                Salariés du privé : fin des cotisation salariales d'assurance chomage
              </h5>
              <h6 class="publier">Publié le 27 septembre 2018</h6>
              <div class="clearfix" style="border-bottom: 1px solid #f3f3f3"></div>

              <h5>
                Electricité et gaz : un guide gratuit pour vous aider à mieux gérer votre consomation
              </h5>
              <h6 class="publier">Publié le 01 octobre 2018</h6>
              <div class="clearfix" style="border-bottom: 1px solid #f3f3f3"></div>

              <h5>
                Préjudice médical : que faire en cas d'accident médical, d'infection nosocomiale, d'effet indésirable d'un médicament ?
              </h5>
              <h6 class="publier">Publié le 27 septembre 2018</h6>

            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  jQuery('article').after('<div style="border-bottom: 1px solid #efefef; margin-top : 3%;"></div><br/>');
</script>
