{% if id == 'blog' %}
    {{ exposed }}
        
    <div{{ attributes }}>
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}
        {{ header }}
        {{ attachment_before }}
            {% if rows %} 
            <div> 
                {{ rows }}
            </div>
            {% endif %}
        {{ footer }}
        {{ pager }}
        {{ attachment_after }}
        {{ more }}
        {{ feed_icons }}
    </div>
{% elseif id == 'testimonials_home_1' %}
    {% if display_id == 'testimonials_home_11' %}
        <section class="sec-more-padding-1 section-light">
          <div class="container">
            <div class="row">
              <div class="col-md-12 nopadding">
                  {{ header }}
                <!--end title-->
                <div>
                  <div id="owl-demo3-1" class="owl-carousel owl-theme">
                    {% set k = 1 %}
                    {% set t = 1 %}
                    {% for i,row in rows.0['#rows'] %}
                        {% set t = t + 1 %}
                        {% if k == 1  %}
                        <div class="item padding-top-2">  
                              {{ row ? row }}
                            {% set k = k + 1 %}
                            {% if t > loop.length %}</div>{% endif %}
                        {% else %}
                            {{ row ? row }}
                            {% set k = k + 1 %}
                            {% if k > 3 or t > loop.length %}</div>{% set k = 1 %}{% endif %} 
                        {% endif %}
                    {% endfor %}
           
                    <!--end carousel item-->
               
                    <!--end carousel item--> 
                  </div>
                </div>
              </div>
              <!-- end item -->
            </div>
          </div>
        </section>

    {% endif %}

{% elseif id == '_intrat_block_target_2_' %}
    {% if display_id == 'intrat_block_target_2_' %}
        <section class="sec-more-padding-1">
          <div class="container">
            <div class="row">
              {{ header }}
              <div class="clearfix margin-bottom-2"></div>
              {% for i,row in rows.0['#rows'] %}

                  {% if (i % 4) == 0 and i > 0 %}
                     <div class="clearfix margin-bottom-6"></div>
                  {% endif %}
                  {{ row }}
              {% endfor %}
             </div>
          </div>
        </section>
         <div class="clearfix"></div> 
    {% elseif display_id == '_intrat_block_target_2_home2' %}
        <section class="sec-tpadding-3 section-light">
          <div class="container">
            <div class="row">
              {{ header }}
             <div class="clearfix margin-bottom-5"></div>
              {% for i,row in rows.0['#rows'] %}

                  {% if (i % 4) == 0 and i > 0 %}
                     <div class="clearfix margin-bottom-6"></div>
                  {% endif %}
                  {{ row }}
              {% endfor %}
           </div>
         </div>
       </section>
    {% endif %}
{% elseif id == '_intrat_target_identity_systems' %}

    {% if display_id == 'intrat_target_home1' %}
       <section class="sec-more-padding-1 section-dark">
          <div class="container">
            <div class="row">
                {% for i,row in rows.0['#rows'] %}

                  {% if (i % 4) == 0 and i > 0 %}
                     <div class="clearfix margin-bottom-6"></div>
                  {% endif %}
                  {{ row }}
                {% endfor %}
            </div>
          </div>
        </section>
      <div class="clearfix"></div>

    {% endif %}
{% elseif id == '_matri_block_portfolio' %}
    {% if display_id == 'block_portfolio_column' %}
      {% if columns_por == 'columns_six' %}
        {% set id_column = '6' %}
      {% elseif columns_por == 'columns_three' %}
        {% set id_column = '3' %}
      {% elseif columns_por == 'columns_four' %}
        {% set id_column = '4' %}
      {% elseif columns_por == 'columns_five' %}
        {% set id_column = '5' %}
      {% else %}
        {% set id_column = '2' %}
      {% endif %}

      <div class="{% if columns_por == 'columns_six' %} container-fulid {% else %} container {% endif %}">
        <div class="row {% if columns_por == 'columns_six' %} nopadding {% endif %}">
          <div id="js-filters-juicy-projects{{ id_column }}" class="cbp-l-filters-buttonCenter">
            {{ header }}
          </div>
          <div id="js-grid-juicy-projects{{ id_column }}" class="cbp">
            {{ rows }}
          </div>
        </div>
      </div>
    {% elseif display_id == 'block_portfolio_full_width' %}
      <div class="container-fluid">
        <div class="row">
          <div>
            <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
              {{ header }}
            </div>
            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
              {{ rows }}
            </div>
          </div>
        </div>
      </div>
    {% elseif display_id == 'no_space' %}
      <div class="container">
        <div class="row">
          <div>
            <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
              {{ header }}
            </div>
            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
              {{ rows }}
            </div>
          </div>
        </div>
      </div>
    {% elseif display_id == 'block_portfolio_single' %}
      <div id="js-grid-slider-projects" class="cbp">
       {{ rows }}   
      </div>
    {% elseif display_id == 'block_portfolio_gallery' %}
      <div class="container">
        <div class="row">
          <div>
            <div class="clearfix">
              <div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-left">
                {{ header }}
              </div>
            </div>
            <div id="js-grid-lightbox-gallery" class="cbp">
              {{ rows }}
            </div>
          </div>
        </div>
      </div>    
    {% elseif display_id == 'block_portfolio_classic' %}
      <div class="container">
        <div class="row">
          <div>
            <div class="clearfix">
              <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
                {{ header }}
              </div>
            </div>
            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
              {{ rows }}
            </div>
          </div>
        </div>
      </div>  
    {% elseif display_id == 'block_portfolio_boxed_size' %}
      <div class="container">
        <div class="row">
          <div>
            <div class="clearfix">
              <div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-left">
                {{ header }}
              </div>
            </div>
            <div id="js-grid-lightbox-gallery" class="cbp">
              {{ rows }}
            </div>
          </div>
        </div>
      </div> 
    {% elseif display_id == 'block_portfolio_home6' %}
      <div class="container">
        <div class="row">
          <div>
            <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
              {{ header }}
            </div>
            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
              {{ rows }}
            </div>
          </div>
        </div>
      </div> 
     {% elseif display_id == 'intrat_block_portfolio_home2' %}
        <div class="triangle-bottomright"></div>
        <section class="section-secondary">
          <div class="container-fulid">
            <div class="row nopadding">
              {{ header }}
              {% for i,row in rows.0['#rows'] %}

                  {% if (i % 4) == 0 and i > 0 %}
                      <div class="clearfix"></div>
                  {% endif %}
                {{ row }}
              {% endfor %}
            </div>
          </div>
        </section>

     {% elseif display_id == 'block_portfolio_home1' %}
        <section class="sec-more-padding-1">
          <div class="container-fulid">
            <div class="row nopadding">
              <div class="col-md-12 nopadding">
                  {{ header }}
                  <div class="clearfix margin-bottom"></div>
                    <div class="less5">
                        {% for i,row in rows.0['#rows'] %}

                            {% if (i % 4) == 0 and i > 0 %}
                                <div class="clearfix margin-bottom-11"></div>
                            {% endif %}
                          {{ row }}
                        {% endfor %}
                    </div>
              </div>
            </div>
          </div>
        </section>
          <div class="clearfix"></div>

    {% else %}
        <div{{ attributes }}>
            {# {{ title_prefix }} #}
            {{ title }}
            {#  {{ title_suffix }} #}
            {{ header }}
            {{ attachment_before }}
            {{ rows }}
            {{ footer }}
            {% if pager %}
            <div class="pagination">
                {{ pager }}
            </div>
            {% endif %}
            {{ attachment_after }}
            {{ more }}
            {{ feed_icons }}
        </div>
    {% endif %}
{% elseif id == '_matri_block_section_content_2' %}
    {% if display_id == 'block_testimonial_1' %}
        <div{{ attributes }}>
            <div class="section-overlay bg-opacity-7">
                <div class="container sec-tpadding-3 sec-bpadding-3">
                    <div class="row">
                        <div class="col-md-8 col-sm-10 col-centered text-center">
                            {{ header }}
                            <div class="clearfix"></div>
                            <div id="owl-demo4" class="owl-carousel">
                                {{ rows }} 
                            </div>
                    <!--end carousel --> 
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    {% elseif display_id == 'block_blog2_home_1' %}
        <section class="sec-more-padding-1">
          <div class="container">
            <div class="row">
              <div class="clearfix margin-bottom-2"></div>
              {{header}}
                {{ rows }}
               <div class="clearfix margin-bottom-8"></div>
              {{ footer }}
            </div>
          </div>
        </section>

    {% elseif display_id == 'block_testimonial_homepage' %}
      <div class="container">
          <div class="row ">
            {{ header }}
            <div>
              <div class="owl-carousel owl-theme" id="owl-demo3">
                  {% set k = 1 %}
                  {% set t = 1 %}
                  {% for i,row in rows.0['#rows'] %}
                      {% set t = t + 1 %}
                      {% if k == 1  %}
                          <div class="item padding-top-2">
                            {{ row ? row }}
                          {% set k = k + 1 %}
                          {% if t > loop.length %}</div>{% endif %}
                      {% else %}
                          {{ row ? row }}
                         
                          {% set k = k + 1 %}
                          {% if k > 3 or t > loop.length %}</div>{% set k = 1 %}{% endif %}
                      {% endif %}
                  {% endfor %}
                
              </div>
              <!--end carousel main--> 
            </div>
          </div>
        </div>
    {% elseif display_id == 'block_logo_shop' %}
      <div class="divider-line solid light"></div>
      <div class="container">
        <div class="row">
          <div class="clearfix"></div>
            {{ rows }}
        </div>
      </div>     
    {% elseif display_id == 'block_services_home13' %}
      <div class="container-fluid">
          <div class="row ">
            {{ header }}
            <div class="owl-carousel" id="owl-demo3">
                  {% set k = 1 %}
                  {% set t = 1 %}
                  {% for i,row in rows.0['#rows'] %}
                      {% set t = t + 1 %}
                      {% if k == 1  %}
                          <div class="item">
                            {{ row ? row }}
                          {% set k = k + 1 %}
                          {% if t > loop.length %}</div>{% endif %}
                      {% else %}
                          {{ row ? row }}
                         
                          {% set k = k + 1 %}
                          {% if k > 4 or t > loop.length %}</div>{% set k = 1 %}{% endif %}
                      {% endif %}
                  {% endfor %} 
            </div>
          </div>
        </div>
    {% elseif display_id == 'block_blog_homepage' %}
      <div class="container-fulid">
          <div class="row nopadding">
            {{ header }}
      
            {% for i,row in rows.0['#rows'] %}

                {% if rows.0['#rows']|length < 2 %}
                  <div class="col-md-6 nopadding animate" data-anim-delay="700" data-anim-type="fadeInUp">
                    {{ row }}
                  </div>
                {% else %}
                  {% if i == 0 %}
                    <div class="col-md-6 nopadding animate" data-anim-delay="700" data-anim-type="fadeInUp">
                      {{ row }}
                    </div>
                  {% else %}
                    <div class="col-md-3 nopadding animate" data-anim-delay="900" data-anim-type="fadeInUp">
                      {{ row }}
                    </div>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </div>
        </div>
    {% elseif display_id == 'block_blog_page' %}
      <div class="container-fulid">
          <div class="row nopadding">
            {{ header }}
      
            {% for i,row in rows.0['#rows'] %}
              <div class="col-md-3 nopadding animate" data-anim-delay="900" data-anim-type="fadeInUp">
                {{ row }}
              </div>
            
            {% endfor %}
          </div>
        </div>
    {% elseif display_id == 'block_blog_home_10' %}
      <div class="container">
          <div class="row nopadding">
            {{ header }}
      
            {% for i,row in rows.0['#rows'] %}

                {% if rows.0['#rows']|length < 2 %}
                  <div class="col-md-6 nopadding animate" data-anim-delay="700" data-anim-type="fadeInUp">
                    {{ row }}
                  </div>
                {% else %}
                  {% if i == 0 %}
                    <div class="col-md-6 nopadding animate" data-anim-delay="700" data-anim-type="fadeInUp">
                      {{ row }}
                    </div>
                  {% else %}
                    <div class="col-md-3 nopadding animate" data-anim-delay="900" data-anim-type="fadeInUp">
                      {{ row }}
                    </div>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </div>
        </div>
    {% elseif display_id == 'block_testimonial_2' %}
        <div{{ attributes }}>
          <div class="section-overlay bg-opacity-7">
                <div class="container sec-tpadding-3 sec-bpadding-3">
                  <div class="row">
                      <div class="col-md-8 col-centered text-center">
                          {{ header }}
                          <div class="clearfix"></div>
                          <div id="owl-demo3" class="owl-carousel">
                              {{ rows }} 
                          </div>
                  <!--end carousel --> 
                      </div>
                  </div>
              </div>
          </div>
        </div>
    {% elseif display_id == 'block_blog_onepage3' %}
        <div class="box__row-cell-info--full">
          {{ header }}
        </div>
        <div class="box__content-wrapper">
          <div class="box__content-inner">
            <div class="box__content-text">
              {{ rows }}
              <p class="clearfix"></p>
            </div>
          </div>
        </div>
    {% elseif display_id == 'block_blog_home_blog_2' %}
        <div class="container-fulid sec-tpadding-2 sec-bpadding-3">
          <div class="row nopadding">
            {{ rows }}
          </div>
        </div>
    {% elseif display_id == 'block_blog_home13' %}
        <div class="container-fulid">
            {{ header }}
            <div class="row nopadding blog-home13">
                {{ rows }} 
            </div>
        </div>
    {% elseif display_id == 'block_feature_home12' %}
        {{ footer }}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 col-sm-12 text-inner-4 clearfix align-left animate-in" data-anim-delay="300" data-anim-type="fade-in-left">
                        <div class="text-box section-white opacity-9 padding-8 ">
                            {{ header }}
                            <div class="clearfix">
                            </div>
                            {{ rows }}
                        </div>
                    </div>
                </div>
            </div>
    {% elseif display_id == 'block_service_home12' %}
          <div class="container-fluid">
              <div class="row less5">
                  {{ header }}
                  {{ rows }} 
              </div>
          </div>
    {% elseif display_id == 'block_target_home_11' %}
        <div class="container-fulid ">
            <div class="row no-gutter nopadding">
                {{ header }}
                <!-- end col -->
                <div class="col-md-7 col-sm-12">
                    <div class="feature_section5 padding-four sec-tpadding-3">
                        {{ rows }}
                    </div>
                </div>
            </div>
        </div>

    {% elseif display_id == 'block_team_home_parallax' %}
        <div class="section-overlay">
          <div class="container sec-tpadding-3 sec-bpadding-3">
            <div class="row">
              {{ rows }} 
            </div>
          </div>
        </div>

    {% elseif display_id == 'block_team_home7' %}
        <div class="container">
            <div class="row">
                {{ header }}
                <br/>
                <div class="col-md-7 col-sm-12">
                    {{ rows }} 
                </div>
            </div>
        </div>
    {% else %}
        <div{{ attributes }}>
            {{ title_prefix }}
            {{ title }}
            {{ title_suffix }}
            
            {{ header }}
            {{ attachment_before }}
            {% if rows %} 
                <div> 
                    {{ rows }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% elseif id == '_matri_shop' %}
    {% if display_id == 'page_shop' %}
             
        <div{{ attributes }}>
            {{ title_prefix }}
            {{ title }}
            {{ title_suffix }}
            <div class="row">
                
                {% if header %} 
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="inner-shop-top-left">  
                           {{ header }}
                       </div>
                   </div>
                {% endif %}
                {% if exposed %}
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="inner-shop-top-right exposed">
                            {{ exposed }}
                            {{ footer }}
                        </div>
                    </div>
                {% endif %}
            </div>
            {{ attachment_before }}
            {% if rows %} 
            <div class="row">
                {{ rows }}
            </div>
            {% endif %}
            {{ pager }}
            {{ attachment_after }}
            {{ more }}

            {{ feed_icons }}
        </div>
    {% else %}
        {%
            set classes = [
                dom_id ? 'js-view-dom-id-' ~ dom_id,
            ]
        %}
            {{ exposed }}
        {# {{ title_prefix }} #}
        {{ title }}
        {#  {{ title_suffix }} #}
        {{ header }}
        <div{{ attributes.addClass(classes) }}>
            
            {{ attachment_before }}
            {{ rows }}
            {{ footer }}
            {% if pager %}
            <div class="pagination">
                {{ pager }}
            </div>
            {% endif %}
            {{ attachment_after }}
            {{ more }}
            {{ feed_icons }}
        </div>
    {% endif %}
{% elseif id == '_matri_block_section_content' %}

    {% if display_id == 'block_blog_2' %}
        <div class="container">
          <div class="row">
            {{ header }}
            <!--end title-->
            <div class="clearfix margin-bottom-3"></div>
            <div class="col-md-12 slide-controls-5 nopadding">
              <div id="owl-demo8" class="owl-carousel">
                {{ rows }}
                <!--end item--> 
              </div>
            </div>
            <!--end item--> 
          </div>
        </div>
    {% elseif display_id == 'block_team_classic_3' %} 
            <div class="container">
            {{ header }}
            <div{{ attributes }}>
                {# {{ title_prefix }} #}
                {{ title }}
                {#  {{ title_suffix }} #}
                {{ attachment_before }}
              {% for i,row in rows.0['#rows'] %}

                  {% if (i % 3) == 0 and i > 0 %}
                     <div class="clearfix margin-bottom-3"></div>
                  {% endif %}
                  {{ row }}
              {% endfor %}
                {{ footer }}
                {% if pager %}
                <div class="pagination">
                    {{ pager }}
                </div>
                {% endif %}
                {{ attachment_after }}
                {{ more }}
                {{ feed_icons }}
            </div>
        </div>
           
    {% elseif display_id == 'block_team_3_home2' %}
        <div class="triangle-bottomleft"></div>
        <section class="sec-bpadding-3 sec-title-triangle2">
          <div class="container">
            <div class="row">
              {{ header }}
              <div class="clearfix margin-bottom-5"></div>
              {% for i,row in rows.0['#rows'] %}

                  {% if (i % 3) == 0 and i > 0 %}
                     <div class="clearfix margin-bottom-3"></div>
                  {% endif %}
                  {{ row }}
              {% endfor %}
            </div>
            </div>
          </section>

    {% elseif display_id == 'intrat_block_blog_home2' %}
        <section class="sec-tpadding-3">
            <div class="container">
              <div class="row">
                {{ header }}
                <div class="clearfix margin-bottom-5"></div>
                {{ rows }}
              </div>
            </div>
        </section>
        <div class="clearfix"></div>



    {% elseif display_id == 'intrat_block_blog_home1' %}   
        <div class="container">
            <div class="row">
                {{ header }}
                <div class="clearfix margin-bottom-2"></div>
                   {{ rows }}
            </div>
        </div >
        <div class="clearfix"></div>


    {% elseif display_id == 'team_service' %}   
        <div class="container">
          <div class="row">
              <div class="slide-controls-2 on-img">
                 <div id="owl-demo2" class="owl-carousel owl-theme">
                  {{ rows }}
                </div>
              </div>
            </div>
          </div>
        
    {% elseif display_id == 'block_services_services_1' %}
        <div class="container">
            <div class="row">
                {% set k = 1 %}
                {% set t = 1 %}
                {% for i,row in rows.0['#rows'] %}
                    {% set t = t + 1 %}
                    {% if k == 1  %}
                        <div class="col-md-4">
                          {{ row ? row }}
                        {% set k = k + 1 %}
                        {% if t > loop.length %}</div>{% endif %}
                    {% else %}
                        {{ row ? row }}
                        {% set k = k + 1 %}
                        {% if k > 2 or t > loop.length %}</div>{% set k = 1 %}{% endif %}
                    {% endif %}
                {% endfor %}


            </div>
          </div>

    {% elseif display_id == 'block_team_parallax_1' or display_id == 'block_team_parallax_2'%}
        <div class="section-overlay bg-opacity-5">
          <div class="container sec-tpadding-3 sec-bpadding-3">
              <div class="row">
                  {{ header }}
                  <div class="clearfix">
                  </div>
                  {{ rows }}
              </div>
          </div>
      </div>
    {% elseif display_id == 'block_team_home_classic' %}
        <div class="parallax-overlay primary">
            <div class="container-fluid sec-tpadding-3 sec-bpadding-3">
                <div class="row nopadding">
                    {{ header }}
                    <!--end title-->
                    <div class="clearfix margin-bottom-4">
                    </div>
                    <div class="col-md-12 col-centered">
                        {{ rows }}
                    </div>
                </div>
            </div>
        </div>      
    {% elseif display_id == 'block_team_2' %}
        <div class="container">
          <div class="row ">
            
            <div id="owl-demo3" class="owl-carousel owl-theme">
                {% set k = 1 %}
                {% set t = 1 %}
                {% for i,row in rows.0['#rows'] %}
                    {% set t = t + 1 %}
                    {% if k == 1  %}
                        <div class="item">
                          {{ row ? row }}
                        {% set k = k + 1 %}
                        {% if t > loop.length %}</div>{% endif %}
                    {% else %}
                        {{ row ? row }}
                       
                        {% set k = k + 1 %}
                        {% if k > 4 or t > loop.length %}</div>{% set k = 1 %}{% endif %}
                    {% endif %}
                {% endfor %}
              
            </div>
            <!--end carousel main--> 
          </div>
        </div>
    {% elseif display_id == 'block_feature' or display_id == 'block_feature_home6' %}
        <div class="container">
          <div class="row nopadding">
            {{ header }}
            <div class="col-md-12">
              {{ rows }}
            </div>
            <!--end carousel main--> 
          </div>
        </div>
    {% elseif display_id == 'block_feature_home9' %}
        {{ footer }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-inner-4 clearfix align-left animate-in" data-anim-delay="300" data-anim-type="fade-in-left">
                    <div class="text-box section-light opacity-9 padding-8 ">
                {{ header }}
                        <div class="clearfix">
                        </div>
                        {{ rows }}
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    {% elseif display_id == 'block_services_home6' %}
        <div class="container">
          <div class="row">
            {{ header }}
            <div class="col-md-12">
              {{ rows }}
            </div>
            <!--end carousel main--> 
          </div>
        </div>
    {% elseif display_id == 'block_clients_logo_2' %}
        <div class="container-fluid">
          <div class="row">
            {{ header }}
            <div class="col-md-12 col-sm-12 col-xs-12 slide-controls-2 text-center">
              <div id="owl-demo3" class="owl-carousel owl-theme">
                {% set k = 1 %}
                {% set t = 1 %}
                {% for i,row in rows.0['#rows'] %}
                    {% set t = t + 1 %}
                    {% if k == 1  %}
                        <div class="item">
                            <ul class="clients-list border-dark grid-cols-6 hover-4">
                          {{ row ? row }}
                        {% set k = k + 1 %}
                        {% if t > loop.length %}</ul></div>{% endif %}
                    {% else %}
                        {{ row ? row }}
                       
                        {% set k = k + 1 %}
                        {% if k > 6 or t > loop.length %}</ul></div>{% set k = 1 %}{% endif %}
                    {% endif %}
                {% endfor %}
              </div>
              <!--end carousel-->
            </div>
            <!--end item-->
          </div>
        </div>
    {% else %}
        <div class="container">
            {{ header }}
            <div{{ attributes }}>
                {# {{ title_prefix }} #}
                {{ title }}
                {#  {{ title_suffix }} #}
                {{ attachment_before }}
                {{ rows }}
                {{ footer }}
                {% if pager %}
                <div class="pagination">
                    {{ pager }}
                </div>
                {% endif %}
                {{ attachment_after }}
                {{ more }}
                {{ feed_icons }}
            </div>
        </div>
    {% endif %}
{% elseif id == '_matri_block_portfolio_masonry' %}
    {% if display_id == 'block_portfolio_masonry' %}
      <div class="container">
        <div class="row">
          <div id="js-filters-masonry" class="cbp-l-filters-buttonCenter">
            {{ header }}
          </div>
          <div id="js-grid-masonry" class="cbp">
            {{ rows }}
          </div>
        </div>
      </div>
    {% elseif display_id == 'block_portfolio_mosaic_flat' or display_id == 'block_portfolio_mosaic_flat_block'  %}
      <div class="container">
        <div class="row">
            {{ header }}
            <!--end title-->
            <div class="clearfix margin-bottom-5">
            </div>
            <div class="cbp cbp-l-grid-mosaic-flat homepage" id="js-grid-mosaic-flat">
              {{ rows }}
            </div>
        </div>
    </div>    
    {% elseif display_id == 'block_portfolio_onepage3'  %}
        <div class="box__row-cell-info--full">
            {{ footer }}
        </div>
        <div class="box__content-wrapper">
          <div class="box__content-inner">
            <div class="box__content-text">
              <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
                {{ header }}
              </div>
              <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                {{ rows }}
              </div>
            </div>
          </div>
        </div>
    {% elseif display_id == 'block_portfolio_mosaic_flat_page' %}
      <div class="container-fluid">
          <div class="row">
              <div class="cbp-l-filters-buttonCenter" id="js-filters-mosaic-flat">
                  {{ header }}
              </div>
              <div class="cbp cbp-l-grid-mosaic-flat homepage" id="js-grid-mosaic-flat">
                  {{ rows }}
              </div>
              {{ pager }}
          </div>
      </div>
    {% elseif display_id == 'block_portfolio_mosaic_flat_home13' %}
      <div class="container">
          <div class="row">
              {{ footer }}
              <div class="clearfix margin-bottom-2">
              </div>
              <!--end title-->
              <div class="cbp-l-filters-buttonCenter" id="js-filters-mosaic-flat">
                  {{ header }}
              </div>
              <div class="cbp cbp-l-grid-mosaic-flat home13" id="js-grid-mosaic-flat">
                  {{ rows }}
              </div>
          </div>
      </div>
    {% elseif display_id == 'block_portfolio_masonry_projects'  %}
      <div class="container">
        <div class="row">
          <div id="js-filters-masonry-projects" class="cbp-l-filters-buttonCenter">
            {{ header }}
          </div>
          <div id="js-grid-masonry-projects" class="cbp cbp-l-grid-masonry-projects">
            {{ rows }}
          </div>
        </div>
      </div>
    {% elseif display_id == 'block_portfolio_mosaic' %}
      <div class="container">
        <div class="row">
          <div id="js-filters-mosaic" class="cbp-l-filters-button">
            {{ header }}
          </div>
          <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
            {{ rows }}
          </div>
        </div>
      </div>
    {% elseif display_id == 'block_portfolio_mosaic_projects' %}
      <div class="container">
        <div class="row">
          <div class="clearfix">
            <div id="js-filters-mosaic-projects1" class="cbp-l-filters-button cbp-l-filters-left">
              {{ header }}
            </div>
          </div>
          <div id="js-grid-mosaic-projects" class="cbp cbp-l-grid-mosaic-projects">
            {{ rows }}
          </div>
        </div>
      </div>
    {% elseif display_id == 'block_slider_projects' %}
      <div class="container">
        <div class="row">
          <div id="js-grid-slider-projects" class="cbp">
            {{ rows }}
          </div>
        </div>
      </div>
    {% else %}
        {%
            set classes = [
                dom_id ? 'js-view-dom-id-' ~ dom_id,
            ]
        %}
            {{ exposed }}
        <div{{ attributes.addClass(classes) }}>
            {# {{ title_prefix }} #}
            {{ title }}
            {#  {{ title_suffix }} #}
            {{ header }}
            {{ attachment_before }}
            {{ rows }}
            {{ footer }}
            {% if pager %}
            <div class="pagination">
                {{ pager }}
            </div>
            {% endif %}
            {{ attachment_after }}
            {{ more }}
            {{ feed_icons }}
        </div>
    {% endif %} 
{% elseif id == 'product_gird' %} 
  {% if display_id == 'product_gird_' %} 
              {%
        set classes = [
                dom_id ? 'js-view-dom-id-' ~ dom_id,
            ]
        %}
            {% if shop_gird_column == '2col' %}
              {% set point = 2 %}
            {% elseif shop_gird_column == '3col' %}
              {% set point = 3 %}
            {% elseif shop_gird_column == '4col' %}
              {% set point = 4 %}
            {% elseif shop_gird_column == '5col' %}
              {% set point = 5 %}
            {% elseif shop_gird_column == '6col' %}
              {% set point = 6 %}
            {% else  %}
              {% set point = 2 %}
            {% endif %}

        <div{{ attributes.addClass(classes) }}>
             {% for i,row in rows.0['#rows'] %}
                
                {% if (i % point) == 0 and i > 0 %}
                <div class="clearfix"></div>
                <div class="col-divider-margin-4"></div>
                {% endif %}
                 {{ row }}
            {% endfor %}
            {{ footer }}
            {% if pager %}
            <div class="pagination">
                {{ pager }}
            </div>
            {% endif %}

        </div
  {% else %}
    {{ rows }}
  {% endif %}
{% elseif id == 'product_catalog' %}
    {% if display_id == 'block_related_products_3_col' %}
        <div class="row">
          {{ header }}
            <div class="clearfix">
            </div>
            {{ rows }}
        </div>
    {% else %}
      <div class="container">
          <div class="row">
            {{ header }}
              <div class="clearfix">
              </div>
              {{ rows }}
          </div>
      </div>
    {% endif %}
{% elseif id == 'product_calalog_2' %}
  {% if display_id == 'intrat_block_featured_footer' or display_id == 'intrat_block_sales_footer' %}
    <div class="item-holder">
           {{ header }}
          <div class="footer-title-bottomstrip dark"></div>
          <div class="clearfix"></div>
             {{ rows }}
       </div>
  {% elseif display_id == 'three_col_product' %}
        {%
            set classes = [
                dom_id ? 'js-view-dom-id-' ~ dom_id,
            ]
        %}
            {{ exposed }}
        <div{{ attributes.addClass(classes) }}>
            {# {{ title_prefix }} #}
            {{ title }}
            {#  {{ title_suffix }} #}
            {{ header }}
            {{ attachment_before }}
            {{ rows }}
            {{ footer }}
            {% if pager %}
            <div class="pagination">
                {{ pager }}
            </div>
            {% endif %}
            {{ attachment_after }}
            {{ more }}
            {{ feed_icons }}
        </div>
  {% else %}
    {{ rows }}
  {% endif %}
 
{% elseif id == 'shop_sidebar_categories' %}
  {% if display_id == 'shop_sidebar_categories_'  %}
      <ul class="sp-sb-links">
        {{ rows }}
      </ul>
  {% elseif display_id == 'shop_sidebar_tags_'  %}
      <ul class="sp-tags">
        {{ rows }}
      </ul>
 
  {% else %}
    {{ rows }}
  {% endif %}



{% else %}

    {% if display_id == 'block_recent_posts' %}
        <div{{ attributes.addClass(classes) }}>
            {# {{ title_prefix }} #}
            {{ title }}
            {#  {{ title_suffix }} #}
            {{ header }}
            {% for i,row in rows.0['#rows'] %}
                {{ row }}
                {% if loop.last == false %} 
                    <div class=" divider-line light solid light opacity-1 "></div>
                    <div class="clearfix"></div>
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
      {% if display_id == 'block_filter_por' %}
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
           {{'All'|t}} 
          <div class="cbp-filter-counter"></div>
       </div>
        {# {{ header }} #}
        {# {{ attachment_before }} #}
        {{ rows }}
      {% else %}
        {%
            set classes = [
                dom_id ? 'js-view-dom-id-' ~ dom_id,
            ]
        %}
            {{ exposed }}
        <div{{ attributes.addClass(classes) }}>
            {# {{ title_prefix }} #}
            {{ title }}
            {#  {{ title_suffix }} #}
            {{ header }}
            {{ attachment_before }}
            {{ rows }}
            {{ footer }}
            {% if pager %}
            <div class="pagination">
                {{ pager }}
            </div>
            {% endif %}
            {{ attachment_after }}
            {{ more }}
            {{ feed_icons }}
        </div>
      {% endif %}
    {% endif %}
{% endif %}