.panel ul{
	list-style: none;
	
}
.panel ul li{
	display: inline-block;
	text-align: center;
	padding: 25px 30px 25px 0px;
	margin-right: 10px;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.panel ul li:hover {
	letter-spacing: 5px;
}
.panel ul li a{
	color: #87d37c;
	padding: 18px 0px 18px 0px;
}
.panel ul li:hover a{
	color: #1d2025;
}


@media screen and (max-width: 40em){
.panel ul li{
	display: block;
	padding: 12px 27px;
	text-align: left;
}
.tag{display: none;}
}

header.oneheader {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 9998;
  color: #fff;
  transition: all 0.3s ease;
  background-color:#000;
}
header.oneheader .logo {
	float: left;
	margin-top: 61px;
}
header.oneheader.small {
    height: 70px;
}
header.oneheader.small .logo {
	margin-top: 10px;
}
header.oneheader.small #nav-toggle {
    top: 9px;
}
header.oneheader.small .panel {
    top: 70px;
}


.panel {
  position: absolute;
  width: 100%;
  border: 0px;
  padding: 0;
  background: #fff;
  border-radius: 0px;
  color: white;
  top: 120px;
  display: none;
  z-index: 9998;
  overflow: scroll;
  margin-bottom: 0;
  padding-bottom: 0;
  -ms-overflow-style: none;
  overflow:hidden;
}

.mask {
  background: rgba(0,0,0,0.62);
  height: 100%;
  width: 100%;
  z-index: 9997;
  position: fixed;
  top: 0;
  opacity: 0
}

#nav-toggle {
  width: 30px;
  height: 40px;
  display: block;
  background: none;
  position: absolute;
  top: 65px;
  right: 0px;
  transition: all 0.3s ease
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #fff;
  position: absolute;
  top: 27px;
  right: 0px;
  display: block;
  content: ''
}

#nav-toggle span:before { top: -8px }

#nav-toggle span:after {
  bottom: -8px;
  top: 8px
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after { transition: all 500ms ease-in-out }

#nav-toggle.active span { background-color: transparent }

#nav-toggle.active span:before,
#nav-toggle.active span:after { top: 0 }

#nav-toggle.active span:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg)
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg)
}

#nav-toggle:hover { opacity: 0.5; cursor: pointer; }


@media only screen and (max-width: 768px){

#nav-toggle {
  right: 25px;
}


}