

/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*========= Band layout styles ===========*/

/*============ Feature boxes ============ */

.bd-feature-box-1{
	width:100%;
	padding:40px 26px;
	float:left;
	background-color:#fff;
}
.bd-feature-box-1 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.bd-feature-box-1 .img-box .price{
	position: absolute;
	width:100px;
	height:45px;
	bottom: -20px;
	left: 70px;
	padding:10px 0 0 0;
	font-size:18px;
	text-align:center;
	float:left;
	z-index:2;
	background-color:#fff;
}

/* ---------- feature box 2 ---------- */

.bd-feature-box-2{
	width:100%;
	float:left;
	border:1px solid #f1f1f1;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.bd-feature-box-2 .img-box{
	position:relative;
	width:100%;
	float:left;
	overflow:hidden;
}
.bd-feature-box-2 .img-box .sc-icons-box{
	position: absolute;
	width:100%;
	padding:0px;
	margin:0px;
	bottom:-54px;
	left:0;
	float:left;
	background-color:#ecae3d;
	transition: all 0.3s ease-out 0s;
}
.bd-feature-box-2 .img-box .sc-icons-box .sc-icons{
	width:100%;
	padding:0px;
}
.bd-feature-box-2 .img-box .sc-icons-box .sc-icons li{
	padding:0px;
	display:inline-block;
}
.bd-feature-box-2 .img-box .sc-icons-box .sc-icons li a{
	padding:10px 10px;
	color:#fff;
	display:inline-block;
}
.bd-feature-box-2 .img-box .sc-icons-box .sc-icons li a:hover{
	color:#101010;
}
.bd-feature-box-2:hover .img-box .sc-icons-box, .bd-feature-box-2.active .img-box .sc-icons-box{
	bottom:-10px;
}
.bd-feature-box-2:hover, .bd-feature-box-2.active{
	background-color:#101010;
	border:1px solid #101010;
}
.bd-feature-box-2:hover h5, .bd-feature-box-2.active h5{
	color:#fff;
}
/* ---------- feature box 3 ---------- */

.bd-feature-box-3{
	width:100%;
	float:left;
	margin-bottom:15px;
	padding: 30px 17px;
	background-color:#fff;
}
.bd-feature-box-3 .datebox{
	width:100%;
	height:85px;
	float:left;
	padding:14px 0 0 0;
	text-align:center;
	border:1px solid #f1f1f1;
}
.bd-feature-box-3 .datebox span{
	font-size:16px;
}

/* ---------- feature box 4 ---------- */

.bd-feature-box-4{
	width:100%;
	float:left;
	background-color:#fff;
}
.bd-feature-box-4 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.bd-feature-box-4 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.bd-feature-box-4 .post-date-box {
	background-color:#fff;
	color:#101010;
}
.bd-feature-box-4 .post-date-box span {
	color:#101010;
}
.bd-feature-box-4:hover .post-date-box, .bd-feature-box-4.active .post-date-box {
	background-color:#ecae3d;
	color:#fff;
}
.bd-feature-box-4:hover .post-date-box span, .bd-feature-box-4.active .post-date-box span {
	color:#fff;
}
.bd-feature-box-4:hover h4, .bd-feature-box-4.active h4 {
	color:#ecae3d;
}


/*============ Section Titles ============ */

/* title container
 ------------------------------ */
.sec-title-container {
	width:100%;
	float:left;
	padding-bottom:70px;
}
.sec-title-container.less-padding {
	padding-bottom:50px;
}

/* page title
 ------------------------------ */
.bd-section-title {
	font-weight: 400;
	font-size:60px;
}
.bd-section-title.small {
	font-weight: 400;
	font-size:40px;
}
/* subtitle
 ------------------------------ */
.bd-sub-title {
	width: 100%;
	font-size: 14px;
	margin: 0;
}


/* title line
 ------------------------------ */
.bd-title-line-1 {
    width: 125px;
    height: 4px;
    margin: 12px auto 0 auto;
    border-top: 1px solid #ecae3d;
}
.bd-title-line-1.align-left {
	width: 125px;
	margin:4px auto 0 0;
}


/*============ Parallax Sections ============ */
.parallax-2 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/bd-parallax1.jpg") no-repeat fixed 50% 0;
}


/*============ portfolio ============ */

/* portfolio box 1
 ------------------------------ */
.bd-portfolio-box-1 {
	width:100%;
	float:left;
	padding:0px;
	transition: all 0.3s ease-out 0s;
}
.bd-portfolio-box-1 .item-box {
	position:relative;
	width:100%;
	float:left;
	padding:0px;
	z-index:1;
}
.bd-portfolio-box-1 .item-box .hover-box {
	position: absolute;
	width:100%;
	height:100%;
	float:left;
	padding:30px;
	z-index:2;
	opacity:0;
	background-color:rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-out 0s;
}
.bd-portfolio-box-1 .item-box .hover-box .inner-box {
	width:100%;
	height:100%;
	float:left;
	padding:80px 0 0 0;
	z-index:2;
	border:2px solid #ecae3d;
	background-color:rgba(255, 255, 255, 0.3);
}
.bd-portfolio-box-1.item-top-padding-1 .item-box .hover-box .inner-box {
	padding:80px 0 0 0;
}
.bd-portfolio-box-1:hover .item-box .hover-box, .bd-portfolio-box-1.active .item-box .hover-box {
	opacity:1;
}











/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
	
.by-feature-box-1 .price {
    margin: 160px 0 0 65px;
}
.by-feature-box-1 .item-circle {
    width: 220px;
    height: 220px;
}
.iconbox-dxlarge {
    width: 165px;
    height: 165px;
}
.bd-feature-box-2:hover .img-box .sc-icons-box, .bd-feature-box-2.active .img-box .sc-icons-box {
    bottom: -55px;
}
.bd-feature-box-2 .img-box .sc-icons-box {
    bottom: -97px;
}






}
	
@media only screen and (max-width: 1000px) {
	
.sec-m-margin-1 {
    margin-top: 0px;
}

	}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {

.by-feature-box-1 .price {
    margin: 150px 0 0 65px;
}
.by-parallax-sec-1 .overlay-img {
    margin: 0 0 0 223px;
}
.by-feature-box-3 {
    border-right:none;
}
.by-feature-box-3 .img-box .price {
    left: 30px;
}
.bd-feature-box-2:hover .img-box .sc-icons-box, .bd-feature-box-2.active .img-box .sc-icons-box {
    bottom: -12px;
}
.bd-feature-box-2 .img-box .sc-icons-box {
    bottom: -55px;
}







}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {
.by-feature-box-1 .price {
    margin: 168px 0 0 68px;
}
 .by-feature-box-1{
	 margin-bottom:30px;
}
.by-parallax-sec-1 .overlay-img {
    margin: 0 0 0 150px;
}




}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {

.bd-feature-box-1 .img-box .price {
    left: 95px;
}
}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.by-parallax-sec-1 .overlay-img {
    margin: 0 0 0 70px;
}




}


@media screen and (max-width: 480px) {
.bd-portfolio-box-1.item-top-padding-1 .item-box .hover-box .inner-box {
    padding: 10px 0 0 0;
}
.bd-feature-box-1 .img-box .price {
    left: 95px;
}
.bd-feature-box-2:hover .img-box .sc-icons-box, .bd-feature-box-2.active .img-box .sc-icons-box {
    bottom: -5px;
}
.bd-feature-box-2 .img-box .sc-icons-box {
    bottom: -55px;
}




}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {
.bd-portfolio-box-1 .item-box .hover-box {
    padding: 10px;
}
.bd-feature-box-4 .post-date-box {
    width: 65px;
    height: 65px;
    padding: 14px 0 0 0;
}



}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {


}