


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*========= Band layout styles ===========*/

/*============ Feature boxes ============ */

.br2-feature-box-1{
	width:100%;
	padding:30px;
	float:left;
	margin-bottom:30px;
	border:3px solid #f5f5f5;
}
.br2-feature-box-1:hover h5{
	color:#ecae3d;
}
.br2-feature-box-1:hover .icon-plain-msmall{
	color:#ecae3d;
}



/* ---------- feature box 2 ---------- */

.br2-feature-box-2{
	width:100%;
	float:left;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.br2-feature-box-2 .text-box{
	position: relative;
	float:left;
	border:3px solid #f5f5f5;
	z-index:2;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.br2-feature-box-2 .text-box .sc-icons-box{
	position: absolute;
	width:80%;
	padding:0px;
	margin:0px;
	bottom:150px;
	left:38px;
	float:left;
	opacity:0;
	overflow:hidden;
	z-index:1;
	background-color:#ecae3d;
	transition: all 0.3s ease-out 0s;
}
.br2-feature-box-2 .text-box .sc-icons-box .sc-icons{
	width:100%;
	padding:0px;
}
.br2-feature-box-2 .text-box .sc-icons-box .sc-icons li{
	padding:0px;
	display:inline-block;
}
.br2-feature-box-2 .text-box .sc-icons-box .sc-icons li a{
	padding:10px 10px;
	color:#fff;
	display:inline-block;
}
.br2-feature-box-2:hover .text-box .sc-icons-box, .br2-feature-box-2.active .text-box .sc-icons-box{
	bottom:184px;
	left:38px;
	opacity:1;
}
.br2-feature-box-2:hover .text-box, .br2-feature-box-2.active .text-box{
	background-color:#101010;
}
.br2-feature-box-2:hover h5, .br2-feature-box-2.active h5{
	color:#fff;
}

/* ---------- feature box 3 ---------- */

.br2-feature-box-3{
	width:100%;
	float:left;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.br2-feature-box-3 .text-box{
	position: relative;
	width:100%;
	float:left;
	z-index:2;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.br2-feature-box-3 .text-box .iconbox-small{
	position: absolute;
	float:left;
	z-index:2;
	right: 31px;
	top: -42px;
	color:#101010;
	border:3px solid #fff;
	background-color:#f5f5f5;
}

/* ---------- feature box 4 ---------- */

.br2-feature-box-4{
	width:100%;
	float:left;
	margin-bottom:30px;
}
/*============ client logo list ============ */

ul.br2-client-logo-list{
	width:100%;
	padding:0px;
}
ul.br2-client-logo-list li{
	width: 19.7%;
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}
ul.br2-client-logo-list li:last-child{
	border-right:none;
}
ul.br2-client-logo-list.two li{
	width: 19.7%;
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #f1f1f1;
	border-bottom:none;
}
ul.br2-client-logo-list.two li:last-child{
	border-right:none;
}
ul.br2-client-logo-list li a{
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
}
ul.br2-client-logo-list li a img{
	text-align:center;
}
/*============ Section Titles ============ */

/* page title
 ------------------------------ */
.br2-section-title {
	font-size:30px;
}
.br2-section-title.small {
	font-size:24px;
}



/*============ Parallax Sections ============ */

.parallax-7 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/br2-parallax2.jpg") no-repeat fixed 50% 0;
}

.br2-parallax-sec-1 {
	position:relative;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0px;
	text-align: center;
	background: url(../images/parallax/br2-parallax1.jpg);
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-position: center;
	z-index: 1;
}
.br2-parallax-sec-2 {
	position:relative;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0px;
	text-align: center;
	background: url(../images/parallax/br2-parallax2.jpg);
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-position: center;
	z-index: 1;
}
.br2-parallax-sec-3 {
	position:relative;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0px;
	text-align: center;
	background: url(../images/parallax/br2-parallax3.jpg);
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-position: center;
	z-index: 1;
}

/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
	





}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {




}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {
ul.br2-client-logo-list li {
    width: 18.7%;
}
ul.br2-client-logo-list.two li {
    width: 18.7%;
}



}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {


}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {

ul.br2-client-logo-list li {
    width: 32.7%;
}
ul.br2-client-logo-list.two li {
    width: 32.7%;
}


}


@media screen and (max-width: 480px) {
ul.br2-client-logo-list li {
    width: 47.7%;
}
ul.br2-client-logo-list.two li {
    width: 47.7%;
}


}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

ul.br2-client-logo-list li {
    width: 80%;
}
ul.br2-client-logo-list.two li {
    width: 80%;
}





}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {


}