


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*========= Band layout styles ===========*/

/*============ Feature boxes ============ */

.ce-feature-box-1{
	width:100%;
	padding:0px;
	float:left;
}
.ce-feature-box-1 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
	margin-bottom:20px;
	border:1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-1 .img-box .price{
	position: absolute;
	width:72px;
	height:72px;
	padding:0px;
	float:left;
	z-index:2;
	right:0px;
	bottom:0px;
	line-height:72px;
	text-align:center;
	font-size:16px;
	color:#101010;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-1 .text-box{
	width:100%;
	padding:40px;
	float:left;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-1:hover .img-box, .ce-feature-box-1.active .img-box{
	border:1px solid #101010;
}
.ce-feature-box-1:hover .text-box, .ce-feature-box-1.active .text-box{
	background-color:#101010;
}
.ce-feature-box-1:hover .text-box h5, .ce-feature-box-1.active .text-box h5{
	color:#fff;
}
.ce-feature-box-1:hover .img-box .price, .ce-feature-box-1.active .img-box .price{
	color:#fff;
	background-color:#101010;
}

/* ---------- feature box 2 ---------- */
.ce-feature-box-2{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
	min-height:750px;
}
.ce-feature-box-2 .img-box{
	position: absolute;
	width:450px;
	height:750px;
	padding:0px;
	float:left;
}
.ce-feature-box-2 .text-box{
	position: absolute;
	width:65%;
	padding:15px;
	right:0px;
	min-height:620px;
	margin:0px;
	top:0px;
	float:left;
	z-index:2;
	border:6px solid #fff;
}
.ce-feature-box-2 .text-box .inner-box{
	position: absolute;
	width: 96%;
	height: 95%;
	padding:80px;
	float:left;
	margin:0px;
	background-color:#fff;
}

/* ---------- feature box 3 ---------- */
.ce-menu-list {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.ce-menu-list li {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ce-menu-list li:last-child {
	border-bottom: none;
}
.ce-menu-list li .item {
	float: left;
	text-align: left;
}
.ce-menu-list li .price {
	float: right;
	text-align: right;
}

/* ---------- feature box 4 ---------- */
.ce-feature-box-4{
	width:100%;
	padding:0px;
	float:left;
}

/* side image
 ------------------------------ */
.ce-side-image {
	position: relative;
	padding: 0px;
	margin: 0px;
}
.ce-side-image .img-holder {
	overflow: hidden;
	height: 100%;
	padding: 30px 0 0 0;
	top:0px;
	position: absolute;
}
.ce-side-image .background-imgholder{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-size: cover !important;
	background-position: center -10px !important;
}

.ce-feature-box-4 .text-box{
	width:100%;
	padding:15px;
	right:0px;
	min-height: 431px;
	margin:0px;
	float:left;
	border:6px solid #f5f5f5;
}
.ce-feature-box-4 .text-box .inner-box{
	width: 100%;
	height: 89.8%;
	padding:80px;
	float:left;
	margin:0px;
	background-color:#f5f5f5;
}
.ce-feature-box-4 .text-box .inner-box .social-icons-2{
	margin: 30px 0 0 -39px;
}

/* ---------- feature box 5 ---------- */
.ce-feature-box-5{
	width:100%;
	padding:17px;
	float:left;
	border:1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-5 .inner-box{
	width:100%;
	padding:25px;
	float:left;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-5:hover, .ce-feature-box-5.active{
	border:1px solid #101010;
}
/* ---------- feature box 6 ---------- */
.ce-feature-box-6{
	width:100%;
	min-height:285px;
	float:left;
}





/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.ce-title-line-1 {
	width: 125px;
	height:2px;
	margin:4px auto 0 auto;
	border-bottom:1px solid #eaeaec;
}
.ce-title-line-2 {
	width: 180px;
	height:2px;
	margin:10px auto 0 auto;
	border-bottom:1px solid #eaeaec;
}
.ce-title-line-1.align-left {
	width: 125px;
	margin:4px auto 0 0;
}
.ce-title-line-2.align-left {
	width: 160px;
	margin:10px auto 0 0;
}
.ce-title-line-1.dark, .ce-title-line-2.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
/*============ Parallax Sections ============ */
.parallax-8 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce-parallax2.jpg") no-repeat fixed 50% 0;
}
.parallax-9 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce-parallax3.jpg") no-repeat fixed 50% 0;
}
.parallax-10 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce-parallax1.jpg") no-repeat fixed 50% 0;
}


/*============ blog ============ */

.ce-post-holder{
	width:100%;
	padding:0px;
	float:left;
}
.ce-post-holder .ce-post-img{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.ce-post-holder .text-box{
	height:274px;
	padding:60px 50px 50px 50px;
}
.ce-post-holder .text-box.one{
	height:274px;
}
.ce-post-holder .text-box .blog-post-info span{
	color:#ecae3d;
}

.ce-post-holder .ce-post-img .arrow-up {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	bottom:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	z-index:2;
}
.ce-post-holder .ce-post-img .arrow-down {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	top:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
	
.ce-post-holder .text-box {
	height: 217px;
    padding: 30px 30px 30px 30px;
}
.ce-post-holder .text-box.one {
    height: 218px;
}








}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {

.ce-feature-box-6 {
    min-height: 355px;
}
.ce-feature-box-6 .newsletter-box {
    top: 245px;
}

}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {

.ce-feature-box-2 .text-box {
    min-height: 730px;
}

}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {


}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {

.ce-feature-box-2 .text-box {
    top: 500px;
	width: 100%;
}
.ce-feature-box-2 {
    margin-bottom: 550px;
}






}


@media screen and (max-width: 480px) {

.ce-feature-box-2 .text-box {
    top: 400px;
	width: 100%;
	min-height: 820px;
}
.ce-feature-box-2 .img-box {
    width: 385px;
}









}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

.ce-feature-box-2 .img-box {
    width: 290px;
}
.ce-feature-box-2 .text-box .inner-box {
    padding: 40px;
}
.ce-feature-box-4 .text-box .inner-box {
    padding: 40px;
}


}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {
.ce-feature-box-2 .img-box {
    width: 260px;
}
.ce-feature-box-2 .text-box {
    top: 340px;
    min-height: 945px;
}
.ce-feature-box-2 {
    margin-bottom: 585px;
}
.ce-post-holder .ce-post-img .arrow-down {
    left: 139px;
}
.ce-post-holder .ce-post-img .arrow-up {
    left: 139px;
}








}