


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*========= Band layout styles ===========*/

/*============ Feature boxes ============ */

.co-bg-img{
	width:100%;
	float:left;
	background: #f5f5f5 url(../images/co-5.png) center top no-repeat;
}
.co-feature-box-1{
	width:100%;
	padding:20px;
	float:left;
	background-color:#fff;
}

/* featurebox 2
 ------------------------------ */
 .co-feature-box-2{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
 .co-feature-box-2.mar-bottom{
	 margin-bottom:20px;
}
 .co-feature-box-2 .overlay{
	position: absolute;
	width:100%;
	height:100%;
	padding:80px 0 0 0;
	float:left;
	z-index:2;
	background-color: rgba(0, 0, 0, 0.7);
}

/* featurebox 3
 ------------------------------ */
.co-feature-box-3{
	width:100%;
	float:left;
}
.co-feature-box-3 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.co-feature-box-3 .img-box .text-box{
	position: absolute;
	width:87%;
	float:left;
	left:0px;
	bottom:0px;
	padding:40px;
	background-color:#fff;
}

/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.co-title-line-1 {
	width: 125px;
	height:2px;
	margin:12px auto 35px auto;
	background-color:#ecae3d;
}
.co-title-line-2 {
	width: 125px;
	height:2px;
	margin:0px auto 20px auto;
	background-color:#ecae3d;
}
.co-title-line-2.align-left {
	width: 125px;
	margin:0 auto 20px 0;
}
.co-title-line-2.dark, .co-title-line-2.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
/*============ Parallax Sections ============ */
.parallax-11 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/co-parallax1.jpg") no-repeat fixed 50% 0;
}

/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
	



}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {



}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {



}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {


}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {

.co-feature-box-1 {
    width: 68%;
}
.co-feature-box-2 .overlay {
    width: 66%;
}




}


@media screen and (max-width: 480px) {

.co-feature-box-1 {
    width: 100%;
}
.co-feature-box-2 .overlay {
    width: 100%;
}




}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {

.ce-feature-box-2 {
    margin-bottom: 585px;
}



}