


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */
.cn-feature-box-1{
	width:100%;
	float:left;
}
.cn-feature-box-1 .iconbox-small{
	border:3px solid #f5f5f5;
}
.cn-feature-box-1.mar-bottom{
	margin-bottom:50px;
}
.cn-feature-box-1:hover .iconbox-small, .cn-feature-box-1.active .iconbox-small{
	color:#ecae3d;
}
.cn-feature-box-1:hover h5, .cn-feature-box-1.active h5{
	color:#ecae3d;
}

/* featurebox 2
 ------------------------------ */
.cn-feature-box-2{
	width:100%;
	float:left;
	padding:25px;
}

/* ---------- feature box 3 ---------- */

.cn-feature-box-3{
	width:100%;
	float:left;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.cn-feature-box-3 .text-box{
	position: relative;
	width:100%;
	float:left;
	z-index:2;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.cn-feature-box-3 .text-box .iconbox-small{
	position: absolute;
	float:left;
	z-index:2;
	right: 31px;
	top: -42px;
	color:#101010;
	border:3px solid #fff;
	background-color:#f5f5f5;
}

/* ---------- feature box 4 ---------- */

.cn-feature-box-4{
	width:100%;
	float:left;
	margin-bottom:30px;
}

/*============ client logo list ============ */

ul.cn-client-logo-list{
	width:100%;
	padding:0px;
}
ul.cn-client-logo-list li{
	width: 19.7%;
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}
ul.cn-client-logo-list li:last-child{
	border-right:none;
}
ul.cn-client-logo-list.two li{
	width: 19.7%;
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #f1f1f1;
	border-bottom:none;
}
ul.cn-client-logo-list.two li:last-child{
	border-right:none;
}
ul.cn-client-logo-list li a{
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
}
ul.cn-client-logo-list li a img{
	text-align:center;
}

/*============ team ============ */

.cn-team-holder{
	position: relative;
	width:100%;
	min-height:500px;
	float:left;
	padding:0px;
}
.cn-team-holder .img-box{
	position: absolute;
	width:100%;
	float:left;
	padding:0px;
}
.cn-team-holder .img-box .overlay{
	position: absolute;
	width:100%;
	height:100%;
	float:left;
	opacity:0;
	padding:0px;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.cn-team-holder .img-box .overlay .sc-icons{
	width:100%;
	margin-top:110px;
	display:inline-block;
}
.cn-team-holder .img-box .overlay .sc-icons li{
	padding:0px;
	display:inline-block;
}
.cn-team-holder .img-box .overlay .sc-icons li a{
	width:40px;
	height:40px;
	padding:0px;
	color:#fff;
	line-height:37px;
	text-align:center;
	border-radius:100%;
	border:1px solid rgba(255, 255, 255, 0.4);
	display:inline-block;
}
.cn-team-holder .img-box .overlay .sc-icons li a:hover{
	color:#ecae3d;
	border:1px solid #fff;
	display:inline-block;
	background-color:#fff;
}
.cn-team-holder .text-box{
	position: absolute;
	width:90%;
	float:left;
	left: 12px;
	top: 245px;
	padding:40px;
	z-index:2;
	background-color:#fff;
}
.cn-team-holder .text-box .shape{
	position: absolute;
	float:left;
	left: -13px;
	top: 0px;
	padding:0px;
	z-index:2;
}
.cn-team-holder .text-box .shape.right{
	left: 236px;
	top: 0px;
}
.cn-team-holder:hover .img-box .overlay{
	opacity:1;
}


/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.cn-title-line-1 {
	width: 70px;
	height:2px;
	margin:15px auto 30px auto;
	background-color:#ecae3d;
}
.cn-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.cn-title-line-1.dark, .cn-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

/*============ Parallax Sections ============ */
.cn-parallax-sec-1 {
	position:relative;
	width: 100%;
	float: left;
	min-height:560px;
	text-align: center;
	background: url(../images/parallax/cn-parallax1.jpg);
	/*background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;*/
	background-position: center;
	z-index: 1;
}
.cn-parallax-sec-1 .feature-box-1 {
	width: 100%;
	float: left;
	padding: 0;
	margin-top:-150px;
	background-color:#fff;
}
.parallax-15 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/br2-parallax3.jpg") no-repeat fixed 50% 0;
}
.parallax-16 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/br2-parallax3.jpg") no-repeat fixed 50% 0;
}



/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
	
.cn-team-holder .text-box .shape {
	display:none;
}
.cn-team-holder .text-box {
    top: 190px;
}




}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {

.cn-parallax-sec-1 .feature-box-1 {
    margin-top: 0;
}
.cn-team-holder .text-box {
    top: 265px;
}









}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {





}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {

ul.cn-client-logo-list li {
    width: 48.7%;
}
ul.cn-client-logo-list.two li {
    width: 48.7%;
}
.fo-sec-2 .social-iconbox {
    left: 36%;
}










}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.fo-sec-2 .social-iconbox {
    left: 32%;
    top: -67px;
}





}


@media screen and (max-width: 480px) {
.fo-sec-2 .social-iconbox {
    left: 24%;
    top: -67px;
}




}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {
.fo-sec-2 .social-iconbox {
    left: 12%;
    top: -67px;
}
ul.cn-client-logo-list li {
    width: 100%;
}
ul.cn-client-logo-list.two li {
    width: 100%;
}

}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {

.fo-sec-2 .social-iconbox {
    left: 7%;
}
ul.cn-client-logo-list li {
    width: 100%;
}
ul.cn-client-logo-list.two li {
    width: 100%;
}

}