

/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */
.fea-box-1 {
	width:100%;
	float:left;
	background-color:#fff;
	border-radius: 25px;
}
.fea-box-1 img {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}




/* feature box 2
 ------------------------------ */
.fea-box-2 {
	width:100%;
	float:left;
}
.fea-box-2 i {
	float: right;
	font-size: 10px;
	padding: 5px 8px;
	background: #f62459;
	margin-top: -20px;
	border-top-left-radius: 5px;
	transition: all 0.3s ease;
}
.fea-box-2 i:hover {
	padding-left: 6px;
	padding-right: 6px;
}

/* feature box 3
 ------------------------------ */
.fea-box-3 {
	width:100%;
}
.fea-box-3 i {
	color: #fff;
	font-size: 30px;
	width: 84px;
	height: 84px;
	background: #aaa;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 84px;
	transition: all 0.3s ease;
}
.fea-box-3 i:hover {
	color: #fff;
	background: #f62459;
}

/* feature box 4
 ------------------------------ */
.fea-box-4 {
	width:100%;
	float:left;
	background-color:#fff;
	border-radius: 25px;
	transition: all 0.3s ease;
}
.fea-box-4 i {
	color: #8e44ad;
	font-size: 45px;
	margin-bottom: 25px;
}
.fea-box-4:hover {
	background-color:#8e44ad;
	transform: scale(1.04);
	z-index: 2;
}
.fea-box-4:hover i,
.fea-box-4:hover h1,
.fea-box-4:hover h2,
.fea-box-4:hover h3,
.fea-box-4:hover h4,
.fea-box-4:hover h5,
.fea-box-4:hover h6,
.fea-box-4:hover p {
	color: #fff;
}

/* feature box 5
 ------------------------------ */
.fea-box-5 {
	float:left;
	margin-top: -125px;
}
.fea-box-5 i {
	color: #8e44ad;
	font-size: 30px;
	width: 84px;
	height: 84px;
	background: #fff;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 84px;
	margin-bottom: 45px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
.fea-box-5 {
	margin-top: 0px;
	background: #8e44ad;
}

.fea-box-5 i {
	font-size: 21px;
	width: 64px;
	height: 64px;
	line-height: 64px;
	margin-bottom: 25px;

}

}


/* feature box 6
 ------------------------------ */
.fea-box-6 {
}
.fea-box-6 img {
	transform:scale(1);
	transition: all 0.3s ease;
}
.fea-box-6 img:hover {
	transform:scale(1.1);
}
.fea-box-6 .cont {
	position: absolute;
	width: 40%;
	height: 100%;
	padding: 7%;
	background: #eee;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	z-index: 2;
}

@media only screen and (max-width: 768px) {
.fea-box-6 .cont {
	width: 50%;
	height: 200%;
	padding: 5%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

}


/* feature box 7
 ------------------------------ */
.fea-box-7 {
	margin: 0 auto;
	width: 230px;
	height: 230px;
	padding: 53px 25px 25px 25px;
	background: #8e44ad;
	border-radius: 100%;
	text-align: center;
	border: 1px solid #8e44ad;
	transition: all 0.3s ease;
}
.fea-box-7:hover {
	transform:scale(1.1);
	border: 10px solid #8e44ad;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.25);
}

/* feature box 8
 ------------------------------ */
.fea-box-8 {
	margin: 0 auto;
	width: 300px;
	height: 300px;
	padding: 55px 45px 45px 45px;
	background: #fff;
	border-radius: 100%;
	text-align: center;
	transition: all 0.3s ease;
}
.fea-box-8:hover {
	transform:scale(1.1);
	-webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.07);
}
.fea-box-8.sty2 {
	width: auto;
	height: auto;
	border-radius: 0%;
	background: rgba(255, 255, 255, 0.75);
}





.ce4-icon-text-list {
    overflow: hidden;
    padding-left: 0;
}
.ce4-icon-text-list li {
    float: left;
    padding: 25px;
    position: relative;
    transition: all 0.3s ease-out 0s;
    width: 50%;
}
.ce4-icon-text-list li::before, .ce4-icon-text-list li::after {
    content: "";
    position: absolute;
}
.ce4-icon-text-list li::before {
    border-left: 1px dashed #e4e4e4;
    height: 100%;
    left: -1px;
    top: 0;
}
.ce4-icon-text-list li::after {
    border-bottom: 1px dashed #e4e4e4;
    bottom: -1px;
    height: 0;
    left: 0;
    top: auto;
    width: 100%;
}





/* side image
 ------------------------------ */
/* background image full width
 ------------------------------ */
.background-imgholder-full {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.background-imgholder-full.img1 {
	width: 100%;
	height: 510px;
	background: url(../images/ce4-56.png) 0 0 no-repeat;
}
.background-imgholder-full.img2 {
	width: 100%;
	height: 510px;
	background: url(../images/279.png) 0 0 no-repeat;
}

/*============ blog ============ */

.ce4-post-holder-1{
	width:100%;
	padding:0px;
	float:left;
}
.ce4-post-holder-1 .ce4-post-img{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.ce4-post-holder-1 .text-box{
	height:274px;
	padding:60px 50px 50px 50px;
}
.ce4-post-holder-1 .text-box.one{
	height:274px;
}
.ce4-post-holder-1 .text-box .blog-post-info span{
	color:#65d835;
}

.ce4-post-holder-1 .ce4-post-img .arrow-up {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	bottom:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	z-index:2;
}
.ce4-post-holder-1 .ce4-post-img .arrow-down {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	top:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

/*============ client logo list ============ */

ul.ce4-client-logo-list{
	width:100%;
	padding:0px;
}
ul.ce4-client-logo-list li{
	width: 19.7%;
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}
ul.ce4-client-logo-list li:last-child{
	border-right:none;
}
ul.ce4-client-logo-list.two li{
	width: 19.7%;
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
	border-right:1px solid #f1f1f1;
	border-bottom:none;
}
ul.ce4-client-logo-list.two li:last-child{
	border-right:none;
}
ul.ce4-client-logo-list li a{
	padding:0px;
	margin:0px;
	text-align:center;
	display:inline-block;
}
ul.ce4-client-logo-list li a img{
	text-align:center;
}

/*============ price table ============ */

/* price table 1
 ------------------------------ */
.ce4-price-table-1 {
    width: 100%;
	padding:20px;
    float: left;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-1 .inner-box {
    width: 100%;
	padding:40px;
    float: left;
	border:1px solid #e9e9e9;
}
.ce4-price-table-1 .inner-box .price-circle {
	width: 130px;
	height: 130px;
	padding: 38px 0 0;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #fff;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-1 .inner-box .price-circle .price {
	color: #242424;
	font-size:28px;
	padding: 8px 0 0 0;
	font-weight:700;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-1 .inner-box .price-circle .price i {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}
.ce4-price-table-1 .inner-box .price-circle .price sup {
	font-size: 18px;
	font-style: normal;
}
.ce4-price-table-1 ul.plan_features {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 50px 0;
}
.ce4-price-table-1 ul.plan_features li {
	padding: 15px 0;
	border-bottom: 1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-1 ul.plan_features li:last-child {
	border-bottom: none;
}

/* hover styles
 ------------------------------ */
.ce4-price-table-1:hover, .ce4-price-table-1.active {
	background-color:#323335;
}
.ce4-price-table-1:hover .inner-box, .ce4-price-table-1.active .inner-box {
	border:1px solid #272727;
}
.ce4-price-table-1:hover ul.plan_features li, .ce4-price-table-1.active ul.plan_features li {
	border-bottom: 1px solid #272727;
}
.ce4-price-table-1:hover ul.plan_features li:last-child, .ce4-price-table-1.active ul.plan_features li:last-child {
	border-bottom: none;
}
.ce4-price-table-1:hover a.btn.btn-dark-3, .ce4-price-table-1.active a.btn.btn-dark-3 {
	background-color:#65d835;
	color:#fff;
}
.ce4-price-table-1:hover .title, .ce4-price-table-1.active .title {
	color:#fff;
}
.ce4-price-table-1:hover .inner-box .price-circle .price, .ce4-price-table-1.active .inner-box .price-circle .price{
	color: #65d835;
}
.ce4-price-table-1:hover .inner-box .price-circle, .ce4-price-table-1.active .inner-box .price-circle {
	color: #65d835;
}


/* price table 2
 ------------------------------ */
.ce4-price-table-2 {
    width: 100%;
	padding:20px;
    float: left;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-2 .inner-box {
    width: 100%;
	padding:40px;
    float: left;
	border:1px solid #323335;
}
.ce4-price-table-2 .inner-box .price-circle {
	width: 130px;
	height: 130px;
	padding: 38px 0 0;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #fff;
	border:3px solid #f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-2 .inner-box .price-circle .price {
	color: #242424;
	font-size:28px;
	padding: 8px 0 0 0;
	font-weight:700;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-2 .inner-box .price-circle .price i {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}
.ce4-price-table-2 .inner-box .price-circle .price sup {
	font-size: 18px;
	font-style: normal;
}
.ce4-price-table-2 ul.plan_features {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 50px 0;
}
.ce4-price-table-2 ul.plan_features li {
	padding: 15px 0;
	border-bottom: 1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.ce4-price-table-2 ul.plan_features li:last-child {
	border-bottom: none;
}

/* hover styles
 ------------------------------ */
.ce4-price-table-2:hover .inner-box, .ce4-price-table-2.active .inner-box {
	border:1px solid #65d835;
}
.ce4-price-table-2:hover .inner-box .price-circle, .ce4-price-table-2.active .inner-box .price-circle {
	border:3px solid #65d835;
}
.ce4-price-table-2:hover .inner-box .price-circle .price, .ce4-price-table-2.active .inner-box .price-circle .price {
	color: #65d835;
}
.ce4-price-table-2:hover .inner-box .price-circle, .ce4-price-table-2.active .inner-box .price-circle {
    color: #65d835;
}
.ce4-price-table-2:hover .inner-box .btn.btn-dark-3, .ce4-price-table-2.active .inner-box .btn.btn-dark-3 {
    color: #fff;
	background-color:#65d835;
}


/* Price Table 3
 -----------------------------------------------*/
 
.ce4-price-table-3 {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.ce4-price-table-3 th {
	width: 25%;
	padding: 0px;
	margin: 0px;
}
.ce4-price-table-3 th .title-header {
	width: 100%;
	background-color: #242424;
	padding: 20px;
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	float: left;
	text-align: center;
}
.ce4-price-table-3 th .title-header.active {
	background-color: #65d835;
}
.ce4-price-table-3 .table > thead > tr > th {
	padding: 0px;
	border: none;
}
.ce4-price-table-3 .table > tbody > tr > td {
	padding: 20px;
}
.ce4-price-table-3 .table > thead > tr > th {
	vertical-align: middle;
}
.ce4-price-table-3 th .price {
	color: #fff;
	font: 14px 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 45px;
	text-align: center;
	padding: 8px 0px;
}
.ce4-price-table-3 tr td i {
	color: #89be21;
	font-size: 18px;
}
.ce4-price-table-3 tr td.red i {
	color: #ff2f16;
}
.ce4-price-table-3 th .price sup {
	font-size: 22px;
	font-style: normal;
}
.ce4-price-table-3 th .price i {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
}
.ce4-price-table-3 tr:nth-child(even) {
	background: #e9e9e9
}
.ce4-price-table-3 tr:nth-child(odd) {
	background: #f5f5f5
}
.ce4-price-table-3 th .title-header.first {
	margin-top: 69px;
	border: none;
}
.ce4-price-table-3 .table-bordered {
	border: none;
}
.ce4-price-table-3 .table-bordered th .title-header.first {
	border-right: 1px solid #f1f1f1;
}
.ce4-price-table-3 a.btn2 {
	margin-top: 20px;
}


/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.ce4-title-line-1 {
	width: 50px;
	height:2px;
	margin:0px auto 10px auto;
	background-color:#323335;
}
.ce4-title-line-1.align-left {
	width: 50px;
	margin:0 auto 20px 0;
}
.ce4-title-line-2.dark, .ce4-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.ce4-title-line-1.less-mar {
	margin:5px auto 10px auto;
}
.ce4-title-line-1.white {
	background-color:#fff;
}
/* =========== client logos ============= */

.ce4-clients.grid-cols-2 li {
    width: 50%;
}
.ce4-clients.grid-cols-3 li {
    width: 33.33%;
}
.ce4-clients.grid-cols-4 li {
    width: 25%;
}
.ce4-clients.grid-cols-5 li {
    width: 20%;
}
.ce4-clients.grid-cols-6 li {
    width: 16.66%;
}

.ce4-clients {
	padding-left:0px;
    overflow: hidden;
}
.ce4-clients li {
	position: relative;
	width: 20%;
    float: left;
    padding: 25px 0;
	transition: all 0.3s ease-out 0s;   
}
.ce4-clients li a img {
    width: 100%;
}
.ce4-clients li a, .ce4-clients li img {
    display: block;
    margin:0 auto;
    width: 75%;
}
.ce4-clients li::before, .ce4-clients li::after {
    content: "";
    position: absolute;
}
.ce4-clients li::before {
    height: 100%;
	top: 0;
    left: -1px;
	border-left: 1px solid #e9e9e9;
}
.ce4-clients li::after{
    width: 100%;
	height: 0;    
    left: 0;
    top: auto;
    bottom: -1px;
	border-bottom: 1px solid #e9e9e9;
}
.ce4-clients.border-dark li::before {
	border-left: 1px solid #333333;
}
.ce4-clients.border-dark li::after{
	border-bottom: 1px solid #333333;
}
.ce4-clients.noborder li::before {
	border-left: none;
}
/* logo hover styles
 ------------------------------ */
 
.ce4-clients.hover-1 li:hover {
	background-color:#323335;
}
.ce4-clients.hover-2 li:hover {
	background-color:#f5f5f5;
}
.ce4-clients.hover-3 li:hover {
	background-color:#f5f5f5;
}
.ce4-clients.hover-4 li a {
	opacity:0.4;
}
.ce4-clients.hover-4 li a:hover {
	opacity:1;
}

/* personal info list
 ------------------------------ */
 
.personal-info {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.personal-info li {
    color: #65d835;
    padding-bottom: 8px;
}
.personal-info li i {
    margin-right: 10px;
}
.personal-info.orange-2 li {
    color: #65d835;
    padding-bottom: 8px;
}

/*============ Parallax Sections ============ */

.ce4-parallax-sec-1 {
	width: 100%;
	float: left;
	text-align: center;
	background: url(../images/parallax/ce4-parallax1.jpg);
	background-position: center;
}
.ce4-parallax-sec-2 {
	width: 100%;
	float: left;
	margin-top:-35px;
	text-align: center;
	background: url(../images/parallax/hl-parallax1.jpg);
	background-position: center;
}


.parallax-17 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax2.jpg") no-repeat fixed 50% 0;
}
.parallax-18 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax3.jpg") no-repeat fixed 50% 0;
}
.parallax-18 .text-box {
	width: 100%;
	float: left;
	padding-top:100px;
}
.parallax-19 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax4.jpg") no-repeat fixed 50% 0;
}
.parallax-20 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax3.jpg") no-repeat fixed 50% 0;
}
.parallax-21 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax5.jpg") no-repeat fixed 50% 0;
}
.parallax-22 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax6.jpg") no-repeat fixed 50% 0;
}
.parallax-23 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax7.jpg") no-repeat fixed 50% 0;
}
.parallax-24 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/ce4-parallax8.jpg") no-repeat fixed 50% 0;
}
.parallax-25 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/re-parallax2.jpg") no-repeat fixed 50% 0;
}
.parallax-26 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/port-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-text-box {
	min-height:200px;
}
.parallax-text-box .title {
	font-size:80px;
	font-weight:bold;
	line-height:60px;
}
/*============ Progress circles ============ */

.percent{
	width:200px;
	height:200px;
	margin:0 auto;
}
.percent-2{
	width:200px;
	height:200px;
	margin:0 auto;
}

/*============ pages sidebar ============ */

.pages-sidebar-item {
    float: left;
    margin-bottom: 60px;
    width: 100%;
}
.pages-sidebar-item .social-links {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.pages-sidebar-item .social-links li {
    float: left;
    margin: 0;
    padding: 0;
}
.pages-sidebar-item .social-links li a {
    color: #323335;
    float: left;
    padding: 0 20px 0 0;
}
.pages-sidebar-item .social-links li a:hover {
    color: #65d835;
}

.pages-newsletter {
    border: 1px solid #e4e4e4;
    float: left;
    height: 45px;
    padding: 10px;
    width: 100%;
}
.bg2-rightcol-links {
    float: left;
    padding: 0;
    width: 100%;
}

.pages-sidebar-item-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.pages-sidebar-links {
    float: left;
    padding: 0;
    width: 100%;
}
.pages-sidebar-links li {
    border-bottom: 1px solid #ececec;
    float: left;
    width: 100%;
}
.pages-sidebar-links li a {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.pages-sidebar-links li a:hover, .pages-sidebar-links li a.active {
    color: #65d835;
}
.pages-sidebar-links li:last-child {
    border-bottom: medium none;
}
.pages-tags {
    margin: 0;
    padding: 0;
}
.pages-tags li {
    margin: 0;
    padding: 0;
}
.pages-tags li a {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    color: #727272;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px 15px;
}
.pages-tags li a:hover, .pages-tags li a.active {
    background-color: #323335;
    color: #727272;
}

/*============ Site map ============ */

ul.sitemap {
    margin: 0;
    padding: 0;
}
ul.sitemap li {
    margin: 0 0 8px;
}
ul.sitemap li a {
    color: #65d835;
}
ul.sitemap li a:hover {
    text-decoration: underline;
}
ul.sitemap li ul {
    padding-left: 30px;
}

/*============ 404 page ============ */
.error_holder {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 60%;
}
.error_holder.two {
    text-align: left;
    width: 100%;
}
.error_holder .title {
    font-size: 110px;
    font-weight: 400;
    line-height: 65px;
    margin: 0;
    padding: 30px 0;
}
.error_title_big {
    font-size: 200px;
    font-weight: bold;
    line-height: 65px;
    margin: 0;
    padding: 30px 0;
}
.error-search-box {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.error-search-box .email_input {
    border: 1px solid #e4e4e4;
    color: #727272;
    height: 50px;
    width: 70%;
	padding:15px;
}
.error-search-box .input_submit {
    background-color: #65d835;
    border: 1px solid #65d835;
    color: #fff;
    height: 50px;
    transition: all 0.3s ease-out 0s;
    width: 20%;
}
.error-search-box .input_submit:hover {
    background-color: #242424;
    border: 1px solid #242424;
}
.error-title-big {
    font-size: 200px;
    font-weight: bold;
    line-height: 65px;
    margin: 0;
    padding: 30px 0;
}


/*============ portfolio single page ============ */

.port-project-info {
	width:100%;
	float:left;
	padding:40px;
	border:1px solid #f1f1f1;
}
.port-project-info li {
	padding:0 0 10px 0;
	margin:0px;
}
.port-project-info li span {
    color: #323335;
    display: inline-block;
    font-weight: 700;
    width: 150px;
}
.port-project-info li span i {
    margin-right: 7px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 14px;
}


/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

.ce4-feature-box-3 .inner-box .iconbox-small {
    left: 80px;
}

.ce4-feature-box-1 .img-box {
    width: 345px;
}

.ce4-feature-box-14 .inner-box .img-main {
    top: 200px;
}
.ce4-feature-box-34 .text-box .icon {
    left: 42px;
}
.background-imgholder-full.img1 {
	background-size:80%;
}
.ce4-feature-box-46.middle-item .img-box {
    min-height: 0;
}
.ce4-feature-box-46 .img-box .overlay {
    padding: 40px;
}
.ce4-feature-box-46 .img-box .overlay .text-box {
    padding: 20px;
}

.ce4-big-title {
    font-size: 60px;
    line-height: 45px;
}





}
	
@media only screen and (max-width: 1000px) {
	
.ce4-big-title {
    font-size: 57px;
    line-height: 43px;
}

}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{width:90%;}
.ce4-feature-box-3 .inner-box .iconbox-small {
    left: 112px;
}
.ce4-feature-box-5 {
    width: 95%;
}
.ce4-feature-box-6 {
    width: 95%;
    padding: 40px 40px 40px 160px;
}
.ce4-feature-box-7 .img-box-main {
    position: static;
}
.ce4-feature-box-7 {
    margin-top: 0;
	min-height: 1460px;
}
.ce4-feature-box-14 .inner-box .img-main {
    top: 99px;
}
.ce4-feature-box-14 {
    margin-bottom: 123px;
}
.ce4-feature-box-22 .img-box .text-box {
    bottom: 26px;
}
ul.ce4-client-logo-list li {
    width: 18.7%;
}
ul.ce4-client-logo-list.two li {
    width: 18.7%;
}
.ce4-feature-box-31 .img-box .icon-box {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}
.ce4-feature-box-34 .text-box .icon {
    left: 110px;
}
.background-imgholder-full.img1 {
	background:none;
	height:350px;
}
.ce4-feature-box-47 {
    top: 0;
}
.ce4-feature-box-46 .img-box .overlay .text-box {
    padding: 40% 20px 20px 20px;
}

.ce4-feature-box-1 .img-box {
    width: 100%;
}

.ce4-feature-box-1 .img-box-main {
    left:0;
}

.ce4-feature-box-3 .inner-box .iconbox-small {
    position: static;
    top:0px;
}























}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {

.fo-sec-3 .primary-box {
    top: 0;
    padding: 30px;
}
.ce4-feature-box-13 .img-box-main .img-box .sc-icons-box .sc-icons {
    padding: 0 0 0 0;
}
.ce4-parallax-sec-3 .text-box {
    padding-top: 0;
}
.ce4-feature-box-22 .img-box .text-box {
    bottom: -100px;
}
.classes-table table, thead, tbody, th, td, tr {
    display: block;
}
.ce4-readmore-big.less-pad {
    margin-bottom: 100px;
}

.ce4-feature-box-1 .img-box {
    width: 100%;
}
.ce4-feature-box-1 .img-box-main {
    left: 0;
}
.ce4-feature-box-48 {
    margin-top: 0;
}
.ce4-feature-box-49 {
    top:0;
}



















}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {
.ce4-feature-box-34 .text-box .icon {
    left: 55px;
}
.ce4-feature-box-1 .img-box {
    width: 100%;
}
.ce4-feature-box-49 {
    top: 0;
}









}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.ce4-feature-box-3 .inner-box .iconbox-small {
    left: 214px;
}
.ce4-feature-box-34 .text-box .icon {
    left: 173px;
}
.classes-table table, thead, tbody, th, td, tr {
    display: block;
}
.ce4-price-table-3 th .title-header {
    font-size: 10px;
    padding: 8px;
}
ul.ce4-client-logo-list li {
    width: 32.7%;
}
ul.ce4-client-logo-list.two li {
    width: 32.7%;
}
.ce4-feature-box-48 {
    min-height: 776px;
}




















}


@media screen and (max-width: 480px) {
.ce4-feature-box-3 .inner-box .iconbox-small {
    left: 140px;
}
.ce4-feature-box-5 {
    width: 90%;
}
.ce4-feature-box-6 {
    width: 90%;
}
.ce4-feature-box-10 input {
    width: 68%;
}
.ce4-feature-box-10 .submit-btn {
    width: 31%;
}
.ce4-feature-box-14 .inner-box .img-main {
    top: 149px;
}
.ce4-feature-box-22 .img-box .text-box {
    bottom: 77px;
}
ul.ce4-client-logo-list li {
    width: 47.7%;
}
ul.ce4-client-logo-list.two li {
    width: 47.7%;
}
.ce4-feature-box-34 .text-box .icon {
    left: 107px;
}
.ce4-big-title {
    font-size: 50px;
    line-height: 37px;
}
.ce4-feature-box-1 .img-box-main {
    top: 0;
}
.ce4-feature-box-1 {
    padding: 70px 0;
	margin-top:0;
}
.ce4-feature-box-48 .text-box {
    padding: 40px 70px 90px;
    top: 0;
}
.ce4-feature-box-48 {
	padding:80px 0;
	margin-top:0;
}
.ce4-feature-box-4 {
    margin-top: 50px;
}
.ce4-icon-text-list li {
    width: 100%;
}
.ce4-icon-text-list {
    margin-top: 25px;
}
.ce4-feature-box-5 .circle {
    position: static;
}
.ce4-feature-box-5:hover, .ce4-feature-box-5.active {
    background: none;
}
.ce4-feature-box-5 {
    width: 100%;
	padding: 40px;
}
.ce4-feature-box-5 .text-box {
    width: 100%;
}
.ce4-feature-box-5 {
    background: none;
}

.ce4-feature-box-6 .circle {
    position: static;
}
.ce4-feature-box-6:hover, .ce4-feature-box-6.active {
    background: none;
}
.ce4-feature-box-6 {
    width: 100%;
	padding: 40px;
}
.ce4-feature-box-6 .text-box {
    width: 100%;
}
.ce4-feature-box-6 {
    background: none;
}







}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

.ce4-feature-box-3 .inner-box .iconbox-small {
    left: 90px;
}
.ce4-feature-box-1 .img-box {
    width: 100%;
}
.ce4-feature-box-5:hover, .ce4-feature-box-5.active{
	background:none;
}
.ce4-feature-box-5{
	background:none;
}
.ce4-feature-box-6:hover, .ce4-feature-box-6.active{
	background:none;
}
.ce4-feature-box-6{
	background:none;
}

.ce4-feature-box-6 {
    padding: 40px 40px 40px 80px;
}
.ce4-feature-box-5 {
    padding: 40px 80px 40px 40px;
}
.ce4-feature-box-10 input {
    width: 100%;
}
.ce4-feature-box-10 {
    padding: 30px;
}
.ce4-feature-box-10 .submit-btn {
    width: 100%;
}
.ce4-feature-box-16 .title-line {
    display: none;
}
.ce4-feature-box-18 {
    padding: 40px 40px;
}
.ce4-feature-box-26 .text-box {
    width: 100%;
    padding: 30px;
}
.ce4-feature-box-26 .img-box {
    width: 100%;
}
.ce4-feature-box-26 .text-box .arrow-right {
	display:none;
}
.ce4-feature-box-34 .text-box .icon {
    left: 54px;
}
.background-imgholder-full.img1 {
    background: none;
    height: 450px;
}
.ce4-feature-box-43 {
    padding: 40px;
}
.error-title-big {
    font-size: 100px;
}
.ce4-feature-box-49 {
    padding: 30px;
}
.ce4-big-title {
    font-size: 30px;
    line-height: 24px;
}
.ce4-feature-box-48 .text-box {
    padding: 10px 45px 65px;
}
.ce4-feature-box-1, .ce4-feature-box-48 {
    padding: 50px 0;
}
.ce4-feature-box-1 .img-box {
    padding: 10px;
}
.ce4-feature-box-4 .img-box {
    padding: 10px;
}
.ce4-feature-box-4 .img-main {
    top: 0;
}
.ce4-feature-box-4 {
    margin-top:0px;
	padding:50px 0;
}
.ce4-feature-box-5 {
    padding: 40px;
}
.ce4-feature-box-6 {
    padding: 40px;
}





























}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {
.ce4-feature-box-3 .inner-box .iconbox-small {
    left: 68px;
}
.ce4-feature-box-5 .circle {
    width: 80px;
    height: 80px;
	line-height: 73px;
	right: -33px;
}
.ce4-feature-box-6 .circle {
    width: 80px;
    height: 80px;
	left: -33px;
	line-height: 73px;
}
ul.ce4-client-logo-list li {
    width: 100%;
}
ul.ce4-client-logo-list.two li {
    width: 100%;
}
.ce4-big-title {
    font-size: 28px;
    line-height: 22px;
}
.ce4-feature-box-48 {
    min-height: 782px;
}
.ce4-feature-box-1 {
    min-height: 390px;
}
.ce4-feature-box-48 {
    min-height: 845px;
}
.fo-copyright-holder .social-iconbox .side-shape1 {
	display:none;
}
.fo-copyright-holder .social-iconbox .side-shape1.right-icon {
    display:none;
}
.ce4-feature-box-47 {
	padding-top:40px;
}
.ce4-feature-box-5 {
    padding: 25px;
}
.ce4-feature-box-6 {
    padding: 25px;
}
.ce4-feature-box-7 .img-box-main .text {
    padding: 25px;
}
.ce4-feature-box-46 .img-box .text-box h4{
	font-size:18px;
	
}
.ce4-feature-box-46 .img-box .text-box p{
	font-size:13px;
	
}



}














/* added new styles */

/*============ section background images ============ */
.sec-bgimg-1 {
	background: url(../images/bg-img1.jpg) no-repeat left top;
}
.sec-bgimg-2 {
	background: #8e44ad url(../images/bg-img2.png) no-repeat center center;
	background-size: cover;
}
.sec-bgimg-3 {
	background: #f3f3f3 url(../images/bubble-graph.png) no-repeat right top;
}
.sec-bgimg-4 {
	background: url(../images/bg-img3.jpg) no-repeat center center;
	background-size: cover;
}
.sec-bgimg-5 {
	background: #8e44ad url(../images/bg-img4.png) no-repeat center center;
	background-size: cover;
}
.sec-bgimg-6 {
	background: url(../images/bg-img5.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 16%;
	padding-bottom: 16%;
}
.sec-bgimg-7 {
	background: url(../images/bg-img6.jpg) no-repeat center top;
	background-size: cover;
	padding-top: 14%;
	padding-bottom: 14%;
}
.sec-bgimg-8 {
	background: #8e44ad url(../images/bg-img7.png) no-repeat center top;
	background-size: cover;
}
.sec-bgimg-9 {
	background: url(../images/bg-img8.jpg) no-repeat center bottom;
	background-size: cover;
}
.sec-bgimg-10 {
	background: url(../images/bg-img9.jpg) no-repeat center bottom;
	background-size: cover;
}
.sec-bgimg-11 {
	background: #f62459 url(../images/bg-img7.png) no-repeat center center;
	background-size: cover;
}
.sec-bgimg-12 {
	background: #3a3534 url(../images/bg-img7.png) no-repeat center center;
	background-size: cover;
}
.sec-bgimg-13 {
	background: #8e44ad url(../images/bg-img12.png) no-repeat center center;
	background-size: cover;
}
.sec-bgimg-14 {
	background: #3a3534 url(../images/bg-img15.jpg) no-repeat center center;
	background-size: cover;
}


.footer-graph1 {
	background: url(../images/footer-graph.png) no-repeat center center;
	background-size: cover;
	height: 111px;
	margin-top: -111px;
}
.footer-bgimg {
	background: #272727 url(../images/footer-bg.png) no-repeat center bottom;
	background-size: cover;
}













/*------------------------------------
----------------------------------------*/


.background-image01 {
	padding: 140px 0px 130px 0px;
	background: #3396d6 url(../images/bg-img75.png) no-repeat center center;
}

/* img-hover-text-1
 ------------------------------ */
.img-hover-text-1 {
    position: relative;
	background: #3a3534;
}
.img-hover-text-1 img {
	opacity: 1;
    display: block;
	transition: all 0.3s ease;
}
.img-hover-text-1:hover img {
	opacity: 0.05;
}
.img-hover-text-1 .distext {
    position: absolute;
	left: 50px;
    right: 50px;
	bottom: 0px;
    text-decoration: none;
	transition: all 0.3s ease;
}
.img-hover-text-1:hover .distext {
	bottom: 100px;
}
.img-hover-text-1 .distext .hidtext {
	opacity: 0;
	transition: all 0.3s ease;
}
.img-hover-text-1:hover .distext .hidtext {
	opacity: 1;
}



/* feature-box-2
 ------------------------------ */
.feature-box-2 {
    width: 100%;
    float: left;
}
.feature-box-2 .img-box-main {
    width: 100%;
    float: left;
	padding:20px;
	border:2px solid #f1f1f1;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.feature-box-2 .img-box-main .img-box {
	position:relative;
    width: 100%;
    float: left;
	padding:0px;
	text-align:center;
	overflow:hidden;
}
.feature-box-2 .text-box {
    width:100%;
	padding:22px;
	background-color:#fff;
	text-align:center;
	transition: all 0.3s ease-out 0s;
}
.feature-box-2 .img-box-main .img-box .sc-icons-box{
	position: absolute;
	width:20%;
	height:100%;
	padding:0px;
	margin:0px;
	right: -110px;
	top:0px;
	overflow:hidden;
	z-index:1;
	text-align:center;
	display:inline-block;
	background-color:#3396d6;
	transition: all 0.3s ease-out 0s;
}
.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons{
	width:100%;
	padding:0px;
	margin:0px;
}
.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons li{
	width:100%;
	padding:0px;
	margin:0 0 10px 0;
	display:inline-block;
}
.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons li a{
	width:40px;
	height:40px;
	padding:15px 10px;
	color:#fff;
	line-height:12px;
	display:inline-block;
	border:1px solid rgba(255, 255, 255, 0.1);
}
.feature-box-2:hover .img-box-main .img-box .sc-icons-box,
.feature-box-2.active .img-box-main .img-box .sc-icons-box{
	right:0px;
}
.feature-box-2:hover .text-box,
.feature-box-2.active .text-box {
	transition: all 0.3s ease-out 0s;
}
.feature-box-2:hover .img-box-main .img-box,
.feature-box-2.active .img-box-main .img-box {
	background-color:#d5d4d4;
}


/* feature-box-3
 ------------------------------ */

.feature-box-3{
	width:100%;
	background-color:#f5f5f5;
	padding:100px 0px;
}
.feature-box-3 .item-holder{
	width:100%;
	float:left;
	z-index:1;
}
.feature-box-3 .item-holder .text-box{
	width:100%;
	float:left;
	padding:45px;
	background-color:#3396d6;
}
.feature-box-3 .item-holder .text-box.more-height{
	min-height:auto;
}
.feature-box-3 .item-holder .text-box.white{
	background-color:#fff;
}
.feature-box-3 .text-sm {
    color: #fff;
    opacity: 0.9;
}
.feature-box-3 .btn-circle {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 46px;
    line-height: 44px;
    margin-top: 5px;
    transition: all 0.3s ease-out 0s;
    width: 46px;
}
.feature-box-3 .btn-circle.primary {
    border: 1px solid #3396d6;
    color: #3396d6;
	opacity:0.5;
}


.parallax {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0px;
	text-align: center;
	background: url("../images/C-parallax.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-position: center;
	z-index: 1;
}


/* bg-shape-image
 ------------------------------ */
.bg-shape-image {
    background:url(../images/parallax_bg_9.jpg) repeat right top;
	background-size:cover;
	background-attachment:fixed;
    float: left;
    padding:90px 0 70px 0;
    position: relative;
    width: 100%;
    z-index: 9;
}
.bg-shape-image::before {
    background:rgba(51, 154, 214, 0.9);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:50%;
    top: 0;
    z-index: -1;
}

/* feature box 1
 ------------------------------ */
.feature-box-4{
	width:100%;
	float:left;
	background-color:#fff;
}
.feature-box-4 .img-box{
	position: relative;
	width:100%;
	float:left;
}
.feature-box-4 .img-box .text-box{
	position: absolute;
	width:100%;
	height:100%;
	float:left;
	padding:25px 0px 25px 0px;
	transition: all 0.3s ease-out 0s;
	background-color:#f5f5f5;
}
.feature-box-4 .img-box .text-box .inner-box{
	width:100%;
	height:100%;
	float:left;
	padding:35px;
	transition: all 0.3s ease-out 0s;
}
.feature-box-4:hover .img-box .text-box, .feature-box-4.active .img-box .text-box{
	background-color:rgba(51, 150, 214, 0.9);
}

.feature-box-4:hover .img-box .text-box .inner-box h4, .feature-box-4.active .img-box .text-box .inner-box h4{
	color:#fff;
}
.feature-box-4:hover .img-box .text-box .inner-box p, .feature-box-4.active .img-box .text-box .inner-box p{
	color:#fff;
}
.feature-box-4:hover .img-box .text-box .inner-box .icon-plain-msmall, .feature-box-4.active .img-box .text-box .inner-box .icon-plain-msmall{
	color:#fff;
}
.feature-box-4:hover .img-box .text-box .inner-box .read-more, .feature-box-4.active .img-box .text-box .inner-box .read-more{
	color:#fff;
}




/* feature box 5
 ------------------------------ */

.feature-box-5 {
	width: 150px;
	height: 150px;
	margin-left: 20%;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	overflow: hidden;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 0px 12px rgba(101, 206, 53, 0.9);
	-moz-box-shadow: 0px 0px 0px 12px rgba(101, 206, 53, 0.9);
	box-shadow: 0px 0px 0px 12px rgba(101, 206, 53, 0.9);
}
.feature-box-5:hover {
	-webkit-box-shadow: 0px 0px 0px 12px rgba(51, 150, 214, 0.9);
	-moz-box-shadow: 0px 0px 0px 12px rgba(51, 150, 214, 0.9);
	box-shadow: 0px 0px 0px 12px rgba (51, 150, 214, 0.9);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.dimd-pics {
	width: 220px;
	height: 220px;
	margin: -35px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.dimd-pics.pic1 {
	background: url(../images/people-img1-big.jpg) no-repeat center top;
	background-size:cover;
}
.dimd-pics.pic2 {
	background: url(../images/people-img2-big.jpg) no-repeat center top;
	background-size:cover;
}
.dimd-pics.pic3 {
	background: url(../images/people-img3-big.jpg) no-repeat center top;
	background-size:cover;
}
.dimd-pics.pic4 {
	background: url(../images/people-img4-big.jpg) no-repeat center top;
	background-size:cover;
}




/* feature-box-6
 ------------------------------ */
.feature-box-6{
	width:100%;
	float:left;
	padding:30px;
	background-color:#fff;
}
.feature-box-6 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.feature-box-6 .img-box .post-date-box{
	position: absolute;
	color:#65d835;
	right: 19px;
	bottom: -17px;
	background-color:#fff;
}
.feature-box-6 .img-box .post-date-box span{
	color:#65d835;
}


/* feature-box-7
 ------------------------------ */
 
.feature-box-7 {
	width: 100%;
	float:left;
}
.feature-box-7 .icon {
	background-color:#fff;
	border:1px solid #f1f1f1;
}
.feature-box-7:hover .icon, .feature-box-7.active .icon {
	background-color:#65d835;
	color:#fff;
	border:1px solid #65d835;
}
.feature-box-7:hover .title, .feature-box-7.active .title {
	color:#65d835;
}





/* feature box 8
 ------------------------------ */

.feature-box-8 {
	width: 100%;
	padding: 35px;
	border: 1px solid #e4e4e4;
	border-radius: 2px;
	transition: all 0.3s ease-out 0s;
}
.feature-box-8:hover, .feature-box-8.active {
	background-color: #3396d6;
	border: 1px solid #3396d6;
}
.feature-box-8:hover .iconbox-small, .feature-box-8.active .iconbox-small {
	color: #3396d6;
	border:none;
	background-color: #fff;
}
.feature-box-8:hover h4, .feature-box-8:hover p, .feature-box-8.active h4, .feature-box-8.active p {
	color: #fff;
}

/* feature box 9
 ------------------------------ */
.feature-box-9{
	width:100%;
	padding:170px 35px 35px 35px;
	float:left;
	margin:0px 0 0 0;
	transition: all 0.3s ease-out 0s;
	background-color: #fff;
}
.feature-box-9 .img-frame {
    position: absolute;
    width: 160px;
    height: 160px;
	margin:0px 40px 40px 40px;
    padding: 0px;
    left: 26px;
    top: 7px;
}

.feature-box-9:hover, .feature-box-9.active{
	background-color: #3396d6;
	color: #fff;
}
.feature-box-9:hover h4, .feature-box-9.active h4{
	color: #fff;
}
.feature-box-9:hover h6, .feature-box-9.active h6{
	color: #fff;
}


/* feature box 10
 ------------------------------ */

.feature-box-10 {
	float: left;
	width: 100%;
	text-align: center;
}
.feature-box-10 i {
	color: #fff;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 124px;
	border-radius: 100%;
	margin-bottom: 20px;
}
.feature-box-10 h4 {
	color: #fff;
	margin-bottom: 0px;
}
.feature-box-10 .box {
	text-align: center;
    margin: auto;
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
	border-radius: 100%;
	padding-bottom:200px;
}
.feature-box-10 .image div  {
    transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	-ms-transition: all 0.3s ease;
  	transition: all 0.3s ease;
	margin: 45px auto 0 auto;
	width: 124px;
	height: 124px;
	border-radius: 100%;
	border: 3px solid #65d835;
}
.feature-box-10 .box:hover .image div{    
	cursor: pointer;
    transform:scale(1.5);
    -ms-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
	margin: 45px auto 0 auto;
	width: 174px;
	height: 174px;
	background-color: #65d835;
	border-radius: 100%;
	border: 3px solid #65d835;
	z-index: 998;
}
.feature-box-10 .text{
    position: absolute;    
    width: 100%;
    height: 100%;
    bottom: 0;
    -webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	-ms-transition: all 0.3s ease;
  	transition: all 0.3s ease;
	z-index: 999;
}
.feature-box-10 .text:hover{
    background: none;
}
.feature-box-10 .text div{
	color: #fff;
	width: 100%;
	text-align:center;
	padding: 0 15%;
    position: absolute;
	bottom: 100%;   
     -webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	-ms-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}
.feature-box-10 .text div h4{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 13px;
}
.feature-box-10 .text:hover div{    
    bottom: 16%;
	transition: all 0.3s ease;
}
.feature-box-10 .box:hover .image div i {
	margin-top: -15px;
	font-size: 35px;
	transition: all 0.3s ease;
}
.feature-box-10 .box:hover .image div h4 {
	display: none;
	transition: all 0.3s ease;
}


/* feature box 11
 ------------------------------ */

.feature-box-11{
    float: left;
    width: 100%;
}
.feature-box-11 .sec_title h1 {
	font-family: 'Poiret One', sans-serif;
	font-weight: 600; font-size:36px;
	color: #FFF;
	text-align:center;
	text-transform:none;
	transition: all 0.3s ease-out 0s;
}
.feature-box-11 .sec_title h1::after {
    content: "\f111";
	 font-family: 'FontAwesome';
    font-size: 12px; line-height:0;  
    color: #FFF;
    display: block;
    height: 1px; padding: 0 0px 0px 0px;
    width: 260px;
    background: #3396d6;
    margin: 20px 0 30px 0;
    margin-left: auto;
    margin-right: auto;
	transition: all 0.3s ease-out 0s;
}
.feature-box-11 .sec_title h1 span {
	color:#65d835;
}
.feature-box-11 #triangle-up { 
	width: 0;
	height: 0;
	border-bottom: 210px solid rgba(0,0,0,0.9);
	border-left: 122px solid transparent;
	border-right: 122px solid transparent;
	position: relative;
	float: left;
	margin-left: -100px;
	transition: all 0.3s ease-out 0s;
}
.feature-box-11 #triangle-up:first-child {
    margin-left: 20px;
}
.feature-box-11 #triangle-up.margin-left-2 {
    margin-left: 16px;
}
.feature-box-11 #triangle-up div.icon {
    position: absolute;
    bottom: -180px;
    color: #ffffff;
    margin-left: -90px;
    width: 210px;
    text-align: center;
    font-size: 14pt;
    font-family: 'PT Sans';
}
.feature-box-11 #triangle-up i {
	font-size: 48px;
	margin-left:-24px;
	line-height: 100px;
	-webkit-transition: all 500ms ease-out;

	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	transition: all 0.3s ease-out 0s;
}
.feature-box-11 #triangle-up span {
	font-size:18px;
	text-transform:uppercase; 
	margin-left:-33px;
}
.feature-box-11 #triangle-up:hover { 
	border-bottom: 210px solid rgba(238,238,238,0.9);
}
.feature-box-11 #triangle-up:hover div.icon{ color:#65d835;}

.feature-box-11 #triangle-down { 
	width: 0;
	height: 0;
	border-top: 210px solid rgba(101,216,53,0.9);
	border-left: 122px solid transparent;
	border-right: 122px solid transparent;
	position: relative;
	float: left;
	margin-left: -100px;
}
.feature-box-11 #triangle-down div.icon {
    position: absolute;
    top: -180px;
    color: #ffffff;
    margin-left: -100px;
    width: 210px;
    text-align: center;
    font-size: 14pt; text-transform:uppercase;
    font-family: 'PT Sans';
}
.feature-box-11 #triangle-down i {
	font-size: 48px;
	 margin-left:-12px;
	line-height: 100px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.feature-box-11 #triangle-down:hover { 
	border-top: 210px solid rgba(238,238,238,0.9);
}
.feature-box-11 #triangle-down:hover div.icon{ color:#65d835;}


/* feature-box-12
 ------------------------------ */
.feature-box-12{
	width:100%;
	float:left;
	padding: 0;
	margin-top:70px;
	background-color:#eeeeee;
	transition: all 0.3s ease-out 0s;
}
.feature-box-12.bg-light{
	background-color:#65d835;
}
.feature-box-12 .img-main{
	position:relative;
	width:80%;
	left:10%;
	top:-90px;
	display:inline-block;
	margin: 0 auto;
}
.feature-box-12 .img-box{
	position: relative;
	width:100%;
	float:left;
	padding:15px;
	overflow:hidden;
	border:1px solid #f1f1f1;
	background-color:#fff;
}
.feature-box-12 .img-box .sc-icons-box{
	position:absolute;
	width:70%;
	padding:0px;
	margin:0 15% 0 15%;
	left:0;
	bottom:-85px;
	overflow:hidden;
	z-index:1;
	text-align:center;
	display:inline-block;
	background-color:#65d835;
	transition: all 0.3s ease-out 0s;
}
.feature-box-12 .img-box .sc-icons-box .sc-icons{
	width:100%;
	padding:0px;
}
.feature-box-12 .img-box .sc-icons-box .sc-icons li{
	padding:0px;
	display:inline-block;
}
.feature-box-12 .img-box .sc-icons-box .sc-icons li a{
	padding:15px 10px 10px 10px;
	color:#fff;
	display:inline-block;
}
.feature-box-12 .img-box .sc-icons-box .sc-icons li a:hover{
	color:#101010;
}

.feature-box-12:hover .img-box .sc-icons-box{
	bottom:15px;
}

/* feature box 13
 ------------------------------ */
.feature-box-13{
	float: left;
	width: 100%;
	text-align: center;
}
.feature-box-13 h1 {
	font-size:32px;
	font-weight:600;
	margin-bottom:30px;
}
.feature-box-13 h6 {
	font-size:18px;
	font-weight:500;
	margin-bottom:0px;
}
.feature-box-13 em {
	font-size:14px;
	font-weight:500;
}


/* feature box 14
 ------------------------------ */

.feature-box-14-main{
	position:relative;
	width:100%;
	min-height:695px;
	float:left;
	overflow:hidden;
}
.feature-box-14-main-inner{
	position:relative;
	width:100%;
	float:left;
}
.feature-box-14-main .bg-circle{
	position: absolute;
	width:780px;
	height:780px;
	left: -342px;
	top: -403px;
	border:35px solid #2948e3;
	border-radius:100%;
	float:left;
}
.feature-box-14-main .bg-circle-2{
	position: absolute;
	width:780px;
	height:780px;
	right: -342px;
	top:286px;
	border:35px solid #2948e3;
	border-radius:100%;
	float:left;
}
.feature-box-14 {
    position: relative;
    width: 100%;
    float: left;
    z-index: 2;
}
.feature-box-14 .img-box {
    position: relative;
    width: 100%;
    float: left;
}
.feature-box-14 .img-box .overlay {
    position: absolute;
    width: 90%;
	height:90%;
	opacity:0;
	padding:70px 0 0 0;
	margin:5% 0 0 5%;
	background:rgba(51,150,214,0.9);
	transition: all 0.3s ease-out 0s;
}
.feature-box-14:hover .img-box .overlay,
.feature-box-14.active .img-box .overlay {
    position: absolute;
    width: 90%;
	height:90%;
	opacity:1;
	padding:70px 0 0 0;
	margin:5% 0 0 5%;
	background:rgba(51,150,214,0.9);
}
.feature-box-14-main-inner .title-container{
	position: relative;
	width:100%;
	float:left;
	z-index:5;
	padding-top:80px;
}


/*feature-box-15
 -----------------------------*/
 
.feature-box-15 {
	position:relative;
	width: 100%;
	padding: 15px 0 40px 0;
	margin: 0px;
	float: left;
	text-align:center;
	transition: all 0.3s ease-out 0s;
	background-color:#fff;
	border:1px solid #f2f2f2;
}
.feature-box-15.border-right {
	border-right:1px solid #f2f2f2;
}
.feature-box-15 .price {
    color: #242424;
    font-size: 26px;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 0;
    text-align: center;
}
.feature-box-15 .price sup {
    font-size: 22px;
    font-style: normal;
}
.feature-box-15 .price i {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.feature-box-15 .title-box {
	width:100%;
	color:#242424;
	float:left;
	padding:45px 0 15px 0;
	vertical-align:middle;
	border-bottom:1px solid #f2f2f2;
}
.feature-box-15 .title-box .title {
	color:#242424;
}
.feature-box-15 .features-list {
	width:100%;
	padding:0;
	margin:0px;
	float:left;
}
.feature-box-15 .features-list li {
	width:100%;
	padding:15px 0;
	margin:0px;
	float:left;
	color:#727272;
	border-bottom:1px solid #f2f2f2;
}
.feature-box-15.active {
	background-color:#65d835;
	padding-bottom:60px;
	border:none;
}
.feature-box-15.active .features-list li {
	color:#fff;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.feature-box-15.active .title-box {
	color:#fff;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.feature-box-15.active .title-box .price {
	color:#fff;
}
.feature-box-15.active .title{
	color:#fff;
}


/*feature-box-16
 -------------------------*/

.feature-box-16 {
    position: relative;
	background: #000;
}
.feature-box-16 p {
	padding-top:20px;
}
.feature-box-16 img {
	opacity: 1;
    display: block;
	transition: all 0.3s ease;
}
.feature-box-16:hover img {
	opacity: 0.1;
}
.feature-box-16 .distext {
    position: absolute;
	top: 20%;
	left: 10%;
    right: 10%;
	bottom: 20%;
	padding: 25% 10% 10% 10%;
	background: rgba(0,118,219,0.9);
    text-decoration: none;
	transition: all 0.3s ease;
}
.feature-box-16 .distext.sty2 {
	background: rgba(135,211,124,0.9);
}
.feature-box-16:hover .distext {
	top: 10%;
	bottom: 10%;
}
.feature-box-16 .distext .hidtext {
	opacity: 0;
	transition: all 0.3s ease;
}
.feature-box-16:hover .distext .hidtext {
	opacity: 1;
}


.feature-box-16.sty2 .distext {
	padding-top: 23%;
	background: rgba(255,255,255,0.18);
	border-radius: 5px;
}
.button > a {
	position: relative;
	color: #fff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 3px;
}
.button > a:hover {
  color: #fff;
}
.button > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.button > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*.img-hover-box
 -------------------------*/

.img-hover-box-main {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 20px;
}
.img-hover-box {
	float: left;
	width: 90%;
	margin-left: 5%;
	margin-top: -20px;
	position: relative;
	z-index: 2;
	background: #fff;
	padding: 30px 40px 40px 40px;
	transition: all 0.3s ease;
}
.img-hover-box-main:hover .img-hover-box {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.img-hover-box-main .img-hover-box.active {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.img-hover-box-main img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.img-hover-box-main:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*feature-box-17
 -------------------------*/
 
.feature-box-17{
	width:90%;
	float:left;
	padding:40px 40px;
}

.feature-box-17 .big-title {
    font-size: 70px;
    line-height:70px;
}

/*feature-box-18
 -------------------------*/
.feature-box-18 {
	background: #000 url(../images/line-bg.gif) repeat -100px top;
	padding: 130px 0px;
	color:#fff;
}


/*feature-box-19
 -------------------------*/
.feature-box-19 {
	width: 100%;
	padding:30px 20px 20px 20px;
	transition: all 0.3s ease-out 0s;
	background-color: #fff;
	border:solid 1px #e4e4e4;
}
.feature-box-19 span {
	font-size: 32px;
	color: #242424;
}
.feature-box-19:hover .btn, .feature-box-19.active .btn {
	color: #fff;
}
.feature-box-19:hover, .feature-box-19.active {
	color: #fff;
	background-color: #65d835;
}
.feature-box-19:hover span, .feature-box-19:hover h4, .feature-box-19.active span, .feature-box-19.active h4 {
	color: #fff;
}
.feature-box-19:hover h4, .feature-box-19.active h4 {
	color: #fff;
}


/* featurebox 20
 ------------------------------ */
 
.feature-box-20 {
    width: 100%;
    float: left;
	text-align:center;
}
.feature-box-20 .img-circle {
    width:340px;
	height:340px;
	padding:10px;
	margin:0 auto;
	border-radius:50%;
	background-color:#fff;
}
.feature-box-20 .img-circle .img {
    width:320px;
	height:320px;
	border-radius:50%;
	overflow:hidden;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}

.feature-box-20 .content {
    width: 70%;
	margin:0 auto;
}

.feature-box-20:hover .img-circle .img,
.feature-box-20.active .img-circle .img {
	background-color:#65d835;
}


/* featurebox 21
 ------------------------------ */
.feature-box-21{
	position:relative;
}
.feature-box-21-wrap {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	padding: 50px 35px;
	position: relative;
	transition: all 0.5s ease 0s;
	z-index: 9;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	content: "";
	height: 300%;
	position: absolute;
	transform: rotate(45deg);
	width: 120%;
	z-index: -9;
	transition:all .5s;
	opacity:0;
	background: #65d835;
}
.feature-box-21-wrap::before{
	top: -37px;
	left:100%;
}
.feature-box-21-wrap:hover:before{
	left: -27px;
	opacity:1;
}
.feature-box-21-wrap::after {
	right: 100%;
	bottom: -37px;
}
.feature-box-21-wrap:hover:after {
	right: -27px;
	opacity:1;
}
.feature-box-21-wrap:hover {
	color:#fff;
}
.feature-box-21-wrap:hover h3{
	color:#fff;
}
.feature-box-21-wrap:hover h3:after{
	background:#fff;
}
.feature-box-21-icon i {
	font-size: 45px;
	margin-bottom: 20px;
	transition:all .5s;
}
.feature-box-21-wrap:hover .feature-box-21-icon i{
	transform:rotate(360deg);
}
.feature-box-21-wrap h3 {
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 15px;
	position: relative;
}


/* featurebox 22
 ------------------------------ */
 .feature-box-22 {
	float: left;
	width: 100%;
	text-align: center;
}
.feature-box-22 h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #272727;
	text-align:center;
	margin-bottom:10px;
	font-weight:500;
	display:block;
}
.feature-box-22 .box {
	width: 100%;
	border:solid 1px #f5f2f0;
	border-radius:4px;
	padding:20px 20px 30px 20px;
	transition: all 0.3s ease;
}
.feature-box-22 .box:hover,
.feature-box-22 .box.active {
	border:solid 1px #65d835;
	margin-top:20px;

}
.feature-box-22 .box:hover h2,
.feature-box-22 .box.active h2 {
	color: #65d835;
}
.feature-box-22 .box i {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    height: 50px;
	width:100%;
    line-height: 50px;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease;
	color: #868686;
    font-size: 30px;
	display: block;
	margin: 0px 0px 0px 0px;
}
.feature-box-22 .box:hover i,
.feature-box-22 .box.active i {
	color: #fff;
	background-color: #65d835;
	border: 1px solid #65d835;
}
.feature-box-22 .box p{
    text-align:center;
	padding-top: 10px;
	
}
.feature-box-22 .box h2{
    font-family: 'Roboto', sans-serif;
	font-weight:bold;
	font-size: 16px;
	text-transform: uppercase;
	color:#272727;
	line-height:23px;
	margin:27px 0px 15px 0px;
}
.feature-box-22 .box h2 b{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 12px;
	text-transform:none;
	color:#999;
	display:block;
}
.feature-box-22 .bgline {
	width: 40px;
	height: 2px;
	background-color: #242424;
	margin:0 auto;
}

.feature-box-22 .linebtn.one{
	background-color:#fff;
	color: #727272;
	border-radius:0;
	padding:8px 34px;
	border:solid 1px #f3f3f3;
	font-size:13px;
	text-transform:uppercase;
	font-family:Open Sans, sans-serif;
	margin-bottom:-77px;
	transition: all 0.3s ease;
}
.feature-box-22 .linebtn.one:after {
	background-color: #fff;
}
.feature-box-22 .linebtn.one:hover,
.feature-box-22 .box:hover .linebtn.one,
.feature-box-22 .box.active  .linebtn.one{
	border-color: #65d835;
	background-color:#65d835;
	color: #fff;
}




/* featurebox 23
 ------------------------------ */
 .feature-box-23 {
	float: left;
	width: 100%;
	padding:10%;
	text-align: left;
}

.background-image02 {
	padding: 140px 0px ;
	background:  url(../images/3.png) no-repeat center LEFT;
}


/* pages
--------------------*/

/* team-page1
 ------------------------------ */
.team-page1{
	width:100%;
	padding:0px;
	float:left;
	min-height:645px;
}
.team-page1 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.team-page1 .img-box .overlay{
	width:100%;
	height:100%;
	padding:0px;
	float:left;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.2);
}
.team-page1 .img-box .text-box{
	position: absolute;
	width:80%;
	padding:50px;
	float:left;
	left:0px;
	bottom:-185px;
	z-index:3;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.team-page1 .img-box .text-box .sc-icons-box{
	position: absolute;
	width:80%;
	padding:0px;
	margin:0px;
	top:-53px;
	left:0px;
	float:left;
	opacity:0;
	overflow:hidden;
	z-index:3;
	background-color:rgba(101, 216, 53, 0.9);
	transition: all 0.3s ease-out 0s;
}
.team-page1 .img-box .text-box .sc-icons-box .sc-icons{
	width:100%;
	margin:0px;
	padding-left:0px;
	text-align:center;
}
.team-page1 .img-box .text-box .sc-icons-box .sc-icons li{
	display:inline-block;
}
.team-page1 .img-box .text-box .sc-icons-box .sc-icons li a{
	padding:15px 7px;
	color:#fff;
	text-align:center;
	display:inline-block;
}
.team-page1:hover .img-box .text-box .sc-icons-box,
.team-page1.active .img-box .text-box .sc-icons-box{
	left:110px;
	opacity:1;
}
.team-page1:hover .img-box .text-box, .team-page1.active .img-box .text-box{
	background-color:#101010;
}
.team-page1:hover .img-box .text-box .title, .team-page1.active .img-box .text-box .title{
	color:#fff;
}


/* featurework
 ------------------------------ */
.featurework {
	width:100%;
	float:left;	
}
.featureworkbox1 {
	width:100%;
	float:left;	
}
.featureworkbox1 .boxed {
	padding:14.333% 25%;
}

.featureworkimg1 {
	width:100%;
	float:left;	
}




/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {


.feature-box-4 {
    min-height: 465px;
}
.feature-box-4 .img-box .text-box {
    height: auto;
}

.feature-box-11 #triangle-up { 
 margin: 0px auto 20px; float:none;
}
.feature-box-11 #triangle-up.margin-left-2 {
    margin: 0px auto 20px;
}
.feature-box-11 #triangle-down { 
margin: 0px auto 20px; float:none;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 550%;
}

}
/* ---------- MAX 1000PX ---------- */
@media only screen and (max-width: 1000px) {
	
.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons{
	padding-top:35px;
}
.feature-box-3 .item-holder .text-box{
	padding:25px;
}
.bg-shape-image::before {
    right:0%;
}
.feature-box-4 {
    min-height: 0px;
}
.feature-box-5 {
	margin-bottom: 100px;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 550%;
}

}	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {


.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons{
	padding-top:35px;
}
.feature-box-3 .item-holder .text-box{
	padding:25px;
}
.bg-shape-image::before {
    right:0%;
	background:rgba(51, 154, 214, 10);
}
.feature-box-4 {
    min-height: 0px;
}
.feature-box-5 {
	margin-bottom: 100px;
}
.feature-box-9 .img-frame {
    left: 63px;
}
.img-hover-box {
	padding: 20px ;
}
.img-hover-text2:hover .distext {
	bottom: 5%;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 550%;
}
.feature-box-20 .img-circle {
    width:240px;
	height:240px;
	padding:10px;
	margin:0 auto;
	border-radius:50%;
	background-color:#fff;
}
.feature-box-20 .img-circle .img {
    width:220px;
	height:220px;
	border-radius:50%;
	overflow:hidden;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.background-image02 {
	background: #fff ;
}

}

/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {


.img-hover-text-1 .distext {
    position: absolute;
	left: 10px;
    right: 10px;
	bottom: -100px;
    text-decoration: none;
	transition: all 0.3s ease;
	padding:20px 10px 20px 10px;;
}
.img-hover-text-1:hover .distext {
	bottom: 0px;
}
.img-hover-text-1 h3 {
	font-size:18px;
	margin-bottom:0px;
}
.img-hover-text-1 p {
	line-height:18px;
}
.img-hover-text-1 h2 {
	font-size:18px;
	margin-bottom:0px;
}

.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons{
	padding-top:35px;
}
.feature-box-3 {
	padding:25px;
}
.bg-shape-image::before {
    right:0%;
	background:rgba(51, 154, 214, 10);
}
.feature-box-4 {
    min-height: 450px;
}
.feature-box-5 {
	margin-bottom: 100px;
}
.feature-box-9 .img-frame {
    left: 63px;
}
.img-hover-box {
	padding: 20px ;
}
.img-hover-text2:hover .distext {
	bottom: 5%;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 550%;
}
.feature-box-20 .img-circle {
    width:240px;
	height:240px;
	padding:10px;
	margin:0 auto;
	border-radius:50%;
	background-color:#fff;
}
.feature-box-20 .img-circle .img {
    width:220px;
	height:220px;
	border-radius:50%;
	overflow:hidden;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.background-image02 {
	background: #fff ;
}

}

/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {
.feature-box-2 .item-holder .text-box{
	padding:25px;
}
.feature-box-3 .item-holder .text-box{
	padding:25px;
}
.bg-shape-image::before {
    right:0%;
}
.feature-box-5 {
	margin-bottom: 100px;
}
.feature-box-9 .img-frame {
    left: 63px;
}
.feature-box-11 #triangle-up { 
 margin: 0px auto 20px; float:none;
}
.feature-box-11 #triangle-up.margin-left-2 {
    margin: 0px auto 20px;
}
.feature-box-11 #triangle-down { 
margin: 0px auto 20px; float:none;
}
.img-hover-box {
	padding: 20px ;
}
.img-hover-text2:hover .distext {
	bottom: 5%;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 550%;
}
.feature-box-20 .img-circle {
    width:240px;
	height:240px;
	padding:10px;
	margin:0 auto;
	border-radius:50%;
	background-color:#fff;
}
.feature-box-20 .img-circle .img {
    width:220px;
	height:220px;
	border-radius:50%;
	overflow:hidden;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.background-image02 {
	background: #fff ;
}

}

/* ---------- MAX 640PX ---------- */

@media screen and (max-width: 640px) {


.feature-box-3 .img-box-main .img-box .sc-icons-box .sc-icons{
	padding-top:15px;
}
.bg-shape-image::before {
    right:0%;
}
.feature-box-4 .img-box .text-box {
    height: 100%;
}
.feature-box-5 {
	margin-bottom: 100px;
}
.feature-box-9 .img-frame {
    left: 38px;
}
.feature-box-11 #triangle-up { 
 margin: 0px auto 20px; float:none;
}
.feature-box-11 #triangle-up.margin-left-2 {
    margin: 0px auto 20px;
}
.feature-box-11 #triangle-down { 
margin: 0px auto 20px; float:none;
}
.feature-box-17 .big-title {
    font-size: 40px;
    line-height:40px;
}
.but-stbutton-9 {
	display:none;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 350%;
}
a.animated-button.thar-green {
	display:none;
}
.feature-box-20 .img-circle {
    width:240px;
	height:240px;
	padding:10px;
	margin:0 auto;
	border-radius:50%;
	background-color:#fff;
}
.feature-box-20 .img-circle .img {
    width:220px;
	height:220px;
	border-radius:50%;
	overflow:hidden;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}


}

/* ---------- MAX 480PX ---------- */

@media screen and (max-width: 480px) {
	
.feature-box-1 .box {
	background-color:#fff;
	padding: 20px;
}
.img-hover-text-1 .distext {
	padding-bottom:75px;
    position: absolute;
}
.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons{
	padding-top:15px;
}
.bg-shape-image::before {
    right:0%;
	background:rgba(51, 154, 214, 10);
}
.feature-box-4 {
    min-height: 0px;
}
.feature-box-9 .img-frame {
    left: 38px;
}
.feature-box-11 #triangle-up { 
 margin: 0px auto 20px; float:none;
}
.feature-box-11 #triangle-up.margin-left-2 {
    margin: 0px auto 20px;
}
.feature-box-11 #triangle-down { 
margin: 0px auto 20px; float:none;
}
.feature-box-17 .big-title {
    font-size: 40px;
    line-height:40px;
}

.but-stbutton-9 {
	display:none;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 350%;
}
a.animated-button.thar-green {
	display:none;
}
.featureworkbox1 .boxed {
	padding:15% 15%;
}
}
/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {


.feature-box-2 .img-box-main .img-box .sc-icons-box .sc-icons{
	padding-top:15px;
}
.bg-shape-image::before {
    right:0%;
	background:rgba(51, 154, 214, 10);
}
.feature-box-9 .img-frame {
    left: 38px;
}
.feature-box-17 .big-title {
    font-size: 40px;
    line-height:40px;
}
.but-stbutton-9 {
	display:none;
}
.feature-box-21-wrap::before, .feature-box-21-wrap::after {
	width: 350%;
}a.animated-button.thar-green {
	display:none;
}

}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {


.bg-shape-image::before {
    right:0%;
	background:rgba(51, 154, 214, 10);
}
.feature-box-4 {
    min-height: 400px;
}
.feature-box-4 .img-box .text-box {
    height: auto;
}
.but-stbutton-9 {
	display:none;
}
a.animated-button.thar-green {
	display:none;
}

}

.above-arrow-line {
	background: url(../images/arrow-line.png) no-repeat left top;
	padding-top: 20px;
}

.img-limit-round {
	border-radius: 25px;
}





.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 650px solid #8e44ad;
	border-left: 98.95vw solid transparent;
	margin-top: -200px;
}
.triangle-bottomright.dark {
	width: 0;
	height: 0;
	border-bottom: 400px solid #272727;
	border-left: 98.95vw solid transparent;
	margin-top: -290px;
	background: #8e44ad;
}
.triangle-bottomleft {
	width: 0;
	height: 0;
	border-top: 650px solid #f3f3f3;
	border-left: 98.95vw solid transparent;
}
.sec-title-triangle {
	margin-top: -170px;
}
.sec-title-triangle2 {
	margin-top: -430px;
}

@media only screen and (max-width: 780px) {
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 500px solid #8e44ad;
	border-left: 100vw solid transparent;
}
.triangle-bottomright.dark {
	width: 0;
	height: 0;
	border-bottom: 400px solid #272727;
	border-left: 100vw solid transparent;
	margin-top: -290px;
	background: #8e44ad;
}
.sec-title-triangle {
	margin-top: -140px;
}
.triangle-bottomleft {
	width: 0;
	height: 0;
	border-top: 500px solid #f3f3f3;
	border-left: 100vw solid transparent;
}


}


@media only screen and (max-width: 460px) {
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 400px solid #8e44ad;
	border-left: 100vw solid transparent;
}
.triangle-bottomright.dark {
	width: 0;
	height: 0;
	border-bottom: 400px solid #272727;
	border-left: 100vw solid transparent;
	margin-top: -290px;
	background: #8e44ad;
}
.sec-title-triangle {
	margin-top: -100px;
}
.triangle-bottomleft {
	width: 0;
	height: 0;
	border-top: 500px solid #f3f3f3;
	border-left: 100vw solid transparent;
}


}











