


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */
.gm-feature-box-1{
	width:100%;
	float:left;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.gm-feature-box-1.bg-white{
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.gm-feature-box-1 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.gm-feature-box-1 .img-box .time{
	position: absolute;
	width:110px;
	height:40px;
	float:left;
	bottom:0px;
	right:0px;
	text-align:center;
	line-height:40px;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.gm-feature-box-1 .img-box .time.bg-white{
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.gm-feature-box-1:hover, .gm-feature-box-1.active{
	background-color:#101010;
}
.gm-feature-box-1:hover .time, .gm-feature-box-1.active .time{
	background-color:#101010;
}
.gm-feature-box-1:hover .time.bg-white, .gm-feature-box-1.active .time.bg-white{
	background-color:#101010;
}
.gm-feature-box-1:hover .title, .gm-feature-box-1.active .title{
	color:#fff;
}


/* input booking
 ------------------------------ */
.gm-booking{
	width:100%;
	height:40px;
	float:left;
	padding:10px;
	margin-bottom:15px;
	border:1px solid #e4e4e4;
	transition: all 0.3s ease-out 0s;
}

/* ----------  opening list ---------- */
.gm-opening-list {
	float: left;
	padding: 0;
	width: 100%;
}
.gm-opening-list li {
	color: #727272;
	float: left;
	padding: 8px 0;
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}
.gm-opening-list li:first-child {
	padding-top: 0px;
}
.gm-opening-list li:last-child {
	border-bottom: none;
}

/* feature box 2
 ------------------------------ */
.gm-feature-box-2 {
	position:relative;
	width: 100%;
	float: left;
	min-height:270px;
	padding:0;
}
.gm-feature-box-2 .img-box {
	position: absolute;
	width: 50%;
	float: left;
	padding:0;
}
.gm-feature-box-2 .text-box {
	position: absolute;
	width: 55%;
	float: right;
	padding:50px;
	right:0px;
	top:23px;
	z-index:2;
	border:1px solid #ececec;
	background-color: #fff;
}
.gm-feature-box-2 .text-box .blog-post-info span {
	color:#ecae3d;
}


/* feature box 3
 ------------------------------ */
.gm-feature-box-3 {
	position:relative;
	width: 100%;
	float: left;
	margin:50px 0 40px 0;
	min-height:270px;
	padding:0;
}
.gm-feature-box-3 .img-box {
	position: absolute;
	width: 50%;
	float: right;
	right:0px;
}
.gm-feature-box-3 .text-box {
	position: absolute;
	width: 55%;
	float: left;
	padding:50px;
	left:0px;
	top:23px;
	z-index:2;
	border:1px solid #ececec;
	background-color: #fff;
}
.gm-feature-box-3 .text-box .blog-post-info span {
	color:#ecae3d;
}


/*============ price table ============ */

.gm-price-table {
	width: 100%;
	float: left;
	padding:0 0 50px 0;
	border:1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.gm-price-table .price {
    color: #101010;
    font-size:40px;
    font-weight: bold;
    line-height: 20px;
    padding: 45px 45px 30px 45px;
    text-align: center;
	border-bottom:1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.gm-price-table .price sup {
    color: #101010;
    font-size: 24px;
	font-weight:400;
}
.gm-price-table .price span {
    color: #101010;
    font-size:18px;
    font-weight: normal;
    margin:15px 0 0 0;
    text-align: center;
}
.gm-price-table .features-list {
	width:100%;
	padding:30px;
	margin:0px;
	display:inline-block;
}
.gm-price-table .features-list li {
	padding:10px 0;
	margin:0px;
	color:#727272;
	display:block;
	text-align:center;
	border-bottom:1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.gm-price-table .features-list li:last-child {
	border-bottom:none;
}

.gm-price-table:hover, .gm-price-table.active {
	border:1px solid #101010;
	background-color:#101010;
}
.gm-price-table:hover .btn.btn-light,
.gm-price-table.active .btn.btn-light {
	color:#fff;
	background-color:#ecae3d;
}
.gm-price-table:hover .features-list li, .gm-price-table:hover .price,
.gm-price-table.active .features-list li, .gm-price-table.active .price {
	border-bottom:1px solid #282828;
}
.gm-price-table:hover .price, .gm-price-table:hover sup, .gm-price-table:hover .price span,
.gm-price-table.active .price, .gm-price-table.active sup, .gm-price-table.active .price span {
	color:#fff;
}
.gm-price-table:hover .features-list li:last-child,
.gm-price-table.active .features-list li:last-child {
	border-bottom:none;
}




/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.gm-title-line-1 {
	width: 70px;
	height:2px;
	margin:15px auto 30px auto;
	background-color:#ecae3d;
}
.gm-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.gm-title-line-1.dark, .gm-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

/*============ Parallax Sections ============ */

.parallax-32 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/gm-parallax1.jpg") no-repeat fixed 50% 0;
}


/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

.gm-feature-box-3 {
    margin: 75px 0 40px 0;
}



}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {

.gm-feature-box-2 .text-box {
	position: static;
    width: 100%;
    top: 0;
}
.gm-feature-box-2 .img-box {
	position: static;
    width: 100%;
}
.gm-feature-box-3 .text-box {
	position: static;
    width: 100%;
    top: 0;
}
.gm-feature-box-3 .img-box {
	position: static;
    width: 100%;
}










}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {








}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {




}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {








}


@media screen and (max-width: 480px) {



}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {






}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}