


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */
.hs-feature-box-1{
	position:relative;
	width:100%;
	float:left;
	padding:15px;
	min-height:585px;
	left:0px;
	top:-100px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-1 .img-box{
	position: absolute;
	width:92%;
	float:left;
}
.hs-feature-box-1 .img-box .text-box{
	position: absolute;
	width:90%;
	float:left;
	left: 16px;
	bottom: -218px;
	padding:45px;
	background-color:#fff;
}
.hs-feature-box-1 .img-box .text-box .title-line{
	width:20%;
	height:2px;
	float:left;
	margin-right:auto;
	background-color:#ecae3d;
}
.hs-feature-box-1:hover .img-box .text-box .btn-border.light,
.hs-feature-box-1.active .img-box .text-box .btn-border.light{
	color:#ecae3d;
	border:2px solid #ecae3d;
	background-color:#fff;
}
.hs-feature-box-1:hover .img-box .text-box .title,
.hs-feature-box-1.active .img-box .text-box .title{
	color:#ecae3d;
}


/* feature box 2
 ------------------------------ */
.hs-feature-box-2{
	width:100%;
	padding:0px;
	float:left;
}
.hs-feature-box-2 .icon-circle {
	width: 200px;
	height: 200px;
	font-size: 46px;
	border: none;
	border-radius:100%;
	margin:0 auto 15px auto;
}
.hs-feature-box-2 .icon-circle.icon-1 {
	background: #fff url(../images/bb-5.png) center 45px no-repeat;
}
.hs-feature-box-2:hover .icon-circle.icon-1 {
	background: #fff url(../images/bb-5-hover.png) center 45px no-repeat;
}
.hs-feature-box-2 .icon-circle.icon-2 {
	background: #fff url(../images/bb-6.png) center 45px no-repeat;
}
.hs-feature-box-2:hover .icon-circle.icon-2 {
	background: #fff url(../images/bb-6-hover.png) center 45px no-repeat;
}
.hs-feature-box-2 .icon-circle.icon-3 {
	background: #fff url(../images/hs-4.png) center 45px no-repeat;
}
.hs-feature-box-2:hover .icon-circle.icon-3, .hs-feature-box-2.active .icon-circle.icon-3 {
	background: #fff url(../images/hs-4-hover.png) center 45px no-repeat;
}
.hs-feature-box-2 .icon-circle.icon-4 {
	background: #fff url(../images/hs-5.png) center 45px no-repeat;
}
.hs-feature-box-2:hover .icon-circle.icon-4 {
	background: #fff url(../images/hs-5-hover.png) center 45px no-repeat;
}
.hs-feature-box-2:hover h5, .hs-feature-box-2.active h5 {
	color:#ecae3d;
}


/* feature box 3
 ------------------------------ */
.hs-feature-box-3{
	width:100%;
	padding:0px;
	float:left;
	min-height:645px;
}
.hs-feature-box-3 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.hs-feature-box-3 .img-box .overlay{
	width:100%;
	height:100%;
	padding:0px;
	float:left;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.2);
}
.hs-feature-box-3 .img-box .text-box{
	position: absolute;
	width:80%;
	padding:50px;
	float:left;
	left:0px;
	bottom:-185px;
	z-index:3;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-3 .img-box .text-box .sc-icons-box{
	position: absolute;
	width:80%;
	padding:0px;
	margin:0px;
	top:-53px;
	left:0px;
	float:left;
	opacity:0;
	overflow:hidden;
	z-index:3;
	background-color:rgba(236, 174, 61, 0.9);
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-3 .img-box .text-box .sc-icons-box .sc-icons{
	width:100%;
	margin:0px;
	padding-left:0px;
	text-align:center;
}
.hs-feature-box-3 .img-box .text-box .sc-icons-box .sc-icons li{
	display:inline-block;
}
.hs-feature-box-3 .img-box .text-box .sc-icons-box .sc-icons li a{
	padding:15px 7px;
	color:#fff;
	text-align:center;
	display:inline-block;
}
.hs-feature-box-3:hover .img-box .text-box .sc-icons-box,
.hs-feature-box-3.active .img-box .text-box .sc-icons-box{
	left:110px;
	opacity:1;
}
.hs-feature-box-3:hover .img-box .text-box, .hs-feature-box-3.active .img-box .text-box{
	background-color:#101010;
}
.hs-feature-box-3:hover .img-box .text-box .title, .hs-feature-box-3.active .img-box .text-box .title{
	color:#fff;
}

/* feature box 4
 ------------------------------ */
.hs-feature-box-4{
	width:100%;
	padding:17px;
	float:left;
	background-color:#fff;
	margin-bottom:205px;
}
.hs-feature-box-4 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.hs-feature-box-4 .img-box .overlay{
	width:100%;
	height:100%;
	padding:0px;
	float:left;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.2);
}
.hs-feature-box-4 .img-box .text-box{
	position: absolute;
	width:86%;
	padding:50px;
	float:left;
	left:24px;
	bottom:-218px;
	z-index:3;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-4 .img-box .text-box .post-date-box{
	width:110px;
	height:95px;
	left:0px;
	top:-95px;
	color:#101010;
	line-height:17px;
	padding:38px 0 0 0;
	background-color:#fff;
}
.hs-feature-box-4 .img-box .text-box .post-date-box span{
	left:0px;
	top:0px;
	color:#ecae3d;
	font-size:14px;
	line-height:0px;
	background-color:#fff;
}
.hs-feature-box-4 .img-box .text-box .title-line {
    width: 30%;
    height: 2px;
    float: left;
    margin-right: auto;
    background-color: #ecae3d;
}

/* feature box 5
 ------------------------------ */
.hs-feature-box-5{
	width:100%;
	float:left;
}
.hs-feature-box-5 .imgbox-medium{
	border:7px solid #f5f5f5;
}


/* feature box 6
 ------------------------------ */
.hs-feature-box-6{
	width:100%;
	float:left;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-6 .img-box{
	width:100%;
	float:left;
	padding:15px;
	background-color:#fff;
	border:1px solid #f0f0f0;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-6 .text-box{
	width:100%;
	float:left;
	padding:40px;
	margin-top:15px;
	background-color:#fff;
	border:1px solid #f0f0f0;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-6:hover .img-box, .hs-feature-box-6.active .img-box{
	background-color:#101010;
	border:1px solid #101010;
}
.hs-feature-box-6:hover .text-box, .hs-feature-box-6.active .text-box{
	background-color:#101010;
	border:1px solid #101010;
}
.hs-feature-box-6:hover .text-box .title, .hs-feature-box-6.active .text-box .title{
	color:#fff;
}

/* feature box 7
 ------------------------------ */
.hs-feature-box-7{
	width:100%;
	padding:0px;
	float:left;
}
.hs-feature-box-7 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.hs-feature-box-7 .img-box .overlay{
	width:90%;
	height:90%;
	float:left;
	z-index:2;
	left:5%;
	top:5%;
	opacity:0;
	background-color:rgba(255, 255, 255, 0.8);
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-7 .divider-line{
	width:70%;
	margin:10px 15% 10px 15%;
}
.hs-feature-box-7 .text-box{
	padding:0 8px 8px 8px;
}
.hs-feature-box-7 .img-box .overlay .sc-icons{
	width:100%;
	margin:120px 0 0 0;
	padding-left:0px;
	text-align:center;
}
.hs-feature-box-7 .img-box .overlay .sc-icons li{
	display:inline-block;
}
.hs-feature-box-7 .img-box .overlay .sc-icons li a{
	width:40px;
	height:40px;
	color:#fff;
	line-height:40px;
	text-align:center;
	display:inline-block;
	border-radius:100%;
	background-color:#101010;
}
.hs-feature-box-7 .img-box .overlay .sc-icons li a:hover{
	color:#fff;
	background-color:#ecae3d;
}
.hs-feature-box-7:hover .img-box .overlay, .hs-feature-box-7.active .img-box .overlay{
	opacity:1;
}


/* feature box 8
 ------------------------------ */
.hs-feature-box-8{
	width:100%;
	float:left;
	
}
.hs-feature-box-8 .img-box{
	width:100%;
	padding:17px;
	float:left;
	background-color:#fff;
}
.hs-feature-box-8 .text-box{
	width:100%;
	padding:50px;
	float:left;
	z-index:3;
	margin-top:15px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}


/* feature box 9
 ------------------------------ */
.hs-feature-box-9{
	position:relative;
	width:100%;
	float:left;
	padding:15px;
	min-height:437px;
	left:0px;
	top:0;
	background-color:#fff;
	margin-bottom: 225px;
	transition: all 0.3s ease-out 0s;
}
.hs-feature-box-9 .img-box{
	position: absolute;
	width:92%;
	float:left;
}
.hs-feature-box-9 .img-box .text-box{
	position: absolute;
	width:90%;
	float:left;
	left: 16px;
	bottom: -218px;
	padding:45px;
	background-color:#fff;
}
.hs-feature-box-9 .img-box .text-box .title-line{
	width:20%;
	height:2px;
	float:left;
	margin-right:auto;
	background-color:#ecae3d;
}
.hs-feature-box-9:hover .img-box .text-box .btn-border.light,
.hs-feature-box-9.active .img-box .text-box .btn-border.light{
	color:#ecae3d;
	border:2px solid #ecae3d;
	background-color:#fff;
}
.hs-feature-box-9:hover .img-box .text-box .title,
.hs-feature-box-9.active .img-box .text-box .title{
	color:#ecae3d;
}

/* feature box 10
 ------------------------------ */
.hs-feature-box-10 {
	width: 100%;
	padding: 40px;
	float: left;
	border: 1px solid #f0f0f0;
}
.price-list {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.price-list li {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	border-bottom: 1px solid #f0f0f0;
}
.price-list li:last-child {
	border-bottom: none;
}
.price-list li span.item {
	float: left;
	text-align: left;
}
.price-list li span.price {
	float: right;
	text-align: right;
}
.price-list li span.line {
	font-size: 15px;
	line-height: 41px;
	color: #e4e4e4;
}
/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.gm-title-line-1 {
	width: 70px;
	height:2px;
	margin:15px auto 30px auto;
	background-color:#ecae3d;
}
.gm-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.gm-title-line-1.dark, .gm-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

/*============ Parallax Sections ============ */

.parallax-33 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/hs-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-34 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/hs-parallax2.jpg") no-repeat fixed 50% 0;
}
.parallax-35 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/hs-parallax1.jpg") no-repeat fixed 50% 0;
}

/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

.hs-feature-box-1 {
    min-height: 496px;
}
.hs-feature-box-3 {
    min-height: 555px;
}







}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {

.hs-feature-box-1 {
    min-height: 622px;
}
.hs-feature-box-3 {
    min-height: 623px;
}
.hs-feature-box-4 {
    margin-bottom: 228px;
}






}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {








}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {

.hs-feature-box-1 {
    left: 0px;
    top: 0;
}


}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.hs-feature-box-1 {
    min-height: 674px;
}
.hs-feature-box-3 {
    min-height: 671px;
}






}


@media screen and (max-width: 480px) {



}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

.hs-feature-box-1 {
    min-height: 614px;
}
.hs-feature-box-3 {
    min-height: 606px;
}






}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}