


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */
.hg-feature-box-1{
	width:100%;
	float:left;
	padding:20px;
	background-color:#fff;
}
.hg-feature-box-1 .inner-box{
	width:100%;
	float:left;
	padding:30px;
	border:1px solid #efefef;
}
.hg-feature-box-1 .inner-box .icon{
	border:1px solid #efefef;
	background-color:#fff;
	margin-bottom:8px;
}
.hg-feature-box-1 .inner-box .title-line{
	width:30%;
	margin:0 auto;
	height:1px;
	background-color:#ecae3d;
}
.hg-feature-box-1:hover .inner-box .icon, .hg-feature-box-1:hover .inner-box .title,
.hg-feature-box-1.active .inner-box .icon, .hg-feature-box-1.active .inner-box .title{
	color:#ecae3d;
}
/* Home Domain search
 ------------------------------ */
.hs-domain-search-1{
	width: 100%;
	float: left;
	padding:0;
	margin: 0px;
}
.hs-domain-search-1 #domain-searchform #dsearch {
	background-color: #fff;
	border: 1px solid #edeeee;
	color: #727272;
	float: left;
	font-size: 15px;
	height: 70px;
	padding: 7px 10px;
	width: 65%;
}
.hs-domain-search-1 .drlist {
	background-color: #EEEEEE;
	color: #272727;
	float: left;
	font-size: 16px;
	height: 70px;
	margin: 0px 0 0 -5px;
	padding: 10px;
	width: 102px;
	background-color: #fff;
	border: 1px solid #edeeee;
}
.hs-domain-search-1 #search-submit {
	border: none;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: normal;
	height: 70px;
	overflow: hidden;
	padding: 5px 38px;
	margin-left: 0px;
	text-align: center;
	text-transform:uppercase;
	background-color: #101010;
	transition: all 0.3s ease-out 0s;
}
.hs-domain-search-1 #search-submit:hover {
	color: #fff;
	background-color: #616161;
}

/* =========== tld and search input ============= */

ul.tld-list{
	width:100%;
	padding:0px;
	margin:0px;
	}	
	
.tld-list li{
	text-align:left;
	color:#fff;
	padding: 0 20px;
	margin:0px;
	display: inline;
	float:left;
	border-right:1px solid rgba(255, 255, 255, 0.3);
	}
.tld-list li:last-child{
	border-right:none;
	}
.tld-list li span{
	display: block;
	font-size:26px;
	padding-bottom:5px;
	font-weight:700;
	}
.tld-list li span.price{
	font-size:18px;
	font-weight:normal;
	}

.tld-list.dark li{
	text-align:left;
	color:#242424;
	padding: 0 35px;
	margin:0px;
	display: inline;
	float:left;
	border-right:1px solid rgba(255, 255, 255, 0.8);
	}
.tld-list.dark li.title{
	padding: 20px 10px 0 0;
	}
	

/* feature box 2
 ------------------------------ */
.hg-feature-box-2{
	width:100%;
	float:left;
}
.hg-feature-box-2:hover .title, .hg-feature-box-2:hover .icon,
.hg-feature-box-2.active .title, .hg-feature-box-2.active .icon{
	color:#ecae3d;
}

/*============ social icons ============ */
.hg-sc-icons{
	width:100%;
	float:left;
	padding: 0px;
	margin: 0px;
}
.hg-sc-icons li{
	padding: 0px;
	margin: 0px;
	display:inline-block;
}
.hg-sc-icons li a{
	float:left;
	font-size:14px;
	width:36px;
	height:36px;
	padding:0px;
	margin: 0px;
	color:#fff;
	line-height:40px;
	text-align:center;
	background-color:#1f1f1f;
	display:inline-block;
	transition: all 0.3s ease-out 0s;
}
.hg-sc-icons li a:hover, .hg-sc-icons li a.active{
	background-color:#ecae3d;
}

 /* footer newsletter
 ------------------------------ */ 
.hg-newsletter-1 {
	border: 1px solid #1f1f1f;
	border-width: 1px 0 1px 1px;
	color: #727272;
	float: left;
	font-size: 13px;
	font-weight: normal;
	height: 50px;
	line-height: 39px;
	padding: 0 7px;
	width: 82%;
	background-color:transparent;
}
.hg-newsletter-submit-1 {
	background-color: #1f1f1f;
	border: 1px solid #1f1f1f;
	float: left;
	height: 50px;
	margin: 0;
	text-transform:uppercase;
	padding: 5px 45px;
	transition: all 0.3s ease-out 0s;
}
.hg-newsletter-submit-1:hover {
	color:#fff;
	background-color: #ecae3d;
	border: 1px solid #ecae3d;
}

/* =========== footer paymen logos ============= */

.fo-payment-logo-list{
	width:100%;
	padding:0px;
	margin:0px;
	float:left;
	}
.footer-payment-logo-list li{
	padding:0 15px 0 0;
	margin:0px;
	float:left;
	}

.fo-payment-logo-list.align-right li{
	padding:0 15px 0 0;
	margin:0px;
	float:right;
	}	
/* button green
 ------------------------------ */
.btn.btn-green {
	color: #fff;
	background-color: #7fb603;
}
.btn.btn-green:hover {
	background-color: #6f9f03;
}
.btn.btn-green.big {
	padding:24px 30px;
}

/*============ Section Titles ============ */


/* subtitle
 ------------------------------ */
.hg-sub-title {
	width: 60%;
	margin:15px auto 0 auto;
}
.hg-sub-title.align-left {
	width: 90%;
	margin:15px 10% 0 0;
}

/*============ price table ============ */

/* price table 1
 ------------------------------ */
.hg-price-table-1 {
    width: 100%;
	padding:20px;
    float: left;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.hg-price-table-1 .inner-box {
    width: 100%;
	padding:40px;
    float: left;
	border:1px solid #e9e9e9;
}
.hg-price-table-1 .inner-box .price-circle {
	width: 130px;
	height: 130px;
	padding: 38px 0 0;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #fff;
	transition: all 0.3s ease-out 0s;
}
.hg-price-table-1 .inner-box .price-circle .price {
	color: #242424;
	font-size:28px;
	padding: 8px 0 0 0;
	font-weight:700;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.hg-price-table-1 .inner-box .price-circle .price i {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}
.hg-price-table-1 .inner-box .price-circle .price sup {
	font-size: 18px;
	font-style: normal;
}
.hg-price-table-1 ul.plan_features {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 50px 0;
}
.hg-price-table-1 ul.plan_features li {
	padding: 15px 0;
	border-bottom: 1px solid #e9e9e9;
	transition: all 0.3s ease-out 0s;
}
.hg-price-table-1 ul.plan_features li:last-child {
	border-bottom: none;
}

/* hover styles
 ------------------------------ */
.hg-price-table-1:hover, .hg-price-table-1.active {
	background-color:#101010;
}
.hg-price-table-1:hover .inner-box, .hg-price-table-1.active .inner-box {
	border:1px solid #272727;
}
.hg-price-table-1:hover ul.plan_features li, .hg-price-table-1.active ul.plan_features li {
	border-bottom: 1px solid #272727;
}
.hg-price-table-1:hover ul.plan_features li:last-child, .hg-price-table-1.active ul.plan_features li:last-child {
	border-bottom: none;
}
.hg-price-table-1:hover a.btn.btn-dark-3, .hg-price-table-1.active a.btn.btn-dark-3 {
	background-color:#ecae3d;
	color:#fff;
}
.hg-price-table-1:hover .title, .hg-price-table-1.active .title {
	color:#fff;
}
.hg-price-table-1:hover .inner-box .price-circle .price, .hg-price-table-1.active .inner-box .price-circle .price{
	color: #ecae3d;
}
.hg-price-table-1:hover .inner-box .price-circle, .hg-price-table-1.active .inner-box .price-circle {
	color: #ecae3d;
}

/*============ Parallax Sections ============ */

.parallax-35 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/hg-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-36 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/hg-parallax2.jpg") no-repeat fixed 50% 0;
}
/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
.hs-domain-search-1 #domain-searchform #dsearch {
    width: 57%;
}
.tld-list.dark li {
    padding: 0 31px;
}




}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container {
 width: 95%;
}
.container-fluid{
 width: 95%;
}
.hs-domain-search-1 #domain-searchform #dsearch {
    width: 68%;
}




}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {








}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {



}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.hs-domain-search-1 #domain-searchform #dsearch {
    width: 61%;
}
.hg-sub-title {
    width: 80%;
}



}


@media screen and (max-width: 480px) {
.hs-domain-search-1 #search-submit {
    padding: 5px 25px;
}
.hs-domain-search-1 #domain-searchform #dsearch {
    width: 53%;
}
.hg-sub-title {
    width: 100%;
}




}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}