


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */

.im-feature-box-1{
	position:relative;
	width:100%;
	padding:0;
	float:left;
	transition: all 0.3s ease-out 0s;
}
.im-feature-box-1 .item-circle{
	width:260px;
	height:260px;
	padding:0;
	float:left;
	border-radius:100%;
	background-color:#fff;
}
.im-feature-box-1 .price{
	position: absolute;
	width:86px;
	height:86px;
	padding:30px 0 0 0;
	font-weight:600;
	font-size:18px;
	text-align:center;
	float:left;
	color:#ecae3d;
	margin: 207px 0 0 90px;
	border-radius:100%;
	background-color:#fff;
	z-index:2;
}
.im-feature-box-1:hover h4, .im-feature-box-1.active h4{
	color:#ecae3d;
	transition: all 0.3s ease-out 0s;
}


/* feature box 2
 ------------------------------ */
.im-feature-box-2{
	width:100%;
	padding:40px;
	float:left;
	border:3px solid #f5f5f5;
}


/*============ Section Titles ============ */


/* title line
 ------------------------------ */
.im-title-line-1 {
	width: 125px;
	height:2px;
	margin:4px auto 0 auto;
	border-bottom:1px solid #cfcfcf;
}
.im-title-line-2 {
	width: 180px;
	height:2px;
	margin:10px auto 0 auto;
	border-bottom:1px solid #cfcfcf;
}
.im-title-line-1.align-left {
	width: 125px;
	margin:4px auto 0 0;
}
.im-title-line-2.align-left {
	width: 160px;
	margin:10px auto 0 0;
}


/*============ Parallax Sections ============ */

.parallax-37 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/im-parallax1.jpg") no-repeat fixed 50% 0;
}



/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
	
.im-feature-box-1 .item-circle {
    width: 220px;
    height: 260px;
}
.im-feature-box-1 .price {
    margin: 207px 0 0 65px;
}






}
	
@media only screen and (max-width: 1000px) {

	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
	width:98%;
	
	}






}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {






}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {



}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {






}


@media screen and (max-width: 480px) {







}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {





}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {




}