


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */

.jy-feature-box-1{
	width:100%;
	float:left;
}
.jy-feature-box-1 .img-box{
	position:relative;
	width:100%;
	float:left;
	padding:20px;
	left:-50px;
	background-color:#fff;
	z-index:2;
}
.jy-feature-box-1 .img-box .img{
	width:100%;
	float:left;
	transition: all 0.3s ease-out 0s;
}
.jy-feature-box-1 .text-box{
	padding:30px 40px 40px 60px;
}
.jy-feature-box-1 .text-box .title-line{
	width:30%;
	margin:0 70% 30px 0 ;
	height:1px;
	background-color:#e7e7e7;
}
.jy-feature-box-1.style-2 .img-box{
	padding:20px;
	left:130px;
}
.jy-feature-box-1.style-2 .text-box {
    padding: 30px 40px 40px 180px;
}

/* feature box 2
 ------------------------------ */

.jy-feature-box-2{
	width:100%;
	float:left;
	min-height:500px;
}

/* feature box 3
 ------------------------------ */
.jy-feature-box-3{
	width:240px;
	height:240px;
	float:left;
	border-radius:100%;
	border:1px solid #e4e4e4;
}

/* feature box 4
 ------------------------------ */
.jy-feature-box-4{
	width:100%;
	float:left;
	padding:50px;
	border:3px solid #f5f5f5;
}
/* feature box 5
 ------------------------------ */
.jy-feature-box-5{
	width:100%;
	float:left;
	padding:17px;
	background-color:#fff;
}
.jy-feature-box-5 .text-box{
	width:100%;
	height:100%;
	float:left;
	padding:60px;
	border:3px solid #f5f5f5;
}
.jy-febox-title-line {
    width: 30%;
    margin: 5px 70% 15px 0;
    height: 1px;
    background-color: #e7e7e7;
}


/* feature box 6
 ------------------------------ */
.jy-feature-box-6{
	width:100%;
	float:left;
	padding:40px;
	border:3px solid #f5f5f5;
}



/*============ section title ============ */

/* subtitle
 ------------------------------ */
.jy-sub-title {
	width: 40%;
	margin:15px auto 0 auto;
}
.jy-sub-title.align-left {
	width: 90%;
	margin:15px 10% 0 0;
}


/*============ Parallax Sections ============ */

.parallax-38 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/jy-parallax1.jpg") no-repeat fixed 50% 0;
}



/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {






}
	
@media only screen and (max-width: 1000px) {

	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
	width:98%;
	
}
.jy-feature-box-3 {
    width: 200px;
    height: 200px;
}





}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {






}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {
.jy-sub-title {
    width: 90%;
}






}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.jy-feature-box-3 {
    margin-left: 193px;
}
.jy-feature-box-1.style-2 .img-box {
    left: 0;
}
.jy-feature-box-1 .img-box {
    left: 0;
}
.jy-feature-box-1.style-2 .text-box {
    padding: 30px 40px 40px 40px;
}
.jy-feature-box-1 .text-box {
    padding: 30px 40px 40px 40px;
}




}


@media screen and (max-width: 480px) {
.jy-feature-box-3 {
    margin-left: 121px;
}






}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {
.jy-feature-box-3 {
    margin-left: 60px;
}




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {




}