


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */
/* feature box 1
 ------------------------------ */
.mc-feature-box-1{
	position:relative;
	width:100%;
	float:left;
	padding:0px;
	min-height:485px;
	left:0px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.mc-feature-box-1 .img-box{
	position: absolute;
	width:100%;
	float:left;
}
.mc-feature-box-1 .img-box .text-box{
	position: absolute;
	width:90%;
	float:left;
	left: 16px;
	bottom: -270px;
	padding:45px;
	background-color:#fff;
}
.mc-feature-box-1 .opening-list {
	float: left;
	padding: 0;
	width: 100%;
}
.mc-feature-box-1 .opening-list li {
	color: #727272;
	float: left;
	padding: 8px 0;
	width: 100%;
	border-bottom: none;
}
.mc-feature-box-1 .opening-list li:first-child {
	padding-top: 0px;
}

/* feature box 2
 ------------------------------ */
.mc-feature-box-2{
	width:100%;
	float:left;
}

/* feature box 3
 ------------------------------ */
.mc-feature-box-3{
	width:100%;
	float:left;
	margin-bottom:195px;
	border:1px solid #101010;
}
.mc-feature-box-3 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.mc-feature-box-3 .img-box .text-box{
	position: absolute;
	width:83%;
	float:left;
	padding:35px;
	bottom:-168px;
	left:30px;
	z-index:3;
	border:2px solid #f5f5f5;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.mc-feature-box-3 .img-box .text-box .sc-icons-box{
	position: absolute;
	width:80%;
	margin:0 auto;
	top:-53px;
	left:-20px;
	opacity:0;
	overflow:hidden;
	z-index:1;
	background-color:#fff;
	border:2px solid #f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.mc-feature-box-3 .img-box .text-box .sc-icons-box .sc-icons{
	width:100%;
	margin:0px;
	padding-left:0px;
	text-align:center;
}
.mc-feature-box-3 .img-box .text-box .sc-icons-box .sc-icons li{
	display:inline-block;
}
.mc-feature-box-3 .img-box .text-box .sc-icons-box .sc-icons li a{
	padding:15px 7px;
	color:#101010;
	text-align:center;
	display:inline-block;
}

.mc-feature-box-3:hover .img-box .text-box .sc-icons-box{
	opacity:1;
	left:0px;
}


/* feature box 4
 ------------------------------ */
.mc-feature-box-4 {
	width: 100%;
	padding: 40px;
	float: left;
	background-color: #101010;
}
.mc-feature-box-4 form select {
	width: 100%;
	padding: 7px;
	border: 1px solid #2e2e2e;
	background-color: #101010;
}
.mc-feature-box-4 form select.margin-top {
	margin-top: 20px;
}
.mc-feature-box-4 .input {
	width: 100%;
	padding: 7px;
	color: #727272;
	margin-top: 20px;
	border: 1px solid #2e2e2e;
	background-color: #101010;
}

/* feature box 5
 ------------------------------ */
.mc-feature-box-5{
	width:100%;
	padding:40px;
	float:left;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.mc-feature-box-5:hover, .mc-feature-box-5.active{
	background-color:#101010;
}
.mc-feature-box-5:hover .title{
	color:#fff;
}

/*============ section title ============ */

/* title line
 ------------------------------ */
.mc-title-line-1 {
	width: 70px;
	height:2px;
	margin:12px auto 30px auto;
	background-color:#101010;
}
.mc-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.mc-title-line-1.dark, .mc-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}



/*============ Parallax Sections ============ */

.parallax-39 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/mc-parallax1.jpg") no-repeat fixed 50% 0;
}




/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {






}
	
@media only screen and (max-width: 1000px) {

	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
	width:98%;
	
}
.mc-feature-box-3 .img-box .text-box {
    bottom: -216px;
}





}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {
.mc-feature-box-1 {
    min-height: 543px;
}
.mc-feature-box-3 {
    margin-bottom: 265px;
}




}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {





}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {




}


@media screen and (max-width: 480px) {





}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {
.mc-feature-box-1 {
    min-height: 492px;
}



}