


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */

/* feature box 1
 ------------------------------ */
 .ml-feature-box-1{
	width:100%;
	float:left;
	padding:0px;
}
 .ml-feature-box-1 .img-box{
	 position:relative;
	width:365px;
	height:550px;
	float:right;
	padding:0px;
}
 .ml-feature-box-1 .img-box .text-box{
	 position:absolute;
	width:100%;
	float:left;
	padding:45px;
	left:-280px;
	top:0px;
	z-index:2;
	background-color:#fff;
	border:6px solid #f5f5f5;
}
.ml-opening-hours-list {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.ml-opening-hours-list li {
	width: 100%;
	padding: 10px 0px 0 0px;
	margin: 0px;
	float: left;
	color:#727272;
	border-bottom: 1px solid #efefef;
}
.ml-opening-hours-list li i {
	color:#ecae3d;
}
.ml-opening-hours-list li:last-child {
	border-bottom: none;
}
.ml-opening-hours-list li span.item {
	float: left;
	text-align: left;
}
.ml-opening-hours-list li span.time {
	float: right;
	color:#727272;
	text-align: right;
}
.ml-opening-hours-list li span.time h6 {
	color:#727272;
}
.ml-feature-box-1 .img-box .text-box .btn-large{
	text-align:center;
	width:100%;
	padding: 15px 42px;
}

/* feature box 2
 ------------------------------ */
.ml-feature-box-2{
	position:relative;
	width:100%;
	float:left;
	padding:0px;
}
.ml-feature-box-2 .text-strip{
	position: absolute;
	width:100%;
	padding:30px;
	z-index:2;
	color:#101010;
	left:0px;
	font-size:18px;
	bottom:0px;
	background-color:rgba(255, 255, 255, 0.7);
}

/* feature box 3
 ------------------------------ */
.ml-feature-box-3{
	position:relative;
	width:80%;
	float:left;
	left:40px;
	padding:34px;
	background-color:#fff;
}
.ml-feature-box-3 .icon{
	position:absolute;
	left:-38px;
	z-index:2;
	border:1px solid #efefef;
}
.ml-feature-box-3:hover .icon, .ml-feature-box-3:hover .title,
.ml-feature-box-3.active .icon, .ml-feature-box-3.active .title{
	color:#ecae3d;
}

/* feature box 4
 ------------------------------ */
.ml-feature-box-4{
	width:100%;
	float:left;
	padding:25px;
	background-color:#fff;
}
.ml-feature-box-4 .img-box{
	position:relative;
	width:100%;
	float:left;
	padding:0px;
	overflow:hidden;
	border:3px solid #f5f5f5;
}
.ml-feature-box-4 .img-box img {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.3s ease-out 0s;
}
.ml-feature-box-4 .text-box{
	width:100%;
	float:left;
	padding:35px;
	margin-top:25px;
	border:3px solid #f5f5f5;
}

.ml-feature-box-4 .img-box .sc-icons-box{
	position: absolute;
	width:20%;
	height:100%;
	padding:0px;
	margin:0px;
	right: -110px;
	top:0px;
	overflow:hidden;
	z-index:1;
	text-align:center;
	display:inline-block;
	background-color:#ecae3d;
	transition: all 0.3s ease-out 0s;
}
.ml-feature-box-4 .img-box .sc-icons-box .sc-icons{
	width:100%;
	padding:60px 0 0 0;
	margin:0px;
}
.ml-feature-box-4 .img-box .sc-icons-box .sc-icons li{
	width:100%;
	padding:0px;
	margin:0 0 10px 0;
	display:inline-block;
}
.ml-feature-box-4 .img-box .sc-icons-box .sc-icons li a{
	width:40px;
	height:40px;
	padding:15px 10px;
	color:#fff;
	line-height:12px;
	display:inline-block;
	border:1px solid rgba(255, 255, 255, 0.2);
}
.ml-feature-box-4 .img-box .sc-icons-box .sc-icons li a:hover, .ml-feature-box-4 .img-box .sc-icons-box .sc-icons li a.active{
	color:#101010;
	background-color:#fff;
}
.ml-feature-box-4:hover .img-box .sc-icons-box, .ml-feature-box-4.active .img-box .sc-icons-box{
	right:0px;
}
.ml-feature-box-4:hover .img-box img {
	left: -30px;
}

/* feature box 5
 ------------------------------ */
.ml-feature-box-5{
	width:100%;
	float:left;
	padding:40px;
	border:6px solid #f5f5f5;
}
.ml-feature-box-5 .img{
	border:6px solid #f5f5f5;
}



/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.ml-title-line-1 {
	width: 70px;
	height:2px;
	margin:12px auto 30px auto;
	background-color:#101010;
}
.ml-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.ml-title-line-1.dark, .ml-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}


/*============ Parallax Sections ============ */

.parallax-40{
    background: rgba(0, 0, 0, 0) url("../images/parallax/dt-parallax1.jpg") no-repeat fixed 50% 0;
}



/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {





}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
	width:90%;
	
	}






}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {





}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {





}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.ml-feature-box-1 .img-box .text-box {
    left: -181px;
}
.ml-feature-box-3 {
    width: 91%;
}




}


@media screen and (max-width: 480px) {
.ml-feature-box-1 .img-box .text-box {
    left: -37px;
}



}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {
.ml-feature-box-1 .img-box {
    width: 100%;
    height: auto;
	float: left;
}
.ml-feature-box-1 .img-box .text-box {
    left: 0;
}
.ml-feature-box-3 .icon {
    left: 0;
}
.ml-feature-box-3 {
    width: 100%;
}
.ml-feature-box-3 {
    width: 100%;
    left: 0;
    padding: 40px 40px 40px 110px;
}
.ml-feature-box-1 .img-box img {
	width:80%;
}
.ml-feature-box-1 {
    margin-bottom: 190px;
}





}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}