


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */

/* feature box 1
 ------------------------------ */
.pr-feature-box-1{
	width:100%;
	float:left;
	padding:6px;
	border:3px solid #fff;
}
.pr-feature-box-1 .inner-box{
	width:100%;
	float:left;
	padding:30px;
	background-color:#fff;
}
.pr-feature-box-1 .inner-box .title-line {
    width: 50%;
    margin: 10px 50% 27px 0;
    height: 1px;
    background-color: #f1f1f1;
}
.pr-feature-box-1:hover .inner-box .icon, .pr-feature-box-1:hover .inner-box .title{
	color:#ecae3d;
}
.pr-feature-box-1:hover .inner-box .title-line {
    background-color: #ecae3d;
}

/* feature box 2
 ------------------------------ */
.pr-feature-box-2{
	width:100%;
	float:left;
	padding:0px;
}
.pr-feature-box-2 .img-box{
	 position:relative;
	width:330px;
	height:550px;
	float:right;
	padding:0px;
}
.pr-feature-box-2 .img-box .text-box{
	 position:absolute;
	width:100%;
	float:left;
	padding:45px;
	left:-280px;
	top:0px;
	z-index:2;
	background-color:#f5f5f5;
}
.pr-feature-box-2 .img-box .text-box input{
	width:100%;
	float:left;
	padding:8px;
	margin-bottom:10px;
	border:1px solid #fff;
	background-color:#fff;
}
.pr-feature-box-2 .img-box .text-box textarea {
    border: 1px solid #fff;
    color: #727272;
    float: left;
    font-size: 13px;
    font-weight: normal;
    height: 140px;
    min-height: 70px;
    resize: none;
    line-height: 39px;
    padding: 0 7px;
    width: 100%;
    margin: 0 0 15px 0;
    background-color: #fff;
}

.pr-feature-box-2 .img-box .text-box .submit-btn {
    background-color: #101010;
    border: 1px solid #101010;
    float: left;
    height: 40px;
    margin: 0;
	text-transform:uppercase;
    color: #727272;
    padding: 0 10px;
}

/* feature box 3
 ------------------------------ */
.pr-feature-box-3{
	width:100%;
	float:left;
	padding:40px;
	min-height:433px;
	border:3px solid #f5f5f5;
}

/* feature box 4
 ------------------------------ */
.pr-feature-box-4{
	width:100%;
	float:left;
	padding:10px;
	border:2px solid #fff;
}
.pr-feature-box-4 .img-box{
	position:relative;
	width:100%;
	float:left;
}
.pr-feature-box-4 .img-box .date-box{
	position: absolute;
	width:40%;
	float:left;
	padding:8px 15px;
	left:20px;
	color:#fff;
	font-size:16px;
	bottom:20px;
	background-color:#ecae3d;
}
.pr-feature-box-4 .title-line {
    width: 50%;
    margin: 10px 50% 27px 0;
    height: 1px;
    background-color: #e4e4e4;
}


/* feature box 5
 ------------------------------ */
.pr-feature-box-5{
	width:100%;
	float:left;
	
}
.pr-feature-box-5 .img-box{
	width:100%;
	float:left;
}
.pr-feature-box-5 .text-box{
	width:100%;
	float:left;
	padding:10px;
	border:2px solid #f5f5f5;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.pr-feature-box-5 .text-box .inner-box{
	position:relative;
	width:100%;
	float:left;
	padding:35px;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.pr-feature-box-5 .text-box .inner-box .sc-icons-box{
	position:absolute;
	width:80%;
	margin:0 auto;
	opacity:0;
	top: -40px;
	overflow:hidden;
	background-color:#fff;
	border:2px solid #f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.pr-feature-box-5 .text-box .inner-box .sc-icons-box .sc-icons{
	width:100%;
	margin:0px;
	padding-left:0px;
	text-align:center;
}
.pr-feature-box-5 .text-box .inner-box .sc-icons-box .sc-icons li{
	display:inline-block;
}
.pr-feature-box-5 .text-box .inner-box .sc-icons-box .sc-icons li a{
	padding:15px 7px;
	color:#101010;
	text-align:center;
	display:inline-block;
}

.pr-feature-box-5:hover .text-box .inner-box .sc-icons-box{
	opacity:1;
	top:-67px;
}


/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.pr-title-line-1 {
	width: 125px;
	height:2px;
	margin:4px auto 0 auto;
	border-bottom:1px solid #cfcfcf;
}
.pr-title-line-2 {
	width: 180px;
	height:2px;
	margin:10px auto 0 auto;
	border-bottom:1px solid #cfcfcf;
}
.pr-title-line-1.align-left {
	width: 125px;
	margin:4px auto 0 0;
}
.pr-title-line-2.align-left {
	width: 160px;
	margin:10px auto 0 0;
}


/*============ Parallax Sections ============ */

.parallax-41 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/pr-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-42 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/pr-parallax2.jpg") no-repeat fixed 50% 0;
}


/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {
.pr-feature-box-2 .img-box .text-box {
    left: -180px;
}




}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
width:90%;
	
}
.pr-feature-box-2 .img-box .text-box {
    left: -338px;
}





}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {





}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {





}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.pr-feature-box-2 .img-box .text-box {
    left: -207px;
}




}


@media screen and (max-width: 480px) {
.pr-feature-box-2 .img-box .text-box {
    left: 0;
}


}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

.pr-feature-box-2 .img-box {
    width: 100%;
}
.pr-feature-box-2 .img-box img {
    width: 90%;
}



}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}