

/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */

/* property search
 ------------------------------ */

.property-search {
	width:100%;
	padding:40px 0;
	margin: 0px;
	float: left;
	color:#fff;
}
.property-search input {
	width:100%;
	color:#727272;
	font-size:14px;
	padding:6px;
	border:none;
}
.property-search select {
	width:100%;
	color:#727272;
	font-size:14px;
	padding:6px;
	border:none;
}
.property-search label {
	color:#727272;
	font-size:14px;
	border:none;
	font-weight:normal;
}
.property-search .search-btn {
	height:38px;
	padding:0px;
	width:100%;
	color:#727272;
	float:left;
	border:none;
	text-transform:uppercase;
	transition: all 0.3s ease-out 0s;
	background-color:#161616;
}
.property-search .search-btn:hover {
	color:#242424;
	background-color:#fff;
}

/* feature box 1
 ------------------------------ */
.rt-feature-box-1{
	position:relative;
	width:100%;
	float:left;
	padding:50px 30px 30px 30px;
	margin-top:45px;
	background-color:#fff;
	border:3px solid #f5f5f5;
}
.rt-feature-box-1 .icon{
	position:absolute;
	border:3px solid #f5f5f5;
	background-color:#fff;
	margin-bottom:15px;
	left: 139px;
	top: -46px;
}


/* Feature Box2
 ------------------------------ */
.rt-feature-box-2 {
	width: 100%;
	padding:0px;
	margin:0 0 30px 0;
	float:left;
	background-color:#fff;
}
.rt-feature-box-2.border {
	border:1px solid #ededed;
}
.rt-feature-box-2 .image-box {
	position:relative;
}
.rt-feature-box-2 .image-box .status {
	position:absolute;
	padding:8px 40px;
	margin:0px;
	bottom:100px;
	right:0;
	color:#727272;
	float:right;
	background-color:#101010;
}
.rt-feature-box-2 .image-box .price {
	position:absolute;
	padding:8px 40px;
	margin:0px;
	bottom:62px;
	right:0;
	color:#242424;
	float:right;
	background-color:#fff;
}

/* Property Info
 ------------------------------ */
.property-info {
	width: 100%;
	padding:0px;
	margin:0px;
	float:left;
}
.property-info span {
	margin-right:10px;
}

/*============ Section Titles ============ */
/* subtitle
 ------------------------------ */
.rt-sub-title {
	width: 45%;
	margin:15px auto 0 auto;
}
.rt-sub-title.align-left {
	width: 90%;
	margin:15px 10% 0 0;
}

/* title line
 ------------------------------ */
.rt-title-line-1 {
	width: 70px;
	height:2px;
	margin:15px auto 10px auto;
	background-color:#101010;
}
.rt-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.rt-title-line-1.dark, .rt-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.rt-title-line-1.white {
	background-color:#fff;
}
/*============ Parallax Sections ============ */

.parallax-44 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/rt-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-45 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/rt-parallax2.jpg") no-repeat fixed 50% 0;
}


/*============ blog ============ */

.rt-post-holder{
	width:100%;
	padding:0px;
	float:left;
}
.rt-post-holder .rt-post-img{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.rt-post-holder .text-box{
	height:261px;
	padding:60px 50px 50px 50px;
}
.rt-post-holder .text-box.one{
	height:262px;
}
.rt-post-holder .rt-post-img .arrow-up {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	bottom:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	z-index:2;
}
.rt-post-holder .rt-post-img .arrow-down {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	top:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}


/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {






}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
width:90%;
	
}





}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {





}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {





}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {





}


@media screen and (max-width: 480px) {
.rt-sub-title {
    width: 100%;
}



}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}