/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

/* body */
body {
	padding: 0px;
	margin: 0px;
	background: #fff;
}

body, input, textarea {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 23px;
	color: #727272;
}

/* Headings */
h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #1d2025;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
h1 {
	font-size: 35px;
	line-height: 120%;
}
h1.big {
	font-size: 45px;
	line-height: 120%;
}
h1.big2 {
	font-size: 57px;
	line-height: 120%;
}
h1.big3 {
	font-size: 72px;
	line-height: 120%;
}

h2 {
	font-size: 30px;
	line-height: 120%;
}
h2.big {
	font-size: 35px;
	line-height: 120%;
}
h2.big1 {
	font-size: 40px;
	line-height: 120%;
}
h2.big2 {
	font-size: 45px;
	line-height: 120%;
}
h2.big3 {
	font-size: 57px;
	line-height: 120%;
}
h2.big4 {
	font-size: 72px;
	line-height: 120%;
}
h2.big5 {
	font-size: 90px;
	line-height: 120%;
}
h3 {
	font-size: 25px;
	line-height: 120%;
}
h4 {
	font-size: 21px;
	line-height: 120%;
}
h5 {
	font-size: 18px;
	line-height: 120%;
}
h6 {
	font-size: 16px;
	line-height: 120%;
}
h6.small {
	font-size: 14px;
}
h6.small2 {
	font-size: 13px;
}
h6.small3 {
	font-size: 12px;
}
h6.small4 {
	font-size: 11px;
}

h1.line-height, 
h2.line-height,
h3.line-height,
h4.line-height,
h5.line-height,
h6.line-height {
	line-height: 130%;
}
h1.line-height2, 
h2.line-height2,
h3.line-height2,
h4.line-height2,
h5.line-height2,
h6.line-height2 {
	line-height: 140%;
}
h1.line-height3, 
h2.line-height3,
h3.line-height3,
h4.line-height3,
h5.line-height3,
h6.line-height3 {
	line-height: 160%;
}
h1.line-height4, 
h2.line-height4,
h3.line-height4,
h4.line-height4,
h5.line-height4,
h6.line-height4 {
	line-height: 180%;
}
h1.line-height5, 
h2.line-height5,
h3.line-height5,
h4.line-height5,
h5.line-height5,
h6.line-height5 {
	line-height: 200%;
}
h1.line-height6, 
h2.line-height6,
h3.line-height6,
h4.line-height6,
h5.line-height6,
h6.line-height6 {
	line-height: 97%;
}
h1.line-height7, 
h2.line-height7,
h3.line-height7,
h4.line-height7,
h5.line-height7,
h6.line-height7 {
	line-height: 120%;
}

ul.list-padding li {
	padding-top: 9px;
	padding-bottom: 9px;
}
ul.list-padding1 li {
	padding-top: 3px;
	padding-bottom: 3px;
}
ul.list-padding2 li {
	padding-top: 5px;
	padding-bottom: 5px;
}
ul.list-padding3 li {
	padding-top: 14px;
	padding-bottom: 14px;
}

.caps {
	text-transform: uppercase;
}
.nocaps {
	text-transform: none;
}

/* Font Weights */
.font-weight1 {
	font-weight: 100 !important;
}
.font-weight2 {
	font-weight: 200 !important;
}
.font-weight3 {
	font-weight: 300 !important;
}
.font-weight4 {
	font-weight: 500 !important;
}
.font-weight5 {
	font-weight: 600 !important;
}
.font-weight7 {
	font-weight: 700 !important;
}
.font-weight8 {
	font-weight: 800 !important;
}
.font-weight9 {
	font-weight: 900 !important;
}

/* Letter Spacings */
.letter-spacing1 {
	letter-spacing: 1px !important;
}
.letter-spacing2 {
	letter-spacing: 2px !important;
}
.letter-spacing3 {
	letter-spacing: 3px !important;
}
.letter-spacing4 {
	letter-spacing: 4px !important;
}
.letter-spacing5 {
	letter-spacing: 5px !important;
}
.letter-spacing6 {
	letter-spacing: 7px !important;
}
.letter-spacing7 {
	letter-spacing: 10px !important;
}
.letter-spacing8 {
	letter-spacing: 12px !important;
}
.letter-spacing9 {
	letter-spacing: 16px !important;
}
.letter-spacing10 {
	letter-spacing: 20px !important;
}

/* Text elements */
p {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 25px;
}
p.bfont {
	font: 16px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 27px;
}
p.bfont.line-height {
	line-height: 32px;
}
.bigfont {
	font: 16px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 27px;
}
p.sfont {
	font: 13px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 21px;
}
.sfont {
	font: 13px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 21px;
}
.smallfont {
	font-size: 13px !important;
}
.smallfont2 {
	font-size: 12px !important;
	letter-spacing: 0.7px;
	font-family: 'Raleway', sans-serif;
}
.smallfont3 {
	font-size: 11px !important;
	letter-spacing: 0.5px;
}
.sfont.line-height,
.smallfont.line-height {
	line-height: 23px;
}

p.clear {
	clear: both;
}

/* font styles */
.opensans {
	font-family: 'Open Sans', sans-serif;
}
.playfair {
	font-family: 'Playfair Display', serif !important;
}
.roboto {
	font-family: 'Roboto', sans-serif !important;
}
.oswald {
	font-family: 'Oswald', sans-serif !important;
}
.lora {
	font-family: 'Lora', serif !important;
}
.poiretone {
	font-family: 'Poiret One', cursive !important;
}
.dancingscript {
	font-family: 'Dancing Script', cursive !important;
}
.montserrat {
	font-family: 'Montserrat', sans-serif !important;
}
.slabo {
	font-family: 'Slabo 27px', serif !important;
}
.courgette {
	font-family: 'Courgette', cursive !important;
}
.dosis {
	font-family: 'Dosis', sans-serif !important;
}
.josefin {
	font-family: 'Josefin Sans', sans-serif !important;
}


small.style1 {
	font-size: 14px;
}
small.style2 {
	font-size: 16px;
}
small.style3 {
	font-size: 18px;
}

blockquote {
	margin: 20px 0 20px 0px;
	font-size: 16px;
	border-left: 5px solid #fff;
	padding: 0px 0px 0px 36px;
	font-family: 'Open Sans' !important;
	font-weight: normal;
}
pre {
	background: #f4f4f4;
	font-size: 13px;
	font: 13px 'Open Sans', sans-serif;
	line-height: 1.5;
	margin-bottom: 40px;
	overflow: auto;
	padding: 0.75em 20px;
}

/* Links */
a {
	color: #0090ff;
	text-decoration: none;
	transition: all 0.3s ease;
}
a:hover {
	color: #1d2025;
	text-decoration: none;
}
a.sty2 {
	color: #0090ff;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.sty2:hover {
	color: #fff;
}
a.sty3 {
	color: #1d2025;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.sty3:hover {
	color: #0090ff;
}
a.sty4 {
	color: #1d2025;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.sty4:hover {
	opacity: 0.5;
}
a.sty5 {
	color: #727272;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.sty5:hover {
	opacity: 0.5;
}

a.white {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.white:hover {
	padding-left: 7px;
}
a.white2 {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.white2:hover {
	color: #1d2025;
}
a.letterspace {
	color: #fff;
	letter-spacing: 1px;
	margin: 0px 10px;
	transition: all 0.3s ease;
}
a.letterspace:hover {
	letter-spacing: 3px;
}
a.none {
	color: inherit;
}
a.none:hover {
	color: #0090ff;
}
a.graylink {
	color: #ccc;
	font-size: 12px;
	padding: 4px 12px;
	transition: all 0.3s ease;
}
a.graylink:hover {
	color: #0090ff;
}
a.graylink.border {
	border: 1px solid #ccc;
	margin: 0px 3px;
	border-radius: 3px;
}
a.graylink.border:hover {
	border: 1px solid #0090ff;
}
a.graylink2 {
	color: #ccc;
	transition: all 0.3s ease;
}
a.graylink2:hover {
	color: #0090ff;
}
a.graylink3 {
	color: #454545;
	font-size: 13px;
	transition: all 0.3s ease;
}
a.graylink3:hover {
	color: #0090ff;
}
a.graylink4 {
	color: rgba(255,255,255,0.4);
	font-size: 13px;
	transition: all 0.3s ease;
}
a.graylink4:hover {
	color: #fff;
}

a.graylink5 {
	color: #ccc;
	font-size: 11px;
	transition: all 0.3s ease;
}
a.graylink5:hover {
	color: #545454;
}

a.graylink6 {
	color: #999;
	font-size: 12px;
	transition: all 0.3s ease;
}
a.graylink6:hover {
	color: #454545;
}

a.graylink7 {
	color: rgba(255,255,255,0.5);
	transition: all 0.3s ease;
}
a.graylink7:hover {
	color: #fff;
}

a.graylink8 {
	color: rgba(255,255,255,0.7);
	transition: all 0.3s ease;
}
a.graylink8:hover {
	color: #fff;
}

a.white-opacity {
	color: #fff;
	transition: all 0.3s ease;
}
a.white-opacity:hover {
	color: rgba(255,255,255,0.5);
}

a.dark-opacity {
	color: #1d2025;
	font-size: 12px;
	transition: all 0.3s ease;
}
a.dark-opacity:hover {
	opacity: 0.5;
}

a.yellow {
	color: #eecf54;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.yellow:hover {
	color: #fff;
}
a.orange {
	color: #e67e22;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.orange:hover {
	color: #fff;
}
a.orange2 {
	color: #1d2025;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.orange2:hover {
	color: #e67e22;
}
a.turquoise {
	color: #4ecdc4;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.turquoise:hover {
	opacity: 0.5;
}

.underline {
	text-decoration: underline;
}

blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

/* Clear Fix Styles */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
{
	height:1%;
}

.clearfix
{
	display:block;
}

.textnor {
	font-style: normal;
}

/* less width */
.less {
	width: 45% !important;
	margin: 0 auto;
}
.less1 {
	width: 50% !important;
	margin: 0 auto;
}
.less2 {
	width: 60% !important;
	margin: 0 auto;
}
.less3 {
	width: 70% !important;
	margin: 0 auto;
}
.less4 {
	width: 80% !important;
	margin: 0 auto;
}
.less5 {
	width: 90% !important;
	margin: 0 auto;
}
.less6 {
	width: 27% !important;
	margin: 0 auto;
}
.less7 {
	width: 36% !important;
	margin: 0 auto;
}
.less8 {
	width: 95% !important;
	margin: 0 auto;
}
.less9 {
	width: 97% !important;
	margin: 0 auto;
}
.less10 {
	width: 75% !important;
	margin: 0 auto;
}
.less11 {
	width: 85% !important;
	margin: 0 auto;
}
.less12 {
	width: 88.4% !important;
	margin: 0 auto;
}

.site-less1 {
	width: 90% !important;
	margin: 0 auto;
}
.site-less2 {
	width: 95% !important;
	margin: 0 auto;
}

.site-content-less {
	width: 88% !important;
	margin: 0 auto;
}

.less-formenu {
	width: 90% !important;
	margin: 0 auto 0 7.5%;
}





.boxsitewrap {
	width: 90% !important;
	margin: 0 auto;
}
.boxsitewrap2 {
	width: 93.6% !important;
	margin: 0 auto;
}
.boxsitewrap3 {
	width: 75% !important;
	margin: 72px auto 0 auto;
	-webkit-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.2);
}

.bodybackground {
	background: #444f63;
}


/* text color white */
.white {
	color: #fff !important;
}
.sitecolor {
	color: #0090ff !important;
}
.darkblue {
	color: #005db4;
}
.midblue {
	color: #0076db;
}
.lightblue {
	color: #29a8e8;
}
.woodblue {
	color: #485e76;
}
.darkgray {
	color: #1d2025 !important;
}
.lightgray {
	color: #545454;
}
.green {
	color: #2ecc71;
}
.seagreen {
	color: #90C695;
}
.purple {
	color: #6b2da1;
}
.lightpurple {
	color: #aea8d3;
}
.spray {
	color: #81cfe0;
}
.turquoise {
	color: #4ecdc4;
}
.orange {
	color: #e67e22;
}
.lightorange {
	color: #f39c12;
}
.red {
	color: #f62459;
}
.pink {
	color: #b42165;
}
.lightpink {
	color: #cf9dbb;
}
.yellow {
	color: #eecf54;
}
.brown {
	color: #562f35;
}


.gray {
	color: #ccc;
}
.gray1 {
	color: #d9d9d9;
}
.gray2 {
	color: #aaa;
}
.gray3 {
	color: #999;
}
.gray4 {
	color: #727272;
}
.gray5 {
	color: #454545;
}
.zblack {
	color: #000;
}

/* background colors */
.bg-color-darkgray {
	background: #1d2025;
}
.bg-color-sitecolor {
	background: #0090ff;
}
.bg-color-darkblue {
	background: #005db4;
}
.bg-color-midblue {
	background: #0076db;
}
.bg-color-lightblue {
	background: #29a8e8;
}
.bg-color-woodblue {
	background: #485e76;
}
.bg-color-green {
	background: #2ecc71;
}
.bg-color-seagreen {
	background: #90C695;
}
.bg-color-purple {
	background: #6b2da1;
}
.bg-color-lightpurple {
	background: #aea8d3;
}
.bg-color-spray {
	background: #81cfe0;
}
.bg-color-turquoise {
	background: #4ecdc4;
}
.bg-color-orange {
	background: #e67e22;
}
.bg-color-lightorange {
	background: #f39c12;
}
.bg-color-red {
	background: #f62459;
}
.bg-color-pink {
	background: #b42165;
}
.bg-color-lightpink {
	background: #cf9dbb;
}
.bg-color-yellow {
	background: #eecf54;
}
.bg-color-brown {
	background: #562f35;
}


.bg-color-white {
	background: #fff;
}
.bg-color-lightgray {
	background: #444f63;
}
.bg-color-black {
	background: #111213;
}
.bg-color-zblack {
	background: #000;
}

.bg-color {
	background: #f9f9f9;
}
.bg-color1 {
	background: #f7f7f7;
}
.bg-color2 {
	background: #f3f3f3;
}
.bg-color3 {
	background: #eee;
}
.bg-color4 {
	background: #999;
}
.bg-color5 {
	background: #e9e9e9;
}
.bg-color6 {
	background: #ddd;
}


/* universal margin bottom of columns */
.uni-margbo {
	margin-bottom: 30px;
}
.uni-margbo1 {
	margin-bottom: 20px;
}
.uni-margbo2 {
	margin-bottom: 50px;
}
.uni-margbo3 {
	margin-bottom: 70px;
}


/* margins */
.margin-top {
	margin-top: 10px;
}
.margin-top1 {
	margin-top: 5px;
}
.margin-top2 {
	margin-top: 20px;
}
.margin-top3 {
	margin-top: 30px;
}
.margin-top4 {
	margin-top: 40px;
}
.margin-top5 {
	margin-top: 50px;
}
.margin-top6 {
	margin-top: 60px;
}
.margin-top7 {
	margin-top: 70px;
}
.margin-top8 {
	margin-top: 80px;
}
.margin-top9 {
	margin-top: 90px;
}
.margin-top10 {
	margin-top: 100px;
}
.margin-top11 {
	margin-top: 110px;
}
.margin-top12 {
	margin-top: 120px;
}
.margin-top13 {
	margin-top: 130px;
}
.margin-top14 {
	margin-top: 140px;
}
.margin-top15 {
	margin-top: 160px;
}
.margin-top16 {
	margin-top: 180px;
}
.margin-top17 {
	margin-top: 200px;
}
.margin-top18 {
	margin-top: 230px;
}
.margin-top19 {
	margin-top: 300px;
}
.margin-top20 {
	margin-top: 450px;
}

.margin-bottom {
	margin-bottom: 10px;
}
.margin-bottom1 {
	margin-bottom: 5px;
}
.margin-bottom2 {
	margin-bottom: 20px;
}
.margin-bottom3 {
	margin-bottom: 30px;
}
.margin-bottom4 {
	margin-bottom: 40px;
}
.margin-bottom5 {
	margin-bottom: 50px;
}
.margin-bottom6 {
	margin-bottom: 60px;
}
.margin-bottom7 {
	margin-bottom: 70px;
}
.margin-bottom8 {
	margin-bottom: 80px;
}
.margin-bottom9 {
	margin-bottom: 90px;
}
.margin-bottom10 {
	margin-bottom: 100px;
}
.margin-bottom11 {
	margin-bottom: 110px;
}
.margin-bottom12 {
	margin-bottom: 120px;
}
.margin-bottom13 {
	margin-bottom: 130px;
}
.margin-bottom14 {
	margin-bottom: 140px;
}
.margin-bottom15 {
	margin-bottom: 160px;
}
.margin-bottom16 {
	margin-bottom: 180px;
}
.margin-bottom17 {
	margin-bottom: 200px;
}
.margin-bottom18 {
	margin-bottom: 230px;
}
.margin-bottom19 {
	margin-bottom: 270px;
}
.margin-bottom20 {
	margin-bottom: 300px;
}
.margin-bottom21 {
	margin-bottom: 350px;
}
.margin-bottom22 {
	margin-bottom: 400px;
}
.margin-bottom23 {
	margin-bottom: 450px;
}
.margin-bottom24 {
	margin-bottom: 500px;
}
.margin-bottom25 {
	margin-bottom: 550px;
}
.margin-bottom26 {
	margin-bottom: 620px;
}
.margin-bottom27 {
	margin-bottom: 700px;
}

.margin-left {
	margin-left: 10px;
}
.margin-left2 {
	margin-left: 20px;
}
.margin-left3 {
	margin-left: 30px;
}
.margin-left4 {
	margin-left: 40px;
}
.margin-left5 {
	margin-left: 50px;
}
.margin-left6 {
	margin-left: 60px;
}
.margin-left7 {
	margin-left: 70px;
}
.margin-left8 {
	margin-left: 80px;
}
.margin-left9 {
	margin-left: 90px;
}
.margin-left10 {
	margin-left: 100px;
}
.margin-left11 {
	margin-left: 110px;
}
.margin-left12 {
	margin-left: 120px;
}

.margin-right {
	margin-right: 10px;
}
.margin-right1 {
	margin-right: 5px;
}
.margin-right2 {
	margin-right: 20px;
}
.margin-right3 {
	margin-right: 30px;
}
.margin-right4 {
	margin-right: 40px;
}
.margin-right5 {
	margin-right: 50px;
}
.margin-right6 {
	margin-right: 60px;
}
.margin-right7 {
	margin-right: 70px;
}
.margin-right8 {
	margin-right: 80px;
}
.margin-right9 {
	margin-right: 90px;
}
.margin-right10 {
	margin-right: 100px;
}
.margin-right11 {
	margin-right: 110px;
}
.margin-right12 {
	margin-right: 120px;
}

.margin-top-bottom {
	margin-top: 50px;
	margin-bottom: 50px;
}
.margin-top-bottom2 {
	margin-top: 70px;
	margin-bottom: 70px;
}
.margin-top-bottom3 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.margin-top-bottom4 {
	margin-top: 90px;
	margin-bottom: 90px;
}
.margin-top-bottom5 {
	margin-top: 100px;
	margin-bottom: 100px;
}
.margin-top-bottom6 {
	margin-top: 110px;
	margin-bottom: 110px;
}
.margin-top-bottom7 {
	margin-top: 120px;
	margin-bottom: 120px;
}

.margin-left-right {
	margin-left: 20px;
	margin-right: 20px;
}
.margin-left-right2 {
	margin-left: 30px;
	margin-right: 30px;
}
.margin-left-right3 {
	margin-left: 40px;
	margin-right: 40px;
}
.margin-left-right4 {
	margin-left: 50px;
	margin-right: 50px;
}
.margin-left-right5 {
	margin-left: 60px;
	margin-right: 60px;
}
.margin-left-right6 {
	margin-left: 70px;
	margin-right: 70px;
}
.margin-left-right7 {
	margin-left: 80px;
	margin-right: 80px;
}
.margin-left-right8 {
	margin-left: 90px;
	margin-right: 90px;
}
.margin-left-right10 {
	margin-left: 100px;
	margin-right: 100px;
}
.margin-left-right1 {
	margin-left: 10px;
	margin-right: 10px;
}


/* paddings */
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.padding {
	padding: 5px;
}
.padding1 {
	padding: 10px;
}
.padding2 {
	padding: 20px;
}
.padding3 {
	padding: 30px;
}
.padding4 {
	padding: 40px;
}
.padding5 {
	padding: 50px;
}
.padding6 {
	padding: 60px;
}
.padding7 {
	padding: 70px;
}
.padding8 {
	padding: 80px;
}
.padding9 {
	padding: 90px;
}
.padding10 {
	padding: 100px;
}



.padding-top {
	padding-top: 10px;
}
.padding-top2 {
	padding-top: 20px;
}
.padding-top3 {
	padding-top: 30px;
}
.padding-top4 {
	padding-top: 40px;
}
.padding-top5 {
	padding-top: 50px;
}
.padding-top6 {
	padding-top: 60px;
}
.padding-top7 {
	padding-top: 70px;
}
.padding-top8 {
	padding-top: 80px;
}
.padding-top9 {
	padding-top: 90px;
}
.padding-top10 {
	padding-top: 100px;
}
.padding-top11 {
	padding-top: 110px;
}
.padding-top12 {
	padding-top: 120px;
}
.padding-top13 {
	padding-top: 140px;
}
.padding-top14 {
	padding-top: 160px;
}
.padding-top15 {
	padding-top: 180px;
}
.padding-top16 {
	padding-top: 200px;
}
.padding-top17 {
	padding-top: 230px;
}
.padding-top18 {
	padding-top: 270px;
}
.padding-top19 {
	padding-top: 300px;
}
.padding-top20 {
	padding-top: 350px;
}


.padding-bottom {
	padding-bottom: 10px;
}
.padding-bottom2 {
	padding-bottom: 20px;
}
.padding-bottom3 {
	padding-bottom: 30px;
}
.padding-bottom4 {
	padding-bottom: 40px;
}
.padding-bottom5 {
	padding-bottom: 50px;
}
.padding-bottom6 {
	padding-bottom: 60px;
}
.padding-bottom7 {
	padding-bottom: 70px;
}
.padding-bottom8 {
	padding-bottom: 80px;
}
.padding-bottom9 {
	padding-bottom: 90px;
}
.padding-bottom10 {
	padding-bottom: 100px;
}
.padding-bottom11 {
	padding-bottom: 110px;
}
.padding-bottom12 {
	padding-bottom: 120px;
}
.padding-bottom13 {
	padding-bottom: 140px;
}
.padding-bottom14 {
	padding-bottom: 160px;
}
.padding-bottom15 {
	padding-bottom: 180px;
}
.padding-bottom16 {
	padding-bottom: 200px;
}
.padding-bottom17 {
	padding-bottom: 230px;
}
.padding-bottom18 {
	padding-bottom: 260px;
}
.padding-bottom19 {
	padding-bottom: 300px;
}
.padding-bottom20 {
	padding-bottom: 350px;
}

.padding-left {
	padding-left: 10px;
}
.padding-left2 {
	padding-left: 20px;
}
.padding-left3 {
	padding-left: 30px;
}
.padding-left4 {
	padding-left: 40px;
}
.padding-left5 {
	padding-left: 50px;
}
.padding-left6 {
	padding-left: 60px;
}
.padding-left7 {
	padding-left: 70px;
}
.padding-left8 {
	padding-left: 80px;
}
.padding-left9 {
	padding-left: 90px;
}
.padding-left10 {
	padding-left: 100px;
}
.padding-left11 {
	padding-left: 110px;
}
.padding-left12 {
	padding-left: 120px;
}

.padding-right {
	padding-right: 10px;
}
.padding-right2 {
	padding-right: 20px;
}
.padding-right3 {
	padding-right: 30px;
}
.padding-right4 {
	padding-right: 40px;
}
.padding-right5 {
	padding-right: 50px;
}
.padding-right6 {
	padding-right: 60px;
}
.padding-right7 {
	padding-right: 70px;
}
.padding-right8 {
	padding-right: 80px;
}
.padding-right9 {
	padding-right: 90px;
}
.padding-right10 {
	padding-right: 100px;
}
.padding-right11 {
	padding-right: 110px;
}
.padding-right12 {
	padding-right: 120px;
}

.padding-top-bottom {
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-top-bottom2 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.padding-top-bottom3 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.padding-top-bottom4 {
	padding-top: 90px;
	padding-bottom: 90px;
}
.padding-top-bottom5 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.padding-top-bottom6 {
	padding-top: 110px;
	padding-bottom: 110px;
}
.padding-top-bottom7 {
	padding-top: 120px;
	padding-bottom: 120px;
}
.padding-top-bottom8 {
	padding-top: 140px;
	padding-bottom: 140px;
}
.padding-top-bottom9 {
	padding-top: 160px;
	padding-bottom: 160px;
}
.padding-top-bottom10 {
	padding-top: 180px;
	padding-bottom: 180px;
}
.padding-top-bottom12 {
	padding-top: 200px;
	padding-bottom: 200px;
}
.padding-top-bottom13 {
	padding-top: 230px;
	padding-bottom: 230px;
}
.padding-top-bottom14 {
	padding-top: 270px;
	padding-bottom: 270px;
}
.padding-top-bottom11 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.padding-top-bottom15 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-top-bottom16 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding-top-bottom17 {
	padding-top: 16px;
	padding-bottom: 16px;
}

.padding-left-right {
	padding-left: 20px;
	padding-right: 20px;
}
.padding-left-right1 {
	padding-left: 10px;
	padding-right: 10px;
}
.padding-left-right2 {
	padding-left: 30px;
	padding-right: 30px;
}
.padding-left-right3 {
	padding-left: 40px;
	padding-right: 40px;
}
.padding-left-right4 {
	padding-left: 50px;
	padding-right: 50px;
}
.padding-left-right5 {
	padding-left: 60px;
	padding-right: 60px;
}
.padding-left-right6 {
	padding-left: 70px;
	padding-right: 70px;
}
.padding-left-right7 {
	padding-left: 80px;
	padding-right: 80px;
}
.padding-left-right8 {
	padding-left: 90px;
	padding-right: 90px;
}
.padding-left-right9 {
	padding-left: 100px;
	padding-right: 100px;
}
.padding-left-right10 {
	padding-left: 120px;
	padding-right: 120px;
}
.padding-left-right11 {
	padding-left: 30px;
	padding-right: 30px;
}

.padding-percent {
	padding: 5%;
}
.padding-percent1 {
	padding: 7%;
}
.padding-percent2 {
	padding: 10%;
}
.padding-percent3 {
	padding: 12%;
}
.padding-percent4 {
	padding: 14%;
}
.padding-percent5 {
	padding: 16%;
}
.padding-percent6 {
	padding: 18%;
}
.padding-percent7 {
	padding: 20%;
}
.padding-percent8 {
	padding: 4%;
}
.padding-percent9 {
	padding: 3%;
}

.padding-top-percent {
	padding-top: 10%;
}
.padding-top-percent1 {
	padding-top: 8%;
}
.padding-top-percent2 {
	padding-top: 12%;
}
.padding-top-percent3 {
	padding-top: 14%;
}
.padding-top-percent4 {
	padding-top: 16%;
}
.padding-top-percent5 {
	padding-top: 18%;
}
.padding-top-percent6 {
	padding-top: 20%;
}
.padding-top-percent7 {
	padding-top: 23%;
}
.padding-top-percent8 {
	padding-top: 25%;
}

.padding-top-respopercent {
	padding-top: 18%;
}
.padding-top-respopercent2 {
	padding-top: 30%;
}

.padding-bottom-percent {
	padding-bottom: 10%;
}
.padding-bottom-percent2 {
	padding-bottom: 12%;
}
.padding-bottom-percent3 {
	padding-bottom: 14%;
}
.padding-bottom-percent4 {
	padding-bottom: 16%;
}
.padding-bottom-percent5 {
	padding-bottom: 18%;
}
.padding-bottom-percent6 {
	padding-bottom: 20%;
}
.padding-bottom-percent7 {
	padding-bottom: 23%;
}
.padding-bottom-percent8 {
	padding-bottom: 25%;
}
.padding-bottom-percent-none {
	padding-bottom: 0%;
}

.padding-left-percent {
	padding-left: 10%;
}
.padding-left-percent1 {
	padding-left: 5%;
}
.padding-left-percent2 {
	padding-left: 12%;
}
.padding-left-percent3 {
	padding-left: 14%;
}
.padding-left-percent4 {
	padding-left: 16%;
}
.padding-left-percent5 {
	padding-left: 18%;
}
.padding-left-percent6 {
	padding-left: 20%;
}
.padding-left-percent7 {
	padding-left: 23%;
}
.padding-left-percent8 {
	padding-left: 25%;
}

.padding-left-right-percent {
	padding-left: 5%;
	padding-right: 5%;
}
.padding-left-right-percent1 {
	padding-left: 3%;
	padding-right: 3%;
}
.padding-left-right-percent2 {
	padding-left: 7%;
	padding-right: 7%;
}
.padding-left-right-percent3 {
	padding-left: 8%;
	padding-right: 8%;
}
.padding-left-right-percent4 {
	padding-left: 9%;
	padding-right: 9%;
}
.padding-left-right-percent5 {
	padding-left: 12%;
	padding-right: 12%;
}

.margin-bottom-percent {
	margin-bottom: 1%;
}
.margin-bottom-percent2 {
	margin-bottom: 2%;
}
.margin-bottom-percent3 {
	margin-bottom: 3%;
}
.margin-bottom-percent4 {
	margin-bottom: 4%;
}
.margin-bottom-percent5 {
	margin-bottom: 5%;
}
.margin-bottom-percent6 {
	margin-bottom: 7%;
}
.margin-bottom-percent7 {
	margin-bottom: 9%;
}
.margin-bottom-percent8 {
	margin-bottom: 10%;
}
.margin-bottom-percent9 {
	margin-bottom: 12%;
}
.margin-bottom-percent10 {
	margin-bottom: 16%;
}
.margin-bottom-percent11 {
	margin-bottom: 20%;
}
.margin-bottom-percent12 {
	margin-bottom: 23%;
}

.margin-left-percent {
	margin-left: 1%;
}
.margin-left-percent2 {
	margin-left: 2%;
}
.margin-left-percent3 {
	margin-left: 3%;
}
.margin-left-percent4 {
	margin-left: 4%;
}
.margin-left-percent5 {
	margin-left: 5%;
}
.margin-left-percent6 {
	margin-left: 7%;
}
.margin-left-percent7 {
	margin-left: 9%;
}
.margin-left-percent8 {
	margin-left: 10%;
}
.margin-left-percent9 {
	margin-left: 12%;
}
.margin-left-percent10 {
	margin-left: 14%;
}
.margin-left-percent11 {
	margin-left: 16%;
}
.margin-left-percent12 {
	margin-left: 36%;
}
.margin-left-percent13 {
	margin-left: 30%;
}
.margin-left-percent14 {
	margin-left: 25%;
}
.margin-left-percent15 {
	margin-left: 20%;
}

.margin-right-percent {
	margin-right: 1%;
}
.margin-right-percent2 {
	margin-left: 2%;
}
.margin-right-percent3 {
	margin-right: 3%;
}
.margin-right-percent4 {
	margin-right: 4%;
}
.margin-right-percent5 {
	margin-right: 5%;
}
.margin-right-percent6 {
	margin-right: 7%;
}
.margin-right-percent7 {
	margin-right: 9%;
}
.margin-right-percent8 {
	margin-right: 10%;
}
.margin-right-percent9 {
	margin-right: 12%;
}
.margin-right-percent10 {
	margin-right: 14%;
}

.margin1 {
	margin: 5px;
}

.margin1.notop {
	margin-top: 0px;
}
.margin1.nobottom {
	margin-bottom: 0px;
}



/* Horizontal Rules */
hr.style-one {
	float: left;
	border: 0;
	height: 1px;
}
hr.style-one.center {
	float: none;
}
hr.style-two {
	float: left;
	border: 0;
	padding: 0px;
	margin: 8px 0 14px 0;
	height: 1px;
}
hr.style-three {
	float: left;
	border: 0;
	height: 3px;
}
hr.style-three.center {
	float: none;
}
hr.style-one.right,
hr.style-two.right,
hr.style-three.right {
	float: right;
}

hr.color1 {
	background: #0090ff;
}
hr.color2 {
	background: #1d2025;
}
hr.gray {
	background: #d3d3d3;
}
hr.gray1 {
	background: #eee;
}
hr.gray2 {
	background: #aaa;
}
hr.gray3 {
	background: #999;
}
hr.gray4 {
	background: #545454;
}
hr.white {
	background: #fff;
}
hr.white2 {
	background: rgba(255,255,255,0.3);
}
hr.seagreen {
	background: #90C695;
}
hr.red {
	background: #f62459;
}

.vline {
	margin: 0 auto;
	width: 1px;
	height: 18px;
	background: #1d2025;
}
.vline.white {
	background: #fff;
}

.min-quarter {
	width: 75px;
}
.half-quarter {
	width: 12.5%;
}
.quarter {
	width: 25%;
}
.half {
	width: 50%;
}
.three-quarter {
	width: 75%;
}
.full {
	width: 100%;
}
.height-full {
	height: 100%;
}
.height-fit {
	height: 100vh;
}


/* alignments */
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
	margin: inherit auto;
}
.absolute {
	position: absolute;
}
.absolute2 {
	position: absolute;
	right: 50px;
	top: 250px;
}

.centmid {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posbottom {
	left: 0px;
	bottom: 0px;
}


.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.italic {
	font-style: italic;
}


/* font sizes */
.iconsize,
i.iconsize {
	font-size: 5px;
}
.iconsize1,
i.iconsize1 {
	font-size: 16px;
}
.iconsize2,
i.iconsize2 {
	font-size: 20px;
}
.iconsize3,
i.iconsize3 {
	font-size: 25px;
}
.iconsize4,
i.iconsize4 {
	font-size: 30px;
}
.iconsize5,
i.iconsize5 {
	font-size: 40px;
}
.iconsize6,
i.iconsize6 {
	font-size: 50px;
}
.iconsize7,
i.iconsize7 {
	font-size: 60px;
}
.iconsize8,
i.iconsize8 {
	font-size: 70px;
}
.iconsize9,
i.iconsize9 {
	font-size: 80px;
}
.iconsize10,
i.iconsize10 {
	font-size: 90px;
}
.iconsize11,
i.iconsize11 {
	font-size: 100px;
}
.iconsize12,
i.iconsize12 {
	font-size: 120px;
}
.iconsize13,
i.iconsize13 {
	font-size: 9px;
}
.iconsize14,
i.iconsize14 {
	font-size: 12px;
}
.iconsize15,
i.iconsize15 {
	font-size: 14px;
}

/* circles */
.circle {
	border-radius: 100%;
}
.circle1 {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.circle2 {
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
.circle3 {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.circle4 {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.circle5 {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.circle6 {
	width: 60px;
	height: 60px;
	border-radius: 100%;
}
.circle7 {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}
.circle8 {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.circle9 {
	width: 90px;
	height: 90px;
	border-radius: 100%;
}
.circle9.shadow {
	-webkit-box-shadow: 0px 0px 0px 12px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 0px 12px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 12px rgba(0,0,0,0.1);
}
.circle10 {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.circle11 {
	width: 120px;
	height: 120px;
	border-radius: 100%;
}
.circle12 {
	width: 140px;
	height: 140px;
	border-radius: 100%;
}
.circle13 {
	width: 160px;
	height: 160px;
	border-radius: 100%;
}
.circle14 {
	width: 180px;
	height: 180px;
	border-radius: 100%;
}
.circle15 {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.circle16 {
	width: 230px;
	height: 230px;
	border-radius: 100%;
}

.circle1.center,
.circle2.center,
.circle3.center,
.circle4.center,
.circle5.center,
.circle6.center,
.circle7.center,
.circle8.center,
.circle9.center,
.circle10.center,
.circle11.center,
.circle12.center,
.circle13.center,
.circle14.center,
.circle15.center,
.circle16.center,
.circle21.center {
	margin: 0 auto;
}

.circle11.ptop,
.circle12.ptop,
.circle13.ptop {
	padding-top: 12.5%;
}
.circle11.ptop2,
.circle12.ptop2,
.circle13.ptop2 {
	padding-top: 18%;
}

.circle21 {
	width: 50%;
	height: 75vh;
	padding: 90px;
	border-radius: 100%;
}


/* vertical aligns */
.valign1 {
	text-align: center;
	vertical-align: middle;
	line-height: 10px !important;
}
.valign2 {
	text-align: center;
	vertical-align: middle;
	line-height: 20px !important;
}
.valign3 {
	text-align: center;
	vertical-align: middle;
	line-height: 30px !important;
}
.valign4 {
	text-align: center;
	vertical-align: middle;
	line-height: 40px !important;
}
.valign5 {
	text-align: center;
	vertical-align: middle;
	line-height: 50px !important;
}
.valign6 {
	text-align: center;
	vertical-align: middle;
	line-height: 60px !important;
}
.valign7 {
	text-align: center;
	vertical-align: middle;
	line-height: 70px !important;
}
.valign8 {
	text-align: center;
	vertical-align: middle;
	line-height: 80px !important;
}
.valign9 {
	text-align: center;
	vertical-align: middle;
	line-height: 90px !important;
}
.valign10 {
	text-align: center;
	vertical-align: middle;
	line-height: 100px !important;
}
.valign1.left,
.valign2.left, 
.valign3.left, 
.valign4.left, 
.valign5.left, 
.valign6.left, 
.valign7.left, 
.valign8.left, 
.valign9.left, 
.valign10.left {
	text-align: left;
}

i.icon-border {
	color: #fff;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 100%;
	margin: 0px 3px;
	transition: all 0.3s ease;
}
i.icon-border:hover {
	color: #0090ff;
	background: #fff;
}
i.icon-border.sty2:hover {
	color: #1d2025;
	background: #fff;
}
i.icon-border.none:hover {
	color: inherit;
	background: inherit;
}
i.icon-border.green:hover {
	color: #fff;
	background: #2ecc71;
	border: 1px solid #2ecc71;
}
i.icon-border.orange:hover {
	color: #fff;
	background: #e67e22;
	border: 1px solid #e67e22;
}
i.icon-border.size2 {
	font-size: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
i.icon-border.size3 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
i.icon-border.size4 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
i.icon-border.size5 {
	width: 50px;
	height: 50px;
	line-height: 48px;
}

i.icon-border2 {
	color: #fff;
	vertical-align: middle;
	text-align: center;
	background-color: #1d2025;
	border-radius: 100%;
	margin: 0px 3px;
	transition: all 0.3s ease;
}
i.icon-border2:hover {
	color: #fff;
	background-color: #0090ff;
}
i.icon-border2.size2 {
	font-size: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
i.icon-border2.size3 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
i.icon-border2.size4 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

i.icon-border-dark {
	color: #1d2025;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #1d2025;
	border-radius: 100%;
	margin: 0px 3px;
}
i.icon-border-dark.size2 {
	font-size: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
i.icon-border-dark.size3 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
i.icon-border-dark.size4 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
i.icon-border-dark.size5 {
	width: 50px;
	height: 50px;
	line-height: 50px;
}


i.icon-border-color {
	color: #0090ff;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #0090ff;
	border-radius: 100%;
	margin: 0px 3px;
}
i.icon-border-color.size2 {
	font-size: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
i.icon-border-color.size3 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
i.icon-border-color.size4 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

i.icon-border-gray {
	color: #727272;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #727272;
	border-radius: 100%;
	margin: 0px 3px;
	transition: all 0.3s ease;
}
i.icon-border-gray2 {
	color: #999;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #727272;
	border-radius: 100%;
	margin: 0px 3px;
	transition: all 0.3s ease;
}
i.icon-border-gray2:hover {
	color: #eee;
	border: 1px solid #eee;
}
i.icon-border-gray.size2,
i.icon-border-gray2.size2 {
	font-size: 10px;
	width: 22px;
	height: 22px;
	line-height: 22px;
}
i.icon-border-gray.size3,
i.icon-border-gray2.size3 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
i.icon-border-gray.size4,
i.icon-border-gray2.size4 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
i.icon-border-gray:hover {
	opacity: 0.5;
}
i.icon-border-gray.size5,
i.icon-border-gray2.size5 {
	font-size: 10px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	color: #1d2025;
	border: 1px solid #1d2025;
}

/* minus margin top */
.minus-margin-top {
	float: left;
	width: 100%;
	margin-top: -100px;
	position: relative;
	z-index: 2;
}
.minus-margin-top2 {
	float: left;
	width: 100%;
	margin-top: -20px;
	position: relative;
	z-index: 2;
}
.minus-margin-top3 {
	float: left;
	width: 100%;
	margin-top: -30px;
	position: relative;
	z-index: 2;
}
.minus-margin-top4 {
	float: left;
	width: 100%;
	margin-top: -43px;
	position: relative;
	z-index: 2;
}
.minus-margin-top5 {
	float: left;
	width: 100%;
	margin-top: -50px;
	position: relative;
	z-index: 2;
}
.minus-margin-top6 {
	float: left;
	width: 100%;
	margin-top: -60px;
	position: relative;
	z-index: 2;
}
.minus-margin-top7 {
	float: left;
	width: 100%;
	margin-top: -70px;
	position: relative;
	z-index: 2;
}

.minus-margin-on-slider {
	float: left;
	width: 100%;
	margin-top: -70px;
	position: relative;
	z-index: 2;
}

.margin-top-minus1 {
	margin-top: -10px;
	position: relative;
	z-index: 2;
}
.margin-top-minus2 {
	margin-top: -20px;
	position: relative;
	z-index: 2;
}
.margin-top-minus3 {
	margin-top: -30px;
	position: relative;
	z-index: 2;
}
.margin-top-minus4 {
	margin-top: -40px;
	position: relative;
	z-index: 2;
}
.margin-top-minus5 {
	margin-top: -50px;
	position: relative;
	z-index: 2;
}
.margin-top-minus6 {
	margin-top: -70px;
	position: relative;
	z-index: 2;
}
.margin-top-minus7 {
	margin-top: -100px;
	position: relative;
	z-index: 2;
}
.margin-top-minus8 {
	margin-top: -120px;
	position: relative;
	z-index: 2;
}
.margin-top-minus9 {
	margin-top: -140px;
	position: relative;
	z-index: 2;
}
.margin-top-minus10 {
	margin-top: -160px;
	position: relative;
	z-index: 2;
}


.icon-on-line {
	position: absolute;
	background: #fff;
	padding: 5px 25px;
	margin: -10px auto 0 -25px;
}
.icon-on-line2 {
	position: absolute;
	background: #fff;
	padding: 5px 25px;
	margin: -10px auto 0 -38px;
}
.icon-on-line3 {
	position: absolute;
	background: #1d2025;
	padding: 5px 20px;
	margin: -10px auto 0 -34px;
}

.zindex {
	position: relative;
	z-index: 3;
}
.zindex1 {
	position: relative;
	z-index: 1;
}
.zindex2 {
	position: relative;
	z-index: 2;
}

ul.none {
	list-style-type: none;
}
.none.two li {
	list-style-type: none;
	float: left;
}
.none.three li {
	list-style-type: none;
	float: left;
	margin-bottom: 10px;
}

/* Border */
.border {
	border: 1px solid #fff;
}
.border2 {
	border: 1px solid #eee;
}
.border3 {
	border: 1px solid #ddd;
}
.border4 {
	border: 7px solid #fff;
}
.border4.darkgray {
	border: 7px solid #1d2025;
}
.border5 {
	border: 5px solid #fff;
}

.border.gray {
	border: 1px solid #999;
}
.border.sitecolor {
	border: 1px solid #0090ff;
}
.border.darkgray {
	border: 1px solid #1d2025;
}
.border-dashed {
	border: 1px dashed #fff;
}
.border-dashed.gray {
	border: 1px dashed #999;
}
.border-dashed.gray2 {
	border: 1px dashed #c3c3c3;
}
.border-dashed.sitecolor {
	border: 1px dashed #0090ff;
}
.border-dashed.darkgray {
	border: 1px dashed #1d2025;
}

.border.gray2 {
	border: 5px solid #eee;
}
.border.spray {
	border: 5px solid #81cfe0;
}


.border-top {
	border-top: 1px;
	border-style: solid;
	border-color: #0090ff;
}
.border-top2 {
	border-top: 3px;
	border-style: solid;
	border-color: #0090ff;
}
.border-top3 {
	border-top: 5px;
	border-style: solid;
	border-color: #0090ff;
}
.border-top4 {
	border-top: 7px;
	border-style: solid;
	border-color: #0090ff;
}
.border-top5 {
	border-top: 10px;
	border-style: solid;
	border-color: #0090ff;
}
.border-top-gray {
	border-top: 1px solid #eee;
}
.border-top-gray1 {
	border-top: 1px solid #ccc;
}
.border-top-gray2 {
	border-top: 1px solid #4a4d51;
}
.border-top-opacity {
	border-top: 1px solid rgba(255,255,255,0.2);
}
.border-top-opacity2 {
	border-top: 1px solid rgba(255,255,255,0.1);
}


.border-left {
	border-left: 1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.3);
}
.border-left2 {
	border-left: 1px solid #e9e9e9;
}
.border-left3 {
	border-left: 1px solid #e3e3e3;
}
.border-left4 {
	border-left: 1px solid #ddd;
}
.border-left-opacity {
	border-left: 1px solid rgba(255,255,255,0.2);
}
.border-left-opacity1 {
	border-left: 1px solid rgba(255,255,255,0.1);
}
.border-left-opacity2 {
	border-left: 1px solid rgba(255,255,255,0.3);
}
.border-left-opacity3 {
	border-left: 1px solid rgba(255,255,255,0.5);
}
.border-all-opacity {
	border: 1px solid rgba(255,255,255,0.12);
	transition: all 0.3s ease;
}
.border-all-opacity2 {
	border: 1px solid rgba(255,255,255,0.2);
	transition: all 0.3s ease;
}
.border-all-opacity3 {
	border: 1px solid rgba(255,255,255,0.3);
	transition: all 0.3s ease;
}
.border-all-opacity4 {
	border: 1px solid rgba(255,255,255,0.4);
	transition: all 0.3s ease;
}
.border-all-opacity5 {
	border: 1px solid rgba(255,255,255,0.5);
	transition: all 0.3s ease;
}
.border-all-opacity6 {
	border: 5px solid rgba(255,255,255,0.5);
	transition: all 0.3s ease;
}
.border-all-opacity:hover {
	border: 1px solid rgba(255,255,255,0.36);
}

.border-right {
	border-right: 5px;
	border-right-style: solid;
}
.border-right.sty2 {
	border-right: 2px;
	border-right-style: solid;
}
.border-right.white {
	border-right-color: #fff;
}
.border-right.sitecolor {
	border-right-color: #0090ff;
}
.border-right.darkgray {
	border-right-color: #1d2025;
}

.box-border {
	border-top: 5px solid #575757;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.box-border.noleft {
	border-left: none;
}
.box-border.sty2 {
	border-top: 5px solid #00a9ff;
}
.box-border.sty3 {
	border-top: 5px solid #999;
}
.box-border.sty4 {
	border-top: 5px solid #2ecc71;
}


/* Opacity */
.opacity {
	opacity: 0.1;
}
.opacity1 {
	opacity: 0.2;
}
.opacity2 {
	opacity: 0.4;
}
.opacity3 {
	opacity: 0.5;
}
.opacity4 {
	opacity: 0.7;
}
.opacity5 {
	opacity: 0.8;
}
.opacity6 {
	opacity: 0.05;
}
.opacity7 {
	opacity: 0.9;
}
.opacity8 {
	opacity: 0.95;
}
.opacity9 {
	opacity: 0.05;
}
.opacity10 {
	opacity: 1 !important;
}

.opacity-sitecolor {
	background: rgba(0,144,255,0.95);
}
.opacity-sitecolor2 {
	background: rgba(0,144,255,0.9);
}
.opacity-sitecolor3 {
	background: rgba(0,144,255,0.8);
}

.opacity-darkgray {
	background: rgba(29,32,37,0.95);
}
.opacity-darkgray2 {
	background: rgba(29,32,37,0.9);
}
.opacity-darkgray3 {
	background: rgba(29,32,37,0.85);
}

.opacity-white {
	background: rgba(255,255,255,0.95);
}
.opacity-white2 {
	background: rgba(255,255,255,0.9);
}
.opacity-white3 {
	background: rgba(255,255,255,0.8);
}

.opacity-green {
	background: rgba(135,211,124,0.95);
}
.opacity-green2 {
	background: rgba(135,211,124,0.9);
}
.opacity-green3 {
	background: rgba(135,211,124,0.8);
}


.block {
	display: block;
}

.bgcolor-dark-opacity {
	background-color: rgba(0,0,0,0.1);
}
.bgcolor-dark-opacity2 {
	background-color: rgba(0,0,0,0.2);
}
.bgcolor-dark-opacity3 {
	background-color: rgba(0,0,0,0.3);
}
.bgcolor-dark-opacity4 {
	background-color: rgba(0,0,0,0.4);
}
.bgcolor-dark-opacity5 {
	background-color: rgba(0,0,0,0.5);
}
.bgcolor-dark-opacity6 {
	background-color: rgba(0,0,0,0.6);
}
.bgcolor-dark-opacity7 {
	background-color: rgba(0,0,0,0.7);
}
.bgcolor-dark-opacity8 {
	background-color: rgba(0,0,0,0.8);
}
.bgcolor-dark-opacity9 {
	background-color: rgba(0,0,0,0.9);
}

.bgcolor-light-opacity {
	background-color: rgba(255,255,255,0.1);
}
.bgcolor-light-opacity2 {
	background-color: rgba(255,255,255,0.2);
}
.bgcolor-light-opacity3 {
	background-color: rgba(255,255,255,0.3);
}
.bgcolor-light-opacity4 {
	background-color: rgba(255,255,255,0.4);
}
.bgcolor-light-opacity5 {
	background-color: rgba(255,255,255,0.5);
}
.bgcolor-light-opacity6 {
	background-color: rgba(255,255,255,0.6);
}
.bgcolor-light-opacity7 {
	background-color: rgba(255,255,255,0.7);
}
.bgcolor-light-opacity8 {
	background-color: rgba(255,255,255,0.8);
}
.bgcolor-light-opacity9 {
	background-color: rgba(255,255,255,0.9);
}

.radius {
	border-radius: 3px;
}
.radius2 {
	border-radius: 5px;
}
.radius3 {
	border-radius: 10px;
}
.radius4 {
	border-radius: 20px;
}
.radius5 {
	border-radius: 100%;
}

.line-animate {
	float: left;
	border: 0;
	height: 4px;
	width: 18%;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.col-md-3:hover .line-animate,
.col-md-4:hover .line-animate,
.col-md-5:hover .line-animate,
.col-md-6:hover .line-animate {
	width: 36%;
}

.line-animate2 {
	float: left;
	border: 0;
	height: 3px;
	width: 12%;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.col-md-3:hover .line-animate2,
.col-md-4:hover .line-animate2,
.col-md-5:hover .line-animate2,
.col-md-6:hover .line-animate2 {
	width: 36%;
}

img.grayscale {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.textshadow {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.textshadow2 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.textshadow3 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.overflowhd {
	overflow: hidden;
}


/* responsive image */
.respoimg {
	display:block;
	max-width:100%;
	height:auto;
}
.respoimg2 {
	display:block;
	max-width:50%;
	height:auto;
}
.respoimg3 {
	display:block;
	max-width:25%;
	height:auto;
}
.respoimg4 {
	display:block;
	max-width:12.5%;
	height:auto;
}
.respoimg5 {
	display:block;
	max-width:75%;
	height:auto;
}
.respoimg6 {
	display:block;
	max-width:33.3333333333%;
	height:auto;
}
.respoimg7 {
	display:block;
	max-width:18%;
	height:auto;
}
.respoimg.center,
.respoimg2.center,
.respoimg3.center,
.respoimg4.center,
.respoimg5.center,
.respoimg6.center,
.respoimg7.center {
	margin: 0 auto;
}








