
/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */


/* feature box 1
 ------------------------------ */
.sl-feature-box-1{
	position:relative;
	width:100%;
	float:left;
	top:-80px;
	padding:45px;
	margin-bottom:30px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;	
}
.sl-feature-box-1 .icon{
	width:140px;
	height:140px;
	margin:0 auto 10px auto;
	border:1px solid #edecec;
	border-radius:100%;
}
/* feature box 2
 ------------------------------ */
.sl-feature-box-2{
	width:100%;
	float:left;
	padding:50px;
	border:3px solid #edecec;
	background-color:#fff;
}

/* feature box 3
 ------------------------------ */
.sl-feature-box-3{
	width:100%;
	float:left;
}
.sl-feature-box-3 .icon{
	font-size:30px;
	border:1px solid #ecebeb;
}
.sl-feature-box-3:hover .icon, .sl-feature-box-3:hover .title,
.sl-feature-box-3.active .icon, .sl-feature-box-3.active .title{
	color:#ecae3d;
}

/* feature box 4
 ------------------------------ */
.sl-feature-box-4{
	width:100%;
	float:left;
	padding:60px;
	border:3px solid #f5f5f5;
}
.sl-feature-box-4.no-padd{
	padding:0px;
}

/* feature box 5
 ------------------------------ */
.sl-feature-box-5 {
	float: left;
	padding: 27px;
	width: 100%;
	background-color:#fff;
}
.sl-feature-box-5 .image-box {
	position: relative;
	z-index: 0;
}
.sl-feature-box-5 .image-box .date-shape {
	position: absolute;
	z-index: 1;
	width: 130px;
	height: 90px;
	float: left;
	color:#ecae3d;
	text-align:center;
	bottom: -35px;
	padding: 22px 0 0 0;
	background: url(../images/sl-10.png) 0 0 no-repeat;
}
.sl-feature-box-5 .image-box .date-shape span {
	font-size:20px;
	font-weight:600;
}
.sl-feature-box-5:hover .title, .sl-feature-box-5.active .title {
	color:#ecae3d;
}
/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.sl-title-line-1 {
	width: 70px;
	height:2px;
	margin:15px auto 10px auto;
	background-color:#101010;
}
.sl-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.sl-title-line-1.dark, .sl-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.sl-title-line-1.white {
	background-color:#fff;
}


/*============ Parallax Sections ============ */

.parallax-48 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/sl-parallax1.jpg") no-repeat fixed 50% 0;
}





/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {






}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
width:90%;
	
}





}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {
.sl-feature-box-1 {
    top: 0;
}



}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {





}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {





}


@media screen and (max-width: 480px) {



}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {



}