
/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */

.tp-sec-bg{
	width:100%;
	background: #f5f5f5 url(../images/tp-2.png) center center no-repeat;
}

/* feature box 1
 ------------------------------ */
.tp-feature-box-1{
	width:100%;
	float:left;
	padding:0px;
	background-color:#fff;
}
.tp-feature-box-1 .text-box{
	position:relative;
	width:100%;
	float:left;
}
.tp-feature-box-1 .text-box .inner-box{
	position: absolute;
	width:98%;
	float:left;
	z-index:2;
	left:-25px;
	top:31px;
	padding:45px;
	background-color:#fff;
	border:1px solid #fff;
	transition: all 0.3s ease-out 0s;
}
.tp-feature-box-1 .text-box .inner-box .title-line {
    width: 90%;
    margin: 10px 50% 27px 0;
    height: 1px;
    background-color: #ecae3d;
}
.tp-feature-box-1 .text-box .inner-box .title{
	transition: all 0.3s ease-out 0s;
}
.tp-feature-box-1:hover .text-box .inner-box, .tp-feature-box-1.active .text-box .inner-box{
	background-color:#fff;
	border:1px solid #ecae3d;
}
.tp-feature-box-1:hover .text-box .inner-box .title, .tp-feature-box-1.active .text-box .inner-box .title{
	color:#ecae3d;
}


/* feature box 2
 ------------------------------ */
.tp-feature-box-2{
	width:100%;
	float:left;
}
.tp-feature-box-2 .title-line{
	width:20%;
	height:2px;
	float:left;
	margin:8px 0 0 0;
	background-color:#ecae3d;
}
.tp-feature-box-2 .title-line.align-right{
	float:right;
}
.tp-feature-box-2 .title{
	font-size:18px;
}
.tp-feature-box-2:hover .icon-plain-msmall, .tp-feature-box-2.active .icon-plain-msmall{
	color:#ecae3d;
}
.tp-feature-box-2:hover .title, .tp-feature-box-2.active .title{
	color:#ecae3d;
}

/* feature box 3
 ------------------------------ */
.tp-feature-box-3 {
	width: 100%;
	padding: 40px;
	float: left;
	background-color: #101010;
}
.tp-feature-box-3 form select {
	width: 100%;
	padding: 7px;
	border: 1px solid #2e2e2e;
	background-color: #101010;
}
.tp-feature-box-3 form select.margin-top {
	margin-top: 20px;
}
.tp-feature-box-3 .input {
	width: 100%;
	padding: 7px;
	color: #727272;
	margin-bottom:20px;
	border: 1px solid #2e2e2e;
	background-color: #101010;
}
.tp-feature-box-3 .textarea {
	width: 100%;
	height:80px;
	padding: 7px;
	color: #727272;
	margin-top: 20px;
	border: 1px solid #2e2e2e;
	background-color: #101010;
}

/* feature box 4
 ------------------------------ */
.tp-feature-box-4{
	width:100%;
	float:left;
	padding:0px;
	min-height:482px;
	background-color:#fff;
}
.tp-feature-box-4 .text-box{
	position:relative;
	width:100%;
	float:left;
	background-color:#fff;
}
.tp-feature-box-4 .text-box .inner-box{
	position: absolute;
	width:84%;
	float:left;
	z-index:2;
	left:28px;
	top:-24px;
	padding:35px;
	background-color:#fff;
	border:1px solid #fff;
	transition: all 0.3s ease-out 0s;
}
.tp-feature-box-4 .text-box .inner-box .title-line {
    width: 20%;
	height: 2px;
	float: left;
	margin: 8px 0 0 0;
	background-color: #ecae3d;
}
.tp-feature-box-4 .text-box .inner-box .title{
	transition: all 0.3s ease-out 0s;
}
.tp-feature-box-4:hover .text-box .inner-box, .tp-feature-box-4.active .text-box .inner-box{
	background-color:#fff;
	border:1px solid #ecae3d;
}
.tp-feature-box-4:hover .text-box .inner-box .title, .tp-feature-box-4.active .text-box .inner-box .title{
	color:#ecae3d;
}

/* ---------- feature box 5 ---------- */
.tp-feature-box-5{
	width:100%;
	float:left;
	padding:40px;
	margin-bottom:30px;
	border:3px solid #f5f5f5;
}
.tp-title-line{
	width:30%;
	height:1px;
	float:left;
	margin:8px 0 18px 0;
	background-color:#ecae3d;
}

/*============ Section Titles ============ */

/* title line
 ------------------------------ */
.tp-title-line-1 {
	width: 70px;
	height:2px;
	margin:15px auto 10px auto;
	background-color:#101010;
}
.tp-title-line-1.align-left {
	width: 70px;
	margin:8px auto 20px 0;
}
.tp-title-line-1.dark, .tp-title-line-1.dark {
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.tp-title-line-1.white {
	background-color:#fff;
}


/*============ Parallax Sections ============ */

.parallax-49 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/tp-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-50 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/tp-parallax2.jpg") no-repeat fixed 50% 0;
}




/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

.tp-feature-box-1 {
    min-height: 350px;
}




}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
width:90%;
	
}
.tp-feature-box-1 {
    min-height: 725px;
}
.tp-feature-box-4 {
    min-height: 530px;
}






}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {




}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {
.tp-feature-box-4 {
    min-height: 468px;
}




}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.tp-feature-box-4 {
    min-height: 578px;
}




}


@media screen and (max-width: 480px) {
.tp-feature-box-4 {
    min-height: 523px;
}


}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {
.tp-feature-box-4 {
    min-height: 457px;
}



}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {
	
	
	
	
	
	

}