.header-section ul li ul.contextual-links{
	opacity: 1;
    max-height: initial;
    width: auto;
    left: inherit;
}
.search-box .matri-search form input[type='submit']{
	display: none;
}
.toolbar-oriented .toolbar-bar{
	z-index: 1000;
}
.section-dark .sec-title-container,.section-fulldark .sec-title-container{
	color: #fff;
}
.section-dark .sec-title-container h2,.section-fulldark .sec-title-container h2{
	color: #fff;
}
input[type="search"],input[type="email"],input[type='text'],input[type="password"],select{
	width: 100%;
    height: 45px;
    /*float: left;*/
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.matri-search input[type="submit"]{
	display: none;
}
.matri-search .form-item {
	margin: 0;
}
.mat_featured_services .col-md-3.col-sm-3:nth-of-type(1) .boxed-last1,.mat_featured_services .col-md-3.col-sm-3:nth-of-type(4) .boxed-last1{
	float: left;
    width: 100%;
    text-align: center;
    padding: 40px 40px;
    background-color: #eee;
    border-right: solid 4px #e5e5e5;
}
.mat_featured_services .col-md-3.col-sm-3:nth-of-type(3) .boxed-last1{
	float: left;
    width: 100%;
    text-align: center;
    padding: 40px 40px;
    border-right: none;
}
.matri-simplenews form .extra_div{
	display: table;
	border: 1px solid #fff;
    border-radius: 40px;
    padding: 3px;
    background: #FFF;
    width: 100%;
}
.matri-simplenews form .extra_div >div{
	display: table-cell;
}
.matri-simplenews form .extra_div .form-actions{
	display: table-cell;
}
.matri-simplenews form .extra_div input[type='email']{
	margin: 0;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    background: transparent;
    color: #202020;
    width: 100%;
}
.matri-simplenews form .extra_div input[type='submit']{
	margin: 5px;
}
.matri-simplenews form #edit-message{
	color: white;
}
.feature-section5 {
}
.feature-section5 .icon {
	width: 70px;
	height: 70px;
	padding: 16px;
	border: 4px solid #3d3b3b;
	margin-right: 25px;
	margin-bottom: 40px;
	border-radius: 100%;
	transition: all 0.5s ease;
	float:left;
}
.feature-section5 .col-md-4:hover .icon {
	padding: 16px;
	border: 4px solid #3d3b3b;
	/*background: #000000;*/
}
.padding-bottom-40{
	padding-bottom: 40px;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
.pd-b-90{
	padding-bottom: 90px;
}
.matri-para-image{
	position: inherit;
}
.matri-para-image .contextual{
	position: relative;
}
.matri-p-b-60{
	padding-bottom: 60px;
}
.matri-p-b-70{
	padding-bottom: 70px;
}
.matri-p-b-50{
	padding-bottom: 50px;
}
.p-t-80{
	padding-top: 80px;
}
.blog-home13 .item:nth-of-type(2n+1){
	clear: both;
}
.blog-home13 .item:nth-of-type(4n+3) > .image-blog{
	float: right;
}
.blog-home13 .item:nth-of-type(4n+4) > .image-blog{
	float: right;
}
.p-t-0{
	padding-top: 0;
}
.section-primary .sec-title-container h2, .section-primary .sec-title-container p{
    color: white;
}
#smart-form input:not([type="submit"]){
	background: #fff;
    position: relative;
    vertical-align: top;
    border: 1px solid #efefef;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    height: 42px;
    width: 100%;
    padding: 10px;
}
#smart-form textarea{
	background: #fff;
    position: relative;
    vertical-align: top;
    border: 1px solid #efefef;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    width: 100%;
    padding: 10px;
}
#smart-form input:focus, #smart-form textarea:focus, #smart-form .select > select:focus {
    color: #3c3c3c;
    background: #fff;
    border: 1px solid #4EBD4A;
    -webkit-box-shadow: 0px 0px 3px #4EBD4A inset;
    -moz-box-shadow: 0px 0px 3px #4EBD4A inset;
    -o-box-shadow: 0px 0px 3px #4EBD4A inset;
    box-shadow: 0px 0px 3px #4EBD4A inset;
    outline: none;
}
#smart-form label{
	display: none;
}
footer.section-light h5.text-white{
	color: #020202;
	opacity: 1;
}
footer.section-light .sec-bpadding-6 .opacity-link-light {
	outline: medium none !important;
    color: #727272;
    opacity: 1;
}
footer.section-light .sec-bpadding-6 .opacity-link-light:hover{
	color: #101010;
}
footer.section-light .sec-bpadding-6  .divider-line.light{
	border-bottom-color: #444444;
}
.error-search-box form{
	display: table;
	width: 100%;
}
.error-search-box form >div{
	display: table-cell;
	width: 100%;
}
.error-search-box form input[type="submit"]{
	display: table-cell;
	background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: #fff;
    height: 45px;
    transition: all 0.3s ease-out 0s;
    font-size: 14px;
    border-radius: 0;
    padding: 0 33px;
}
.blog-single iframe{
	max-width: 100%;
}
.blog-single-image{
	width: 100%;
}
.m-bottom-40{
	margin-bottom: 40px;
}
.sp-feature-box-3  form input[type='submit']{
	font-size: 14px;
    padding: 10px 20px;
    border: 2px solid #f5f5f5;
    color: #323335;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}
.sp-feature-box-3  form input[type='submit']:hover{
	color: #727272;
    border: 2px solid #101010;
    background-color: #101010;
}
.pagination{
	width: 100%;
}
.matri-product-single form input[type='submit'],.commerce-checkout-flow input[type='submit'],.cart.cart-form form input[type='submit']{
	font-size: 14px;
    padding: 12px 30px;
    color: #727272;
    background-color: #101010;
    border-radius: 0;
    text-transform: uppercase;
}
.matri-product-single form input[type='submit']:hover,.commerce-checkout-flow input[type='submit'],.cart.cart-form form input[type='submit']:hover{
	color: #727272;
    background-color: #323335;
}
.box__content .contextual {
	top: 50px;
}

/*table*/
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    /*border: 1px solid #ddd;*/
    border-color: #ebebeb; 
    margin-bottom: 0; 
    color: #212224;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 0;
    height: 35px;
    margin-bottom: 15px;
    /*font-family: 'Open Sans', sans-serif;*/
}
table > thead > tr > th {
    /*background: none repeat scroll 0 0 #11caff;*/
    /*border-bottom-width: 1px solid #ddd;*/
    /*border-color: #11caff;*/
    vertical-align: middle;
    color: black;
    font-size: 13px;
    /*font-family: HelveticaNeue, Arial, Helvetica, sans-serif;*/
    text-transform: uppercase;
    text-align: center;
    height: 46px;
    line-height: 46px;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
table tr{
	border-bottom: 1px solid #e6e6e6;
}
table a{
    color: #212224;
    line-height: 23px;
}
table td{
    text-align: center;
    padding: 10px 0;
}
table a:hover{
    color: #f5af24;
}

.user-login-form input[type='submit'],.user-forgot-create,.user-pass input[type="submit"],.user-register-form input[type="submit"]{
	width: 100%;
}
.user-register-form .image-widget-data input[type="submit"]{
	width: auto;
}
.user-forgot-create p{
	text-align: center;
}
.header-section  .cart-link a{
	    margin-top: 16px;
    border-radius: 0px;
    background: #070607 !important;
    padding: 10px !important;
    color: #a1a1a1;
    font-size: 12px;
    border: none;
    width: 100%;
    display: block;
    text-align: center;
}
.accordion_head.faq{
    padding: 13px 15px !important;
    border-radius: 0;
    border: none;
}
.slider-above-section{
    z-index: 999;
}
.search-results li{
    margin: 0px;
    border-bottom: 1px solid #dcdcdc;
    padding: 14px 0;
}
.search-results .search-result__title a{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 18px;
    font-style: normal;
}
#block-matri-content >.search-form input[type='search']{
    width: auto;
    display: block;
}
#block-matri-content >.search-form input[type='submit']{
    font-size: 14px;
    padding: 12px 30px;
    color: #727272;
    background-color: #101010;
    border-radius: 0;
    text-transform: uppercase;
}
@media (min-width: 992px){
    .m4-s2:nth-of-type(4n+1) {
        clear: both;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .m4-s2:nth-of-type(2n+1) {
        clear: both;
    }
}
.m3:nth-of-type(3n+1) {
    clear: both;
}
.m4:nth-of-type(4n+1) {
    clear: both;
}
.slide-tmargin > .contextual{
    top: 46px;
    z-index: 9999;
}
.hidden-img-title .sec-title-container img{
    display: none;
}
.icon-plain-small.fa{
    font-size: 40px;
}
.cart-box .cart-link a{
    color: white!important;
}
/*#js-grid-mosaic img.image2{
	display: none;
}
#js-grid-mosaic .cbp-item:nth-of-type(11n + 3) img.image1{
	display: none;
}
#js-grid-mosaic .cbp-item:nth-of-type(11n + 3) img.image2{
	display: block;
}
#js-grid-mosaic .cbp-item:nth-of-type(11n + 4) img.image1{
	display: none;
}
#js-grid-mosaic .cbp-item:nth-of-type(11n + 4) img.image2{
	display: block;
}
#js-grid-mosaic .cbp-item:nth-of-type(11n + 8) img.image1{
	display: none;
}
#js-grid-mosaic .cbp-item:nth-of-type(11n + 8) img.image2{
	display: block;
}


#js-grid-mosaic-projects img.image2{
	display: none;
}
#js-grid-mosaic-projects .cbp-item:nth-of-type(11n + 3) img.image1{
	display: none;
}
#js-grid-mosaic-projects .cbp-item:nth-of-type(11n + 3) img.image2{
	display: block;
}
#js-grid-mosaic-projects .cbp-item:nth-of-type(11n + 4) img.image1{
	display: none;
}
#js-grid-mosaic-projects .cbp-item:nth-of-type(11n + 4) img.image2{
	display: block;
}
#js-grid-mosaic-projects .cbp-item:nth-of-type(11n + 8) img.image1{
	display: none;
}
#js-grid-mosaic-projects .cbp-item:nth-of-type(11n + 8) img.image2{
	display: block;
}
*/
.comment-form input[type=submit]{
    font-size: 20px;
    padding: 20px 50px;
    color: #727272;
    background-color: #101010;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
}
.blog-pagenation li a:hover, .blog-pagenation li a.active {
    background-color: #f62459;
    border: 1px solid #f62459;
    color: #fff;
}
#search-block-form input[type="submit"]{
    display: none;
}
.fo-map{
    margin-top: 4%;
}
.newsletter .animate-in
{
    width: 100%;
}
.newsletter .animate-in input[type="email"]
{
    width: 80%;
    height: 60px;
    float: left;
    padding: 15px;
    border: 1px solid #2e2e2e;
    background-color: #101010;
}
.newsletter .animate-in input[type="submit"]{
    margin: 0;
    width: 15%;
    height: 60px;
    /* float: left; */
    padding: 0px;
    color: #727272;
    text-transform: uppercase;
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    transition: all 0.3s ease-out 0s;

}
.toolbar-fixed #btn, .toolbar-horizontal #btn{
    top: 116px;
}
.z-index .animate-in{
    z-index: 1;
}
.footer-social-icons i {
    color: #f62459;
}
.color-fff h1 {
	color: #fff;
}