
/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */

/* feature box 1
 ------------------------------ */
.wg-feature-box-1{
	width:100%;
	float:left;
	padding:0 80px 0 0;
}

/* feature box 2
 ------------------------------ */
.wg-feature-box-2{
	position:relative;
	width:100%;
	float:left;
}
.wg-feature-box-2 .text-box{
	position:absolute;
	width:80%;
	float:left;
	bottom:0px;
	padding:55px;
	background-color:#fff;
}

/* feature box 3
 ------------------------------ */
.wg-feature-box-3{
	width:100%;
	float:left;
	padding:0 100px 0 0;
}
.wg-feature-box-3.left-padd{
	width:100%;
	float:left;
	padding:0 0 0 100px;
}
.wg-feature-box-3 .img-wrap {
	width:200px;
	float: left;
    margin: 0 30px 10px 10px;
}

.wg-feature-box-3 .img-wrap-2 {
	width:200px;
	float: left;
    margin: 0 30px 10px 10px;
}
/* feature box 4
 ------------------------------ */
.wg-feature-box-4{
	width:100%;
	float:left;
}
.wg-feature-box-4 .icon{
	border:3px solid #f5f5f5;
}

.wg-feature-box-4:hover .icon, .wg-feature-box-4.active .icon{
	border:3px solid #ecae3d;
	color:#ecae3d;
}
.wg-feature-box-4:hover .title, .wg-feature-box-4.active .title{
	color:#ecae3d;
}


/* feature box 5
 ------------------------------ */
.wg-feature-box-5{
	width:100%;
	float:left;
	padding:60px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.wg-feature-box-5 .title-line{
	width:20%;
	height:1px;
	margin:0 auto;
	background-color:#ecae3d;
}

.wg-feature-box-5:hover, .wg-feature-box-5.active{
	background-color:#101010;
}
.wg-feature-box-5:hover .title, .wg-feature-box-5.active .title{
	color:#fff;
}













/*============ Section Titles ============ */
/* title line
 ------------------------------ */
.wg-title-line-1 {
	width:100%;
	float:left;
}


/*============ Parallax Sections ============ */

.parallax-51 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/wg-parallax1.jpg") no-repeat fixed 50% 0;
}
.parallax-52 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/wg-parallax2.jpg") no-repeat fixed 50% 0;
}
.parallax-53 {
    background: rgba(0, 0, 0, 0) url("../images/parallax/wg-parallax3.jpg") no-repeat fixed 50% 0;
}



/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {





}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.container{
width:90%;
	
}
.wg-feature-box-3 {
    padding: 0 0 0 0;
}
.wg-feature-box-3.left-padd {
    padding: 0 0 0 0;
}




}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {




}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {





}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {
.container{
width:90%;
	
}



}


@media screen and (max-width: 480px) {



}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {




}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {
	
	
	
	
	
	

}