{% set block_style =  content['#block_content'].field_countdown_timers_style.value %}
{% set time =  content['#block_content'].field_date.value %}

{% if block_style == 'style1' %}
	<div{{ attributes.addClass('clock2') }}>
		{{ title_suffix }}
		<div class="container">
			<div class="row">
		     	<div class="col-md-12">
		        	<div class="countdown_holder">
		           		<h4 class="uppercase font-weight-5">{{ label }}</h4>
		           		<br/>
		           		<div class="clocktime" data-time="{{ time|date('Y\/m\/d') }}"></div>
		        	</div>
		     	</div>    
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="divider-line solid light"></div>
{% elseif block_style == 'style2' %}
	<div{{ attributes.addClass('clock3') }}>
		{{ title_suffix }}
		<div class="container">
		   <div class="row">
		      <div class="col-md-12">
		         <div class="countdown_holder">
		            <h4 class="uppercase font-weight-5">{{ label }}</h4>
		            <br/>
		            <div class="clocktime" data-time="{{ time|date('Y\/m\/d') }}"></div>
		         </div>
		      </div>
		   </div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="divider-line solid light"></div>
{% elseif block_style == 'style3' %}
	<div{{ attributes.addClass('clock') }}>
		{{ title_suffix }}
		<div class="container-fluid nopadding">
		   <div class="parallax-overlay bg-opacity-7">
		      <div class="container sec-tpadding-3 sec-bpadding-3">
		         <div class="row">
		            <div class="col-md-12">
		               <div class="countdown_holder">
		                  <h4 class=" text-white uppercase font-weight-5">{{ label }}</h4>
		                  <br/>
		                  <div class="clocktime" data-time="{{ time|date('Y\/m\/d') }}"></div>
		               </div>
		            </div>
		            
		            <!--end timer-->
		         </div>
		      </div>
		   </div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="divider-line solid light"></div>
{% else %}
	<div{{ attributes.addClass('clock4') }}>
		{{ title_suffix }}
		<div class="container">
		   <div class="row">
		      <div class="col-md-12">
		         <div class="countdown_holder">
		            <h4 class="uppercase font-weight-5">{{ label }}</h4>
		            <br/>
		           <div class="clocktime" data-time="{{ time|date('Y\/m\/d') }}"></div>
		         </div>
		      </div>
		      
		      <!--end timer-->
		   </div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="divider-line solid light"></div>
{% endif %}