<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h4 class="text-white font-weight-6 uppercase less-mar3">{{ label }}</h4>    
    <div class="fo-title-bottom-line white"></div>
  {% endif %}
  {{ title_suffix }}
  {% if content %}
    {{ content }}
  {% endif %}
</div>