{# <div{{ attributes }}>
	{% if not configuration.label_display %}
	    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
	{% endif %}
	{{ title_prefix }}
		<h2{{ title_attributes }}>{{ configuration.label }}</h2>
	{{ title_suffix }} #}
	<div{{ attributes.addClass('collapse').setAttribute('id', 'menu') }}>
	  {# Label. If not displayed, we still provide it for screen readers. #}
	  {# Menu. #}
	  {{ content }}
	</div>
{# </div> #}