{% block content %}
	<div{{ attributes }}>
		{{ title_prefix }}
        {% if label %}
            {{ label }}
        {% endif %}
        {{ title_suffix }} 	  	
		<a href="{{ path('<front>') }}" class="logo style-2 mar-4"><img src="{{ site_logo }}" alt="{{ 'Home'|t }}"></a>
		{% if site_name %}{{ site_name }}{% endif %}
	</div>
{% endblock %}
