<div{{ attributes.addClass('box__content') }}>
  <div class="box__row-cell-info--full">
      {{ content.field_left_content }}
  </div>
  <div class="box__content-wrapper">
    
    {{ content.body }}
  </div>
</div>