  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="text-white uppercase less-mar3 font-weight-7">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>