<div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="dosis uppercase bg2-right-col-item-title">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
</div>