<div{{ attributes.addClass('box__content') }}>
  <div class="box__row-cell-info--full">
      {{ content.field_left_content }}
  </div>
  <div class="box__content-wrapper">
	  <div class="box__content-inner">
	    <div class="box__content-text">
	      <div class="smartforms-modal-body">
	        <div class="smart-wrap">
	          <div class="smart-forms smart-container transparent wrap-full">
	            <div class="form-body no-padd" id="smart-form">
	              	{{ content.field_contact_form }}
	    			{{ content.body }}
	            </div>
	            <!-- end .form-body section -->
	          </div>
	          <!-- end .smart-forms section -->
	        </div>
	        <!-- end .smart-wrap section -->            
	      </div>
	    </div>
	  </div>
	  <!--end item-->
	</div>
</div>
