

{% if region == 'section' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="sec-title-container less-padding-3 text-center">
                    {% if sub_title %}
                <h6 class="small-text font-weight-5 text-gray-2 uppercase lspace-sm">{{ sub_title }} </h6>
              {% endif %}
              <h1 class="text-white font-weight-7 uppercase line-height-7 margin-bottom-3"> {{ label }} </h1>
        
             
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix margin-bottom-2"></div>

    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
  <div class="clearfix"></div>


{% elseif region == 'blog_sidebar' or region == 'product_sidebar' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="uppercase sp-sb-title">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'slider' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="dosis uppercase bg2-right-col-item-title">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
  <div class="clearfix"></div>
{% elseif region == 'content_onepage_3' %}
  <div{{ attributes.addClass('box__content') }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="dosis uppercase bg2-right-col-item-title">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'shopping_cart' %}
  <li{{ attributes.addClass('cart-parent') }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="dosis uppercase bg2-right-col-item-title">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </li>
{% elseif region == 'sidebar' %}
  <div class="single-sidebar">
    <div{{ attributes }}>
      {{ title_prefix }}
      {% if label %}
        <h5 class="heading_s">{{ label }}</h5>
      {% endif %}
      {{ title_suffix }}
      {% if content %}
        {{ content }}
      {% endif %}
    </div>
  </div>
{% elseif region == 'footer_style1' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h4 class="text-white font-weight-6 uppercase less-mar3">{{ label }}</h4>    
      <div class="fo-title-bottom-line white"></div>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'footer_style2' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h5 class="text-white uppercase less-mar3 font-weight-7">{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'service_sidebar' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <div class="medium-title"><h3>{{ label }}</h3></div>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'footer_1' or region == 'footer_2' or region == 'footer_3' or region == 'footer_4'  %}
  <div{{ attributes }}>  
    {{ title_prefix }}
    {% if label %}
      <h3 class="title">{{ label }}</h3>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>    
{% else %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h3{{ title_attributes }}>{{ label }}</h3>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% endif %}