 <a href="javascript:void(0)" title="" class="m-link"> <i aria-hidden="true" class="fa fa-shopping-cart"></i> <span class="number mar2"> {{ count }} </span> </a>
<div class="cart-box">
<div class="content">
    {% if content %}
      <div class="row">
        <div class="col-xs-8"> {{ count_text }} </div>
        {# <div class="col-xs-4 text-right"> <span>$99</span> </div> #}
      </div>
      {{ content }}
      <div class="row">
        <div class="col-xs-12 cart-link">
          {{ links }}
        </div>
      </div>
    {% else %}
         
          <div class="cart-empty">{{ 'Your shopping cart is empty.'|t }}</div>
      {% endif %}
 {#    <div class="row">
      <div class="col-xs-8"> 2 item(s) </div>
      <div class="col-xs-4 text-right"> <span>$99</span> </div>
    </div>
    <ul>
      <li> <img src="images/cart-img1.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
      <li> <img src="images/cart-img2.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
    </ul> #}
    </div>

</div>