{% if node.getRevisionAuthor().field_full_name.value %}
    {% set full_name = node.getRevisionAuthor().field_full_name.value %}
{% endif %}
{% if full_name is null %}
  {% set full_name =  author_name %}
{% endif %}

{% set img_uri = node.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_alt = node.field_image.alt %}
{% set length_image = node.field_image|length  %}
{% set img_arr = node.field_image %}
{% set comment_count =  node.field_blog_comments.comment_count %}

{% if blog_layout == 'one_column' %}
  {% set class_col = '' %}
{% elseif  blog_layout == 'two_column' %}
  {% set class_col = 'col-md-6 col-sm-6 col-xs-12' %}
{% elseif blog_layout == 'three_column' %}
  {% set class_col = 'col-md-4 col-sm-6 col-xs-12' %}
{% elseif blog_layout == 'four_column' %}
  {% set class_col = 'col-md-3 col-sm-6 col-xs-12' %}
{% elseif blog_layout == 'five_column'  %}
  {% set class_col = 'col-md-1 col-sm-6 col-xs-12' %}
{% elseif blog_layout == 'six_column'%}
  {% set class_col = 'col-md-2 col-sm-6 col-xs-12' %}
{% endif %}
{% set image900x560 = getUrlByImageStyle(img_uri, 'image900x560')  %}
{% set image640x510 = getUrlByImageStyle(img_uri, 'image640x510')  %}
{% set image737x737 = getUrlByImageStyle(img_uri, 'image737x737')  %}
{% set image1200x550 = getUrlByImageStyle(img_uri, 'image1200x550')  %}
{% set image1200x750 = getUrlByImageStyle(img_uri, 'image1200x750')  %}

{% set display_video_type = node.field_display_video_type.value %}

{% if not page %}
  {% if blog_layout == 'classic' %}
  {% if blog_sidebar == 'left' or blog_sidebar == 'right'  %}
  <div class="bg2-featurebox-3">
    <div class="img-box">
      <div class="postdate-box">
        <div class="blog-post-info"> <span><i class="fa fa-user"></i> {{ 'By'|t }} {{ full_name }}</span> <span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> </div>
      </div>
      
            <img src="{{ image1200x550 }}" alt="{{ img_alt }}" class="img-responsive"/> 
      
    </div>
    <div class="postinfo-box">
      <h4 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h4>
      <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span> </div>
      <br/>
      <p>{{ node.body.summary|length > 155 ? node.body.summary|slice(0,155) ~ '...' : node.body.summary }} </p>
      <br/>
      <br/>
      <a class="btn btn-dark-3 btn-small uppercase" href="{{ url }}">{{'Read more'}}</a> 
    </div>
  </div>
  {% else %}
      <div class="bg2-featurebox-2">
        <div class="col-md-8 col-sm-8 col-xs-12 pull-right">
          <div class="postinfo-box">
            <div class="postdate-box">
              <div class="blog-post-info"> <span><i class="fa fa-user"></i> {{ 'By'|t }} {{ full_name }}</span> <span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> </div>
            </div>
            <h4 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h4>
            <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span> </div>
              <br/>
              <p>{{ node.body.summary|length > 155 ? node.body.summary|slice(0,155) ~ '...' : node.body.summary }} </p>
              <br/>
              <br/>
              <a class="btn btn-dark-3 btn-small" href="{{ url }}">{{ 'Read more'|t }}</a> 
            </div>
        </div>
        <!--end white box-->
        <div class="overlay-1"></div>
        {% if blog_sidebar == 'left' and blog_sidebar == 'right'%}
          <img src="{{ image900x560 }}" alt="{{ img_alt }}" class="img-responsive"/> 
        {% else %}
          <img src="{{ image1200x750 }}" alt="{{ img_alt }}" class="img-responsive"/>
        {% endif %}
      </div>
  {% endif %}
      <!--end left col post info box-->

  {% elseif blog_layout == 'thumbnail' %}
    <div class="col-divider-margin-3"></div>
    <div class="bg2-featurebox-4">
      {% if blog_sidebar == 'left' or blog_sidebar == 'right' %}
        <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom"> 
      {% else %}
        <div class="col-md-5 col-sm-12 col-xs-12 margin-bottom">
      {% endif %}
      <img src="{{ image640x510 }}" alt="{{ img_alt }}" class="img-responsive"/> </div>
      <!--end item-->
      {% if blog_sidebar == 'left' or blog_sidebar == 'right' %}
        <div class="col-md-6 col-sm-12 col-xs-12">
      {% else %}
        <div class="col-md-7 col-sm-12 col-xs-12">
      {% endif %}
      

        <h4 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h4>
        <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span> </div>
          <br/>
          <p>{{ node.body.summary|length > 155 ? node.body.summary|slice(0,155) ~ '...' : node.body.summary }}</p>
          <br/>
          <a class="btn btn-dark-3 btn-small" href="{{ url }}">{{ 'Read more'|t }}</a> </div>
      <!--end item--> 
    </div>    
  {% elseif blog_layout == 'one_column' or blog_layout == 'two_column' %}
    <div class="{{ class_col }}">
      <div class="bg2-featurebox-3">
        <div class="img-box">
          <div class="postdate-box">
            <div class="blog-post-info"> <span><i class="fa fa-user"></i> {{ 'By'|t }} {{ full_name }}</span></div>
          </div>
          {% if blog_layout == 'one_column' %}
            <img src="{{ image1200x550 }}" alt="{{ img_alt }}" class="img-responsive"/>
          {% else %}
            <img src="{{ image737x737 }}" alt="{{ img_alt }}" class="img-responsive"/>
          {% endif %}
        </div>
        <div class="postinfo-box">
          <h4 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h4>
          <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span><span></div>
            <br/>
            {% if blog_layout == 'one_column' %}
              {{ node.body.summary|length > 460 ? node.body.summary|slice(0,460) ~ '...' : node.body.summary }}
            {% else %}
              {{ node.body.summary|length > 226 ? node.body.summary|slice(0,226) ~ '...' : node.body.summary }}
            {% endif %}
            <br/>
            <br/>
            <a class="btn btn-dark-3 btn-small uppercase" href="{{ url }}">{{ 'Read more'|t }}</a> </div>
      </div>
    </div>
  {% elseif blog_layout == 'three_column' %}
    <div class="{{ class_col }}"> 
      <div class="bg2-featurebox-3">
        <div class="img-box">
          <img src="{{ image737x737 }}" alt="{{ img_alt }}" class="img-responsive"/></div>
        <div class="postinfo-box">
          <h4 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h4>
          <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span></div>
          <br/>
          {{ node.body.summary|length > 98 ? node.body.summary|slice(0,98) ~ '...' : node.body.summary }}
          <br/>
          <br/>
          <a class="btn btn-dark-3 btn-small uppercase" href="{{ url }}">{{ 'Read more'|t }}</a> 
        </div>
      </div>
      <!--end post item-->
    </div>
  
    {% elseif blog_layout == 'four_column' or blog_layout == 'five_column'  or blog_layout == 'six_column'%}
      <div class="{{ class_col }}"> 
       <div class="bg2-featurebox-3">
          <div class="img-box">
            <img src="{{ image737x737 }}" alt="{{ img_alt }}" class="img-responsive"/> </div>
          <div class="postinfo-box">
            <h5 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h5>
            <div class="blog-post-info"><span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span></div>
            <br/>
            {{ node.body.summary|length > 60 ? node.body.summary|slice(0,60) ~ '...' : node.body.summary }}
            <br/>
            <a class="btn btn-dark-3 btn-small uppercase" href="{{ url }}">{{ 'Read more'|t }}</a>  </div>
        </div>
        <!--end post item-->
      </div>
  {% else %}
    <div class="bg2-featurebox-3">
      <div class="img-box">
         <div class="postdate-box">
          <div class="blog-post-info"> <span><i class="fa fa-user"></i> {{ 'By'|t }} {{ full_name }}</span> <span><i class="fa fa-comments-o"></i> {{ comment_count }}{% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> </div>
        </div>
        {% if blog_sidebar == 'left' and blog_sidebar == 'right'%}
          <img src="{{ image640x510 }}" alt="{{ img_alt }}" class="img-responsive"/> 
        {% else %}
          <img src="{{ image1200x550 }}" alt="{{ img_alt }}" class="img-responsive"/>
        {% endif %}
      </div>
      <div class="postinfo-box">
        <h4 class="dosis uppercase title"><a href="{{ url }}">{{ node.getTitle() }} </a></h4>
        <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span> </div>
          <br/>
          <p>{{ node.body.summary|length > 460 ? node.body.summary|slice(0,460) ~ '...' : node.body.summary }}</p>
          <br/>
          <br/>
          <a class="btn btn-dark-3 btn-small uppercase" href="{{ url }}">{{ 'Read more'|t }}</a> </div>
    </div>    
  {% endif %}
{% else %}{# single #}<!-- blog post full -->
{# {{ node.field_image | renderThis }} #}
  <div class="bg2-featurebox-3 blog-single">
    <div class="img-box">
   


      {% if display_video_type and content.field_video_embed is not empty %}
        {{ content.field_video_embed }}

      {% else %}
        {% if length_image > 1 %}
                <div class="carousel_holder">
                  <div class="bg2-featurebox-6">
                    <div id="sync1" class="owl-carousel">
                        {% for img_item in img_arr %}
                        {% set imguri = img_item.entity.uri.value %}
                        {% set image1000x = getUrlByImageStyle(imguri, 'image1000x') %}
                        {% if image1000x %}
                        <div class="item"><img src="{{ image1000x }}" alt="{{ img_item.alt }}" class="img-responsive"></div>

                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <br/>
                  <div class="ce4-feature-box-42">
                    <div id="sync2" class="owl-carousel">
                        {% for img_item in img_arr %}
                        {% set imguri = img_item.entity.uri.value %}
                        {% set image200x150 = getUrlByImageStyle(imguri, 'image200x150') %}
                        {% if image200x150 %}
                        <div class="item"><img src="{{ image200x150 }}" alt="{{ img_item.alt }}" class="img-responsive"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br/>
                <br/>
          
                <!--end post item-->
                <div class="clearfix"></div>
        {% else %}
          <img src="{{ img_url }}" alt="{{ img_alt }}" class="img-responsive blog-single-image"/>                       
        {% endif %}
      {% endif %}
    </div>
    <div class="postinfo-box">
      <h4 class="dosis uppercase title"><a href="{{ url }}">{{ title }} </a></h4>
      <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> {{ comment_count }} {% if comment_count > 1 %} {{ 'Comments'|t }} {% else %}{{ 'Comment'|t }} {% endif %}</span> <span><i class="fa fa-folder"></i> {{ content.field_blog_category }}</span> </div>
      <br/>
      {{ content|without('field_blog_category','field_blog_comments','field_blog_tags','field_image','field_subtitle','field_breadcrumb_image','field_depicts_sub','link','field_subtitle','field_video_embed') }}
      <br/>
      <h5>{{ 'Share This Article'|t }}</h5>
      <ul class="footer-social-icons">
        <li><a class="twitter" onClick="window.open('http://twitter.com/share?url={{ pageURL }}&amp;text={{ title }}','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ title }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a onClick="window.open('http://www.facebook.com/sharer.php?url={{ pageURL }}','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.facebook.com/sharer.php?url={{ pageURL }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a onClick="window.open('https://plus.google.com/share?url={{ pageURL }}','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url={{ pageURL }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        <li><a onClick="window.open('http://www.linkedin.com/shareArticle?url={{ pageURL }}&mini=true&title={{ title }}&ro=false&summary={{ node.body.summary|length > 145 ? node.body.summary|slice(0,145) ~ '...' : node.body.summary }}&source=','Linkedin','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.linkedin.com/shareArticle?url={{ pageURL }}&mini=true&title={{ title }}&ro=false&summary={{ node.body.summary|length > 145 ? node.body.summary|slice(0,145) ~ '...' : node.body.summary }}&source=" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {# <li><a href="#"><i class="fa fa-dribbble"></i></a></li> #}
      </ul>
    </div>
  </div>
  <!--end post item-->
  
  <div class="clearfix"></div>
  
  {{ content.field_blog_comments }}
{% endif %}
