{% set img_uri = node.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_alt = node.field_image.alt %}
{% set length_image = node.field_image|length  %}
{% set img_arr = node.field_image %}


{% set image488x4 = getUrlByImageStyle(img_uri, 'image488x4')  %}



<div class="row">
  <div class="col-md-5 col-sm-12 margin-bottom nopadding">
    <div> <img src="{{ image488x4 }}" alt="{{ img_alt }}" class="img-responsive border-radius-4" /> </div>
  </div>
  <!--end item-->
  <div class="col-md-1 nopadding"></div>
  <div class="col-md-6 col-sm-12 nopadding">
    <h3 class="uppercase font-weight-7 padding-top-1 nomargin">{{ node.getTitle() }}</h3>
    <p class="text-gray uppercase padding-top-1 text-dark">{{node.field_job.value}}</p>
    <p class="padding-top-2"> {{ content.body }} 
    </p> 
    <br/>
    <div class="clearfix  divider-line dotted "></div>
    <br/>
    <div class="col-md-4 col-sm-4">
      <h5 class=" nomargin">{{ content.field_mobile['#title'] }}</h5>
      <p>{{ node.field_mobile.value }}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h5 class="nomargin">{{ content.field_email['#title'] }}</h5>
      <p>{{ node.field_email.value }}</p>
    </div>
    <div class="col-md-4 col-sm-4 margin-bottom-3">
      <h5 class=" nomargin">{{ content.field_website1['#title'] }}</h5>
      <p>{{ node.field_website1.value }}</p>
    </div>
    <div>
      <ul class="social-icons socila-sm dark-style">
        <li class="hover-rss"><a href="{{ node.field_google_plus_link.uri }}"><i class="fa fa-rss" aria-hidden="true"></i> </a></li>
        <li class="hover-facebook"><a href="{{ node.field_facebook_link.uri }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="hover-twitter"><a href="{{ node.field_twitter_link.uri }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="hover-vimeo"><a href="{{ node.field_linkedin_link.uri }}"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>