.md-objects .md-object.md-layer-33-80-0 {
z-index: 999 !important; text-align: left;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-33-80-1 {
z-index: 998 !important; color: #ffffff !important;
 text-align: left;
 font-size: 4.5833333333333em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-33-80-2 {
z-index: 997 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-33-82-0 {
z-index: 2 !important; text-align: left;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-33-82-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: left;
 font-size: 4.5833333333333em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-33-82-2 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}