.md-objects .md-object.md-layer-36-92-0 {
z-index: 996 !important; color: #ffffff !important;
 text-align: left;
 font-size: 4.1666666666667em;
 font-weight: 700;
}
.md-objects .md-object.md-layer-36-92-1 {
z-index: 997 !important; color: #ffffff !important;
 text-align: left;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-36-92-2 {
z-index: 998 !important; color: #ffffff !important;
 text-align: left;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-36-92-3 {
z-index: 995 !important; text-align: left;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-36-92-4 {
z-index: 999 !important; color: #ffffff !important;
 text-align: left;
 font-size: 2.5em;
 font-weight: 100;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-36-92-5 {
z-index: 1000 !important; color: #ffffff !important;
 text-align: left;
 font-size: 1.6666666666667em;
 font-weight: 100;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-36-92-6 {
z-index: 994 !important;}
.md-objects .md-object.md-layer-36-92-7 {
z-index: 2 !important;}