.md-objects .md-object.md-layer-4-8-0 {
z-index: 999 !important; text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-8-1 {
z-index: 998 !important; text-align: center;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-8-2 {
z-index: 997 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-8-3 {
z-index: 1000 !important; text-align: center;
}
.md-objects .md-object.md-layer-4-8-4 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-9-0 {
z-index: 2 !important; font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-9-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-9-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-9-3 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-4-9-4 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}