.md-objects .md-object.md-layer-35-87-0 {
z-index: 995 !important; border: 2px solid #ffffff;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-35-87-1 {
background: #ffffff;
 z-index: 996 !important;}
.md-objects .md-object.md-layer-35-87-2 {
z-index: 997 !important; color: #000000 !important;
 text-align: center;
 font-size: 5em;
 font-weight: 700;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-87-3 {
z-index: 998 !important; color: #000000 !important;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-87-4 {
z-index: 999 !important; color: #000000 !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-87-5 {
z-index: 1000 !important; border: 2px solid #000;
 padding-top: 12px;
 padding-right: 12px;
 padding-bottom: 12px;
 padding-left: 12px;
 color: #070707 !important;
 text-align: center;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-89-0 {
z-index: 2 !important; border: 2px solid #ffffff;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-35-89-1 {
background: #ffffff;
 z-index: 2 !important;}
.md-objects .md-object.md-layer-35-89-2 {
z-index: 2 !important; color: #000000 !important;
 text-align: center;
 font-size: 5em;
 font-weight: 700;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-89-3 {
z-index: 2 !important; color: #000000 !important;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-89-4 {
z-index: 2 !important; color: #000000 !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
}
.md-objects .md-object.md-layer-35-89-5 {
z-index: 2 !important; border: 2px solid #000;
 padding-top: 12px;
 padding-right: 12px;
 padding-bottom: 12px;
 padding-left: 12px;
 color: #070707 !important;
 text-align: center;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Tahoma";
}