.md-objects .md-object.md-layer-37-95-0 {
z-index: 997 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.5em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-95-1 {
z-index: 998 !important; color: #ffffff !important;
 text-align: center;
 font-size: 10.416666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-95-2 {
z-index: 999 !important; color: #ffffff !important;
 text-align: center;
 font-size: 10.416666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-95-3 {
z-index: 1000 !important; padding-top: 15px;
 text-align: center;
 font-size: 1.1666666666667em;
}
.md-objects .md-object.md-layer-37-96-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.5em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-96-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 10.416666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-96-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 10.416666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-96-3 {
z-index: 2 !important; padding-top: 15px;
 text-align: center;
 font-size: 1.1666666666667em;
}
.md-objects .md-object.md-layer-37-97-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.5em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-97-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 10.416666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-97-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 10.416666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-37-97-3 {
z-index: 2 !important; padding-top: 15px;
 text-align: center;
 font-size: 1.1666666666667em;
}