.md-objects .md-object.md-layer-42-104-0 {
background: #607d8b;
 z-index: 997 !important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;
 -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px;
 -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px;
 -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomright: 2px; border-bottom-right-radius: 2px;
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
 color: #ffffff !important;
}
.md-objects .md-object.md-layer-42-104-1 {
background: #2572f2;
 z-index: 998 !important; padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
 color: #ffffff !important;
}
.md-objects .md-object.md-layer-42-104-2 {
z-index: 999 !important;}
.md-objects .md-object.md-layer-42-104-3 {
z-index: 1000 !important; padding-top: 10px;
 padding-right: 10px;
 color: #ffffff !important;
 font-size: 1.6666666666667em;
 text-transform: none;
}