.md-objects .md-object.md-layer-39-101-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-39-101-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-39-101-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-39-101-3 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.5em;
 font-weight: 100;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-39-101-4 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-weight: 100;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-39-101-5 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
}
.md-objects .md-object.md-layer-39-101-6 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-39-101-7 {
z-index: 2 !important;}