.md-objects .md-object.md-layer-15-40-0 {
z-index: 2 !important; font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-40-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-40-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-40-3 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-40-4 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-41-0 {
z-index: 2 !important; font-size: 1.6666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-41-1 {
z-index: 2 !important; color: #f6eeee !important;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-41-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 5.4166666666667em;
 font-weight: 700;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-41-3 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}
.md-objects .md-object.md-layer-15-41-4 {
z-index: 2 !important; -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px;
 -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px;
 -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px;
 -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px;
 padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 text-align: center;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Raleway";
}