.md-objects .md-object.md-layer-40-102-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-40-102-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-40-102-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-40-102-3 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.5em;
 font-weight: 100;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-40-102-4 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-weight: 100;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-40-102-5 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
}
.md-objects .md-object.md-layer-40-102-6 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-40-102-7 {
z-index: 2 !important;}