.md-objects .md-object.md-layer-41-103-0 {
z-index: 993 !important;}
.md-objects .md-object.md-layer-41-103-1 {
z-index: 994 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
 font-weight: 700;
}
.md-objects .md-object.md-layer-41-103-2 {
z-index: 995 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
 font-weight: 700;
}
.md-objects .md-object.md-layer-41-103-3 {
z-index: 996 !important; color: #ffffff !important;
 font-size: 2.5em;
 font-weight: 100;
}
.md-objects .md-object.md-layer-41-103-4 {
z-index: 997 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-weight: 100;
}
.md-objects .md-object.md-layer-41-103-5 {
z-index: 998 !important; color: #ffffff !important;
 font-size: 4.1666666666667em;
}
.md-objects .md-object.md-layer-41-103-6 {
z-index: 999 !important;}
.md-objects .md-object.md-layer-41-103-7 {
z-index: 1000 !important;}
.md-objects .md-object.md-layer-41-103-8 {
z-index: 992 !important;}