{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}


<section class="sec-padding">
    <div class="container">
        <div class="row">
            <div class="smart-wrap">
                <div class="smart-forms smart-container wrap-3">
                	<div class="form-body">
                		<div class="spacer-b30">
                            <div class="tagline">
                                <span>
                                    {{ 'Reset your password'|t }}
                                </span>
                            </div>
                            <!-- .tagline -->
                        </div>
                    {{ page.content }}

                </div>
                <!-- end .smart-forms section -->
            </div>
            <!-- end .smart-wrap section -->
        </div>
    </div>
</section>
<!--end item -->


{% if page.section %}
    {{ page.section }}
{% endif %}

     
{% include "@intrat/footer.html.twig" %}
