{#{% set title_bg = contact_page_header_bg %}#}
{% include "@intrat/header.html.twig" %}
<style>
  .header-section.style1 {
    position: relative;
    background-color: #000000d6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .contact-message-nous-contacter-form label{
    display: none;
  }

  .smart-forms .button {
    line-height: 1;
    font-size: 10px;
    font-weight: 700;
    padding: 0px 5px 0px 5px;
  }
</style>
{#{% include "@intrat/page--header.html.twig" %}#}
{% if contact_page_layouts == 'parallax' %}
<div class="clearfix"></div>
<!-- end page title -->
<section class="parallax" data-parallax-bg-image="images/parallax/C-parallax-8.jpg" data-parallax-direction="down" data-parallax-speed="0.9">
  <div class="section-overlay opacity-9">
    <div class="container sec-tpadding-3 sec-bpadding-3">
      <div class="row">
        <div class="col-md-8">
          <div class="smartforms-modal-body">
            <div class="smart-wrap">
              <div class="smart-forms smart-container transparent wrap-full">
                <div class="form-body no-padd">
                  {{ page.region_tabs }}
                  {{ page.content }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-left text-white ">
          {{ contact_address_info|raw }}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix">
</div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="gmaps-holder-2">
        <div class="col-md-12 nopadding">
          <br/>
          <div class="map" id="map_extended_full">
            <p>
              {{ 'This will be replaced with the Google Map.'|t }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix">
</div>
{% elseif contact_page_layouts == 'left_sidebar' %}
<div class="clearfix"></div>
<!-- end page title -->
<section class="sec-padding">
  <div class="col-lg-12" style="margin-top: -6%;">
    <div class="row">
      <div class="container">
        <div class="col-md-8" style="margin-top: 6%;">
          <div class="col-md-12">
            <h1 style="color: #12496d;">Nous contacter</h1>
            <div class="tiret"></div>
            <br/>
            <p>Entrez en contact avec Service Public Sénégal que ce soit pour la résolution de bugs,<br>
              des conseils, ou de meilleures pratiques.
            </p>
            <br/>
            <p class="question text-gray">Vous avez des questions? Appelez</p>
            <h5>Allo Service public : 3434</h5>
            <h5>Ligne direct : (221) 33 879 34 34</h5>
            <br/>
            <div class="clearfix"></div>
            <p class="question text-gray">Besoin de nous visiter, notre adresse</p>
            <h5>Service Public du Sénégal, Technopole, Pikine étoile, Dakar-Sénégal</h5>
            <br/>
            <div class="clearfix"></div>
            <p class="question text-gray">Besoin de nous envoyer un couriel, notre adresse mail</p>
            <h5>support@servicepublic.gouv.sn</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-top: 5%;padding-bottom: 5%;background-color:#EFEEF6;">
          {#{{ contact_body|raw }}#}
          <p style="margin-left: 20px;">Obtenir des avis et suggestions rapides</p>
          <div class="smartforms-modal-body">
            <div class="smart-wrap">
              <div class="smart-forms smart-container transparent wrap-full">
                <div class="form-body no-padd">
                  {{ page.region_tabs }}
                  {{ page.content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12" style="margin-top: -2%;">
        <div class="container-fluid">
          <div class="row">
            <div class="gmaps-holder-2">
              <div class="col-md-12 nopadding">
                <br/>
                <div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.3425503107997!2d-17.41352348577736!3d14.749720989707638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10cc129b98e6d%3A0x2529997d976bbfe4!2sAgence+de+l&#39;informatique+de+l&#39;etat!5e0!3m2!1sfr!2ssn!4v1544022618729" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                  {#<p>
                  {{ 'This will be replaced with the Google Map.'|t }}
                </p>#}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="clearfix"></div>
{% elseif contact_page_layouts == 'right_sidebar' %}
<div class="clearfix"></div>
<!-- end page title -->
<section class="sec-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12">
          <div id="map_extended" class="map">
            <p>{{ 'This will be replaced with the Google Map.'|t }}</p>
          </div>
        </div>
        <!--end map-->
        <div class="clearfix"></div>
        <br/>
        {{ contact_body|raw }}
        <br/>
        <br/>
        <div class="smartforms-modal-body">
          <div class="smart-wrap">
            <div class="smart-forms smart-container transparent wrap-full">
              <div class="form-body no-padd">
                {{ page.region_tabs }}
                {{ page.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 section-white">
        {{ page.blog_sidebar }}
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
{% elseif contact_page_layouts == 'map' %}
<div class="clearfix"></div>
<!-- end page title -->
<section class="sec-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="smartforms-modal-body">
          <div class="smart-wrap">
            <div class="smart-forms smart-container transparent wrap-full">
              <div class="form-body no-padd">
                {{ page.region_tabs }}
                {{ page.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-left">
        {{ contact_address_info|raw }}
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="gmaps-holder-2">
        <div class="col-md-12 nopadding">
          <br/>
          <div id="map_extended_full" class="map">
            <p>{{ 'This will be replaced with the Google Map.'|t }}</p>
          </div>
        </div>
      </div>
      <!--end item-->



    </div>
  </div>
</section>
<div class="clearfix"></div>
{% else %}
{% endif %}
{% if page.section %}
{{ page.section }}
{% endif %}
{% if page.logo_slide %}
{{ page.logo_slide }}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  jQuery('#edit-field-prenom-0-value').attr('placeholder','Prénom');
  jQuery('#edit-field-nom-0-value').attr('placeholder','Nom');
  jQuery('#edit-mail').attr('placeholder','Email');
  jQuery('#edit-subject-0-value').attr('placeholder','Sujet');
  jQuery('#edit-message-0-value').attr('placeholder','Message');
  jQuery('#edit-submit').css('display','none');
  jQuery('.form-textarea-wrapper').after('<div class="row" style="margin-top: 5%;">\n' +
    '        <div class="col-sm-6" style="width: 60%; padding-right: 0;">\n' +
    '          <p style="font-size: 9px ; line-height: 2;">En cliquant sur le lien, vous acceptez les <br>' +
    '<strong>Conditions d\'utilisation du service</strong> ainsi <br> que notre <strong>Politique de confidentialité</strong></p>'+
    '        </div>\n' +
    '        <div class="col-md-6" style="width: 40%; padding-left: 0;">\n' +
    '          <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Envoyer votre message" class="button button--primary js-form-submit form-submit button btn-primary">\n' +
    '        </div>\n' +
    '      </div>');
</script>
{% include "@intrat/footer.html.twig" %}

