{{ attach_library('intrat/onepage3-lib') }}
{% set img_uri = node.field_background_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}

<section class="padding gridlayout">
  <div class="row nopadding">
    <div class="container">
      {{ page.region_tabs }}
      {{ page.content }}
      <div class="box" style="background-image: url('{{ img_url  }}');">
        
        {{ page.menu_onepage3 }}
        <!--  -->
        {{ page.content_onepage_3 }}
      </div>
    </div>
    <div class="box__close">
      <span></span><br>
      <span></span>
      <span></span><br>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="box__episodes"><img src="{{ intrat_theme_path ~ 'images/logo-icon-light.png'}}" alt="alt" /></div>
  </div>
</section><!-- end -->
  
