{% set page_layout_404 = node.field_404_page_layout.value %}
{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}
{% if page_layout_404 == 'layout1' %}
	<section class="sec-padding">
	  <div class="container">
	    <div class="row">
	      <div class="error_holder">
	        <h1 class="uppercase title text-orange-2">{{ node.field_error_text.value }}</h1>
	        <br/>
	        {{ page.region_tabs }}
            {{ page.content }}
	        <br/>
	        <br/>
	        <br/>
	        <div class="error-search-box">
	          {{ page.search_404 }}
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
{% else %}
	<section class="sec-padding">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-8 col-sm-12 col-xs-12 text-left">
	        <div class="error_holder two bmargin">
	        	{{ page.region_tabs }}
                {{ page.content }}
	          <br/>
	          <br/>
	          <br/>
	          <div class="error-search-box">
	            {{ page.search_404 }}
	          </div>
	        </div>
	      </div>
	      <!--end item-->
	      <div class="col-md-4 col-sm-12 col-xs-12 bmargin">
	        <br/>
	        <h1 class="uppercase error-title-big text-orange-2">{{ node.field_error_text.value }}</h1>
	      </div>
	      <!--end item-->
	    </div>
	  </div>
	</section>	
{% endif %}
{% include "@intrat/footer.html.twig" %}