{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

<section class="sec-padding">
    <div class="container">
        {% if sidebar == 'right' %}
            <div class="content_left">
                {{ page.region_tabs }}
                {{ page.content }}
            </div><!-- end content left side area -->
            <div class="right_sidebar">
                {% if page.sidebar %}
                    {{ page.sidebar }}
                {% endif %}
            </div>
        {% elseif sidebar == 'left' %}
            <div class="content_right">
                {{ page.region_tabs }}
                {{ page.content }}
            </div><!-- end content left side area -->
            <div class="left_sidebar">
                {% if page.sidebar %}
                    {{ page.sidebar }}
                {% endif %}
            </div>
        {% else %}
            <div class="content_fullwidth">
                {{ page.region_tabs }}
                {{ page.content }}
            </div>
        {% endif %}
    </div><!-- end content area -->
</section>
    {% if page.section %}
        {{ page.section }}
    {% endif %}
    
{% include "@intrat/footer.html.twig" %}


        