{% include "@intrat/header.html.twig" %}

{% if page.slider %}
    {{ page.slider }}
{% endif %}

{{ page.region_tabs }}
{{ page.content }}

{% if page.section %}
    {{ page.section }}
{% endif %}

     
{% include "@intrat/footer-shop.html.twig" %}
