{% set title_bg = blog_page_header_bg %}
{% set page_subtitle = blog_subtitle %}
{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

{% if blog_layout == 'one_column' or blog_layout == 'two_column' or blog_layout == 'three_column' or blog_layout == 'four_column' or  blog_layout == 'five_column'  or blog_layout == 'six_column' %}
    <section class="sec-padding section-light">
{% else %}  
    <section class="sec-padding">
{% endif %}
    {% if blog_layout == 'classic' %}
        
        {% if blog_sidebar == 'right' %}
            <div class="container">
                <div class="row">
                    
                        <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                            {{ page.blog_sidebar }}   
                        </div>
                    
                    <!--end left col main--> 
                    <div class="col-md-8">
                        {{ page.region_tabs }}
                        {{ page.content }}
                    </div>
                    <!--end right col main--> 
                </div>
            </div>
        {% elseif blog_sidebar == 'left' %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {{ page.region_tabs }}
                        {{ page.content }}
                    </div>
                    <!--end right col main-->
                  
                   
                        <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                            {{ page.blog_sidebar }}   
                        </div>
                 
                    <!--end left col main--> 
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                  <div class="col-md-12 nopadding">
                    {{ page.region_tabs }}
                    {{ page.content }}
                  </div>
                  <!--end col main-->
                </div>
              </div>
        {% endif %}
        
    {% elseif blog_layout == 'thumbnail' %}
        <div class="container">
            <div class="row">
                {% if blog_sidebar == 'left' %}
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        {{ page.blog_sidebar }}
                    </div>
                  <!--end right col-->
                {% endif %}
                {% if blog_sidebar == 'right' or blog_sidebar == 'left' %}
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        {{ page.region_tabs }}
                        {{ page.content }}
                    </div>
                {% else %}
                    {{ page.content }}
                {% endif %}
                <!-- end left col--> 
                {% if blog_sidebar == 'right' %}
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        {{ page.blog_sidebar }}
                    </div>
                    <!--end right col-->
                {% endif %}
            </div>
        </div>
    {% elseif blog_layout == 'one_column' or blog_layout == 'two_column' or blog_layout == 'three_column' or blog_layout == 'four_column'  %}
        <div class="container">
            <div class="row">
                {{ page.region_tabs }}
                {{ page.content }}
            </div>
        </div>
    {% elseif blog_layout == 'five_column'  or blog_layout == 'six_column' %}
      <div class="container-fluid">
        <div class="row five-cols">
            {{ page.region_tabs }}
            {{ page.content }}
        </div>
    </div>
    {% else %}
        {% if blog_sidebar == 'left' %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                        {{ page.blog_sidebar }} 
                    </div>
                    <!--end left col main--> 
                    <div class="col-md-8">
                        {{ page.region_tabs }}
                        {{ page.content }}
                    </div>
                    <!--end right col main--> 
                </div>
            </div>
        {% elseif blog_sidebar == 'right' %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        {{ page.region_tabs }}
                        {{ page.content }}
                    </div>
                    <!--end right col main-->
                  
                    <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                        {{ page.blog_sidebar }} 
                    </div>
                    <!--end left col main--> 
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                  <div class="col-md-12 nopadding">
                    {{ page.region_tabs }}
                    {{ page.content }}
                  </div>
                  <!--end col main-->
                </div>
              </div>
        {% endif %}
    {% endif %}
</section>
<div class="clearfix"></div> 
  
{% if page.section %}
    {{ page.section }}
{% endif %}
{% if page.purchase_now %}
    {{ page.purchase_now }}
{% endif %}

{% include "@intrat/footer.html.twig" %}

        