{% set blog_sidebar = blog_single_sidebar %}


{# {% set page_subtitle = blog_subtitle %} #}


    {% set title_bg = blog_page_header_bg %}


{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

{% if blog_sidebar == 'right' %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">              
                <!--Content Side--> 
                <div class="col-md-8 col-sm-12 col-xs-12">         
                    {{ page.region_tabs }}
                    {{ page.content }}
                </div>
                <!--Content Side-->
                
                <!--Sidebar-->  
                <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                    {% if page.blog_sidebar %}
                        {{ page.blog_sidebar }}     
                    {% endif %}    
                </div>
                <!--Sidebar-->                           
            </div>
        </div>
    </section>
{% elseif blog_sidebar == 'left' %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <!--Sidebar-->  
                <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                    {% if page.blog_sidebar %}
                        {{ page.blog_sidebar }}     
                    {% endif %}               
                </div>
                <!--Sidebar-->               
                <!--Content Side--> 
                <div class="col-md-8 col-sm-12 col-xs-12">       
                    {{ page.region_tabs }}
                    {{ page.content }}
                </div>
                <!--Content Side-->                          
            </div>
        </div>
    </section>    
{% else %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ page.region_tabs }}
                    {{ page.content }}
                </div>
            </div>
        </div>
    </section>
{% endif %}

  
{% if page.section %}
    {{ page.section }}
{% endif %}
{% include "@intrat/footer.html.twig" %}

        