{% include "@intrat/header.html.twig" %}

{% set display_style = node.field_display_style.value %}
    {% if display_style == 'parallax' %}
        {% if field_page_header_bg  %}
            {% set field_page_header_bg =   field_page_header_bg  %}
        {% else %}
            {% set field_page_header_bg =  theme_page_header_bg %}
        {% endif %}

        <div class="clearfix"></div>
            <section class="page-title-3" style="{{ field_page_header_bg }}">
              <div class="container">
                <div class="row">
                
                    <h1 class="uppercase text-white font-weight-8 text-center">{{ title }}</h1>
                
                </div>
              </div>
            </section>
     
    {% else %}
        {% include "@intrat/page--header.html.twig" %}
    {% endif %}
        <section class="{% if display_style != 'parallax' %}sec-padding {% endif %}">

            <div class="container">
                <div class="row">
                    {% if page.sidebar and display_style == 'left' %}
                        <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                            {{ page.sidebar }}
                        </div>
                    {% endif %}
                    <!--end left col-->
                    <div class="{% if page.sidebar and (display_style == 'left' or display_style == 'right') %}col-md-8 {% else %} col-md-12 {% endif %}">
                        {{ page.region_tabs }}
                        {{ page.content }}
                    </div>
                    <!--end right col-->
                    {% if page.sidebar and display_style == 'right' %}
                        <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                            {{ page.sidebar }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

    {{ page.section }}
    {% if page.purchase_now %}
    {{ page.purchase_now }}
{% endif %}
{% include "@intrat/footer.html.twig" %}

        