
{{ attach_library('matri/onepage2-lib') }}

<div class="col-md-12 nopadding">
    <div class="header-section style1 no-bg fn-mar pin-style">
        <div class="container-filid">
            <div class="mod-menu">
                <div class="row nopadding">
                    <div class="col-sm-2">
                       {{ page.header }}
                    </div>
                    <div class="col-sm-10">
                        <div class="main-nav">
                            <ul class="nav navbar-nav top-nav">
                                <li class="visible-xs menu-icon">
                                    <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true" class="fa fa-bars"></i> </a>
                                </li>
                            </ul>
                            {{ page.menu_onepage }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end menu-->

</div>
<!--end menu-->

<div class="clearfix"></div>

<!-- START SLIDER -->
{{ page.slider }}

<div class="clearfix"></div>
<!-- END OF SLIDER WRAPPER -->
{{ page.section }}

<div class="clearfix"></div>
        <!-- end section -->
<div id="contact"></div>
<!-- menu scroll target link -->
<div class="footer-graph1">
  <div class="container-fulid">
    <div class="row nopadding">
    </div>
  </div>
</div>
<div class="clearfix"></div>
        <!-- end section -->
<footer class="section-dark two sec-more-padding-1">
  <div class="container">
   {{ page.footer_style1 }}
  </div>
</footer>
<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->
