{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

<section class="sec-padding">
    <div class="container">
        <div class="row">
            {% if sidebar == 'right' %}
                <div class="col-md-8">
                    {{ page.region_tabs }}
                    {{ page.content }}
                </div><!-- end content left side area -->
                <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                    {{ page.sidebar }}
                </div>
            {% elseif sidebar == 'left' %}
                
                <div class="col-md-4 col-sm-12 col-xs-12 section-white">
                    {{ page.sidebar }}
                </div>
                <div class="col-md-8">
                    {{ page.region_tabs }}
                    {{ page.content }}
                </div><!-- end content left side area -->
            {% else %}
                <div class="col-md-12">
                    {{ page.region_tabs }}
                    {{ page.content }}
                </div>
            {% endif %}
        </div><!-- end content area -->
    </div>
</section>

    {% if page.section %}
        {{ page.section }}
    {% endif %}
    
{% include "@intrat/footer.html.twig" %}


        