{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

<section class="">
    <div class="container ">
    <br/>
        <div class="row">    
                    
            <div class="col-md-12">
                {{ page.region_tabs }}
                {{ page.breadcrumb }}
                {{ page.content }}
            </div>
          
        </div>
    </div>
</section>

{% if page.section %}
    {{ page.section }}
{% endif %}
{% if page.purchase_now %}
    {{ page.purchase_now }}
{% endif %}
{% include "@intrat/footer.html.twig" %}

        