{{ attach_library('intrat/shop-single-lib') }}
{% set title_bg = shop_page_header_bg %}
{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

{% if page.slider %}
	{{ page.slider }}
{% endif %}
{% if shop_single_sidebar == 'left' %}
	<section class="sec-padding">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-3 col-sm-12 col-xs-12 margin-bottom">
	    			{{ page.product_sidebar }}
	    		</div>
	    		{{ page.region_tabs }}
				{{ page.content }}
				{% if page.section %}
				    {{ page.section }}
				{% endif %}
	    	</div>
	    </div>
	</section>
{% elseif shop_single_sidebar == 'right' %}
	<section class="sec-padding">
	    <div class="container">
	    	<div class="row">

	    		{{ page.region_tabs }}
				{{ page.content }}
				{% if page.section %}
				    {{ page.section }}
				{% endif %}
				<div class="col-md-3 col-sm-12 col-xs-12 margin-bottom">
	    			{{ page.product_sidebar }}
	    		</div>
	    	</div>
	    </div>
	</section>
{% elseif shop_single_sidebar == 'both' %}
	<section class="sec-padding">
	  <div class="container">
	    <div class="row">
	    	  <div class="col-md-3 col-sm-12 col-xs-12 margin-bottom">
	    	  		{{ page.product_sidebar }}
              </div>
				{{ page.region_tabs }}
				{{ page.content }}
				{% if page.section %}
				    {{ page.section }}
				{% endif %}
	    	  <div class="col-md-3 col-sm-12 col-xs-12 margin-bottom">
	    	  		{{ page.product_sidebar2 }}
              </div>
          </div>
      </div>
  </section>
   <div class="clearfix"></div>
  	{{ page.block_related_products_3_col }}
  	 <div class="clearfix margin-bottom-6"></div>
{%  else %}
<section class="sec-padding">
    <div class="container">
		{{ page.region_tabs }}
		{{ page.content }}
		{% if page.section %}
		    {{ page.section }}
		{% endif %}
	</div>
</section>

{% endif %}
{% if page.logo_slide %}
    {{ page.logo_slide }}
{% endif %}
{% if page.form_subscribe %}
    {{ page.form_subscribe }}
{% endif %}
     
{% include "@intrat/footer-shop.html.twig" %}
