{% include "@intrat/header.html.twig" %}
{#{% include "@intrat/page--header.html.twig" %}#}
<style>
  .page-title{
    display: none;
  }
  .tabs.primary{
    display: none;
  }
  .user-register-form label{
    display: none;
  }
  #edit-mail--description{
    display: none;
  }

  #edit-name--description{
    display: none;
  }


  p.use{
    margin-left: 4%;
  }

  .header-section.style1 {
    position: relative;
    background-color: #000000d6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #edit-submit{
    margin-left: 0%;
    width: 100%;
    border: none;
    font-size: 12px;
    background-color: #00b064;
    border-radius: inherit !important;
  }
</style>

<section class="inscr">
  <div class="container">
    <div class="row" style="margin-top: -8%">
      <div class="col-lg-8" >
        <div class="row" style="margin-top: 20%;">
          <div class="col-md-7 col-md-offset-5">
            <h2 style="color: #1e2c65 ;font-size: 27px;line-height: 35px;margin-bottom: 20px;font-style: normal;font-weight: 700;letter-spacing: 1px;">Restez organisé en <br>
              toutes circonstances.
            </h2>
            <p style="text-align: justify;"><strong style="color: #000000">monServicePublic</strong> rassemble tous vos documents et fichiers
              à un seul et meme endroit. Ils sont faciles à retrouver et synchronisés en toute sécurité sur tous vos appareils. Vous
              pouvez ainsi y accéder partout et à tout moment. Fini le temps perdu à rechercher en vain vos documents !</p>
          </div>
        </div>

      </div>
      <div class="col-lg-4" style="margin-top: 0%; padding-top: 10%; padding-bottom: 10%; background-color: #f3f3f3;">
        <h5>Inscrivez-vous gratuitement</h5>
        <p>ou <strong><a href="login">connectez-vous à votre compte</a></strong></p>
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
<!--end item -->


{% if page.section %}
{{ page.section }}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  jQuery('#edit-field-pre-0-value').attr('placeholder','Prénom');
  jQuery('#edit-field-nom-0-value').attr('placeholder','Nom');
  jQuery('#edit-mail').attr('placeholder','Email');
  jQuery('#edit-name').attr('placeholder','Identifiant');
  jQuery('#edit-submit').before('<h6 style="font-size: 10px" id="cond">En cliquant sur le lien ci-dessous, vous acceptez les \n' +
    '              <strong>Condition <br>d\'utilisation du service</strong> ainsi que notre <br>\n' +
    '              <strong>Politique de confidentialité</strong>\n' +
    '            </h6>');
  jQuery('#edit-submit').css('display', 'none');
  jQuery('#cond').after('<button data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" class="button button--primary js-form-submit form-submit button btn-primary" >Inscrivez-vous pour essayer gratuitement\n' +
    '        <br><strong>monServicePublic</strong></button>');

</script>
{% include "@intrat/footer.html.twig" %}
