{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

<section class="parallax-1">
    <div class="container-fluid nopadding">
        <div class="parallax-overlay bg-opacity-7">
            <div class="container sec-tpadding-3 sec-bpadding-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="countdown_holder clock">
                            <h1 class=" text-white uppercase font-weight-7">
                                {{ title }}
                            </h1>
                            <br/>
                            <div class="clocktime" data-time="{{ node.field_date.value|date('Y\/m\/d') }}">
                            </div>
                            <br/>
                            {{ page.region_tabs }}
                            {{ page.content }}
                        </div>
                    </div>
                    <!--end timer-->
                </div>
            </div>
        </div>
    </div>
</section>
{% include "@intrat/footer.html.twig" %}