{% include "@intrat/header.html.twig" %}
{#{% include "@intrat/page--header.html.twig" %}#}
<style>

  .page-title{
    display: none;
  }
  .tabs.primary{
    display: none;
  }
  .user-login-form label{
    display: none;
  }
  #edit-pass--description{
    display: none;
  }
  #edit-name--description{
    display: none;
  }
  #edit-submit{
    display: block;
  }}
  .use{
    margin-left: 4%;
    font-size: 12px !important;
  }
  .header-section.style1 {
    position: relative;
    background-color: #000000d6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #edit-submit{
    margin-left: 0%;
    width: 100%;
    border: none;
    background-color: #0a6eb4;
    border-radius: inherit !important;
  }
</style>

<section class="cont">
    <div class="container">
        <div class="row" style="margin-top: -8%">
          <div class="col-lg-8" >
            <div class="row" style="margin-top: 22%;">
              <div class="col-md-6 col-md-offset-5">
                <h2 style="color: #1e2c65 ;font-size: 27px;line-height: 35px;margin-bottom: 20px;font-style: normal;font-weight: 700;letter-spacing: 1px;">Mon Servive Public,<br>
                  effectuer vos démarches <br> en ligne.
                </h2>
                <p style="text-align: justify;">Réduction des coût et délais de traitement de vos
                  procédures. Avec Mon Service Public évitez de vous déplacer pour le dépôt de vos dossier.</p>
              </div>
            </div>

          </div>
          <div class="col-lg-4" style="margin-top: 0%;padding-top:10%; padding-bottom:10%; background-color: #EFEEF6;">
            <h5>Connectez-vous</h5>
            {{ page.content }}

            <div class="row" style="margin-top: 4%;">
              <label class="checkbox" style="padding-left: 35px; font-size: 12px;">
                <input type="checkbox" value="remember-me" id="remember_me"> Se souvenir de moi pendant 30 jours
              </label>
              <p style="margin-left: 4%;"><a href="password" style="color: #357ebd;">Mode de passe oublié?</a></p>
              <p style="margin-left: 4%;"><a href="register" style="color: #357ebd;">Pas de compte?</a> Créer un compte</p>
            </div>
          </div>

          {#<div class="smart-wrap">
              <div class="smart-forms smart-container wrap-3">
                  <div class="form-body">
                      <div class="spacer-b30">
                          <div class="tagline">
                              <span>
                                  {{ 'Login'|t }}
                              </span>
                          </div>
                          <!-- .tagline -->
                      </div>
                  {{ page.content }}
                  <div class="user-forgot-create">
                      <p><a href="register">{{ 'Forgot your password?'|t }}</a></p>
                      <p><a href="password">{{ 'Create account'|t }}</a></p>
                  </div>

              </div>
              <!-- end .smart-forms section -->
          </div>#}
            <!-- end .smart-wrap section -->
        </div>
    </div>
</section>
<!--end item -->


{% if page.section %}
    {{ page.section }}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  jQuery('#edit-name').attr('placeholder','Email');
  jQuery('#edit-pass').attr('placeholder','Mot de passe');
  jQuery('#edit-submit').val('Connexion');
  jQuery('#edit-captcha-response--description').html('Résolvez ce problème mathématique simple et entrez le résultat. Par exemple. pour 1 + 3, entrez 4.');
</script>
{% include "@intrat/footer.html.twig" %}
