{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}

<section class="sec-padding">
  <div class="container">
   {{ page.region_tabs }}
    {{page.content}}
      
  </div>
</section>
<div class="clearfix"></div>
{% include "@intrat/footer.html.twig" %}