{% include "@intrat/header.html.twig" %}
{% if page.slider %}
    {{ page.slider }}
    {% else %}
        {% include "@intrat/page--header.html.twig" %}
{% endif %}
<section class="sec-padding">
  <div class="{% if shop_gird_column == '6col' %} container-fluid {% else %}  container {% endif %}">
    <div class="row {% if shop_gird_column == '5col' %} five-cols {% endif %}">
      <div class="col-md-12 nopadding">
      	{{ page.content }}
      </div>
  </div>
</div>
</section>
    {% if page.section %}
        {{ page.section }}
    {% endif %}
    {% if page.logo_slide %}
      {{ page.logo_slide }}
    {% endif %}
    {% if page.form_subscribe %}
      {{ page.form_subscribe }}
    {% endif %}

{% include "@intrat/footer-shop.html.twig" %}
