{% set title_bg = shop_page_header_bg %}
{% set page_subtitle = shop_subtitle %}

{% include "@intrat/header.html.twig" %}
{% include "@intrat/page--header.html.twig" %}



  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 nopadding">
      		{{ page.region_tabs }}
          {{ page.content }}
        </div>
        <!--end column -->
      </div>
    </div>
  </section>
  <div class="clearfix">
  </div>

  
     
{% include "@intrat/footer.html.twig" %}
