{% include "@intrat/header.html.twig" %}

{% if page.slider %}
    {{ page.slider }}
    {% else %}
        {% include "@intrat/page--header.html.twig" %}
{% endif %}
{% set sidebar1 = sidebar %}
{% if sidebar_block  %}
    {% set sidebar1 = sidebar_block %}
{% endif %}

<section class="">
    <div class="container">
        {{ page.product_highlight }}
        {% if sidebar1 == 'left' %}
        
            <div class="col-md-3">
                {% if page.sidebar %}
                    {{ page.product_sidebar }}
                {% endif %}
            </div>
            <div class="col-md-9">
                {{ page.region_tabs }}
                {{ page.section }}
            </div><!-- end content left side area -->
        {% elseif sidebar1 == 'right' %}
            <div class="col-md-9">
                {{ page.region_tabs }}
                {{ page.section }}
            </div><!-- end content left side area -->
            <div class="col-md-3">
                {% if page.sidebar %}
                    {{ page.product_sidebar }}
                {% endif %}
            </div>
        {% else %}
            <div class="content_fullwidth">
                {{ page.region_tabs }}
                {{ page.section }}
            </div>
        {% endif %}
    </div><!-- end content area -->
</section>
    {% if page.content %}
        {{ page.content }}
    {% endif %}
    {% if page.logo_slide %}
      {{ page.logo_slide }}
    {% endif %}
    {% if page.form_subscribe %}
      {{ page.form_subscribe }}
    {% endif %}
{% include "@intrat/footer-shop.html.twig" %}


        