.openTabby,
.openTabby * {
  box-sizing: border-box;
}

.openTabby {
  overflow: hidden;
}
.openTabby .openTabby--nav {
  position: relative;
  display: none;
  width: 10000px;
}
.openTabby .openTabby--nav:after {
  display: block;
  content: "";
  clear: both;
}
.openTabby .openTabby--nav ul {
  display: table;
}
.openTabby .openTabby--nav ul:after {
  display: block;
  content: "";
  clear: both;
}
.openTabby .openTabby--nav ul li {
  float: left;
  cursor: pointer;
  list-style: none;
}
.openTabby .openTabby--nav ul li.active {
  cursor: default;
}
.openTabby .openTabby--slidesContainer {
  display: table;
  position: relative;
  overflow: scroll;
}
.openTabby .openTabby--slidesContainer .openTabby--slide {
  width: 100%;
  overflow: scroll;
}

.js .openTabby .openTabby--nav {
  display: block;
}
.js .openTabby .openTabby--slidesContainer {
  display: block;
}
.js .openTabby .openTabby--slidesContainer .openTabby--slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.js .openTabby .openTabby--slidesContainer .openTabby--slide.active {
  opacity: 1;
  z-index: 1;
}

.js .openTabby.csstransitions .openTabby--nav ul li {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.js .openTabby.csstransitions .openTabby--slidesContainer {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.js .openTabby.csstransitions .openTabby--slidesContainer .openTabby--slide {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.openTabby .effect-fade .openTabby--slide {
  opacity: 0;
}
.openTabby .effect-fade .openTabby--slide.active {
  opacity: 1;
}
.openTabby .effect-shrink .openTabby--slide {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.openTabby .effect-shrink .openTabby--slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.openTabby .effect-grow .openTabby--slide {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.openTabby .effect-grow .openTabby--slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.openTabby .effect-slide-left .openTabby--slide {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.openTabby .effect-slide-left .openTabby--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby .effect-slide-right .openTabby--slide {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.openTabby .effect-slide-right .openTabby--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby .effect-slide-up .openTabby--slide {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.openTabby .effect-slide-up .openTabby--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby .effect-slide-down .openTabby--slide {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.openTabby .effect-slide-down .openTabby--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby .effect-flip-vertical .openTabby--slide {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.openTabby .effect-flip-vertical .openTabby--slide.active {
  -webkit-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}
.openTabby .effect-flip-horizontal .openTabby--slide {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.openTabby .effect-flip-horizontal .openTabby--slide.active {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
.openTabby .effect-rotate .openTabby--slide {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.openTabby .effect-rotate .openTabby--slide.active {
  -webkit-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
}

.js .openTabby.responsive .openTabby--slidesContainer {
  overflow: hidden;
}
.js .openTabby.responsive .openTabby--slidesContainer .openTabby--slide {
  display: table;
  overflow: hidden;
}

.js .openTabby.accordion .openTabby--nav {
  width: auto;
}
.js .openTabby.accordion .openTabby--nav ul {
  width: 100%;
}
.js .openTabby.accordion .openTabby--nav ul li {
  width: 100%;
  float: none;
  display: block;
  text-align: center;
}

.openTabby .openTabby--nav {
  background: #fff;
}
.openTabby .openTabby--nav ul {
  padding: 0rem 0rem 0;
  float: left;
}
.openTabby .openTabby--nav ul li {
  line-height: 3.5rem;
  padding: 0 2.5rem;
  background: #fff;
  color: #727272;
  margin: 0 30px 0 0;
  border-bottom: 3px solid #ddd;
  font-weight: 600;
}
.openTabby .openTabby--nav ul li:hover {
  color: #1d2025;
  border-bottom: 3px solid #1d2025;
}
.openTabby .openTabby--nav ul li.active {
  color: #1d2025;
  background: #fff;
  border-bottom: 3px solid #1d2025;
}
.openTabby .openTabby--slidesContainer {
  background-color: #fff;
}
.openTabby .openTabby--slidesContainer .openTabby--slide {
  padding: 72px 0px 50px 0px;
  background: #fff;
}
.openTabby.accordion .openTabby--nav ul {
  padding: 3.5rem;
}

.openTabby.sty2 .openTabby--nav {
  background: none;
}
.openTabby.sty2 .openTabby--nav ul li {
  background: none;
  border-bottom: none;
  margin: 0 2px 0 0;
}
.openTabby.sty2 .openTabby--nav ul li.active {
  color: #1d2025;
  background: #fff;
}
.openTabby.sty2 .openTabby--slidesContainer {
  background: none;
}
.openTabby.sty2 .openTabby--slidesContainer .openTabby--slide {
  padding: 50px 50px 50px 50px;
}

.openTabby.sty3 .openTabby--nav ul li {
  line-height: 3.5rem;
  padding: 0 2rem;
  border-bottom: 3px solid #e3e3e3;
}
.openTabby.sty3 .openTabby--nav ul li:hover {
  color: #1d2025;
  border-bottom: 3px solid #f39c12;
}
.openTabby.sty3 .openTabby--nav ul li.active {
  color: #1d2025;
  background: #fff;
  border-bottom: 3px solid #f39c12;
}


/*Style two*/
.openTabby2,
.openTabby2 * {
  box-sizing: border-box;
}

.openTabby2 {
  overflow: hidden;
}
.openTabby2 .openTabby2--nav {
  position: relative;
  display: none;
  width: 10000px;
}
.openTabby2 .openTabby2--nav:after {
  display: block;
  content: "";
  clear: both;
}
.openTabby2 .openTabby2--nav ul {
  display: table;
}
.openTabby2 .openTabby2--nav ul:after {
  display: block;
  content: "";
  clear: both;
}
.openTabby2 .openTabby2--nav ul li {
  float: left;
  cursor: pointer;
  list-style: none;
}
.openTabby2 .openTabby2--nav ul li.active {
  cursor: default;
}
.openTabby2 .openTabby2--slidesContainer {
  display: table;
  position: relative;
  overflow: scroll;
}
.openTabby2 .openTabby2--slidesContainer .openTabby2--slide {
  width: 100%;
  overflow: scroll;
}

.js .openTabby2 .openTabby2--nav {
  display: block;
}
.js .openTabby2 .openTabby2--slidesContainer {
  display: block;
}
.js .openTabby2 .openTabby2--slidesContainer .openTabby2--slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.js .openTabby2 .openTabby2--slidesContainer .openTabby2--slide.active {
  opacity: 1;
  z-index: 1;
}

.js .openTabby2.csstransitions .openTabby2--nav ul li {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.js .openTabby2.csstransitions .openTabby2--slidesContainer {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.js .openTabby2.csstransitions .openTabby2--slidesContainer .openTabby2--slide {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.openTabby2 .effect-fade .openTabby2--slide {
  opacity: 0;
}
.openTabby2 .effect-fade .openTabby2--slide.active {
  opacity: 1;
}
.openTabby2 .effect-shrink .openTabby2--slide {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.openTabby2 .effect-shrink .openTabby2--slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.openTabby2 .effect-grow .openTabby2--slide {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.openTabby2 .effect-grow .openTabby2--slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.openTabby2 .effect-slide-left .openTabby2--slide {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.openTabby2 .effect-slide-left .openTabby2--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby2 .effect-slide-right .openTabby2--slide {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.openTabby2 .effect-slide-right .openTabby2--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby2 .effect-slide-up .openTabby2--slide {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.openTabby2 .effect-slide-up .openTabby2--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby2 .effect-slide-down .openTabby2--slide {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.openTabby2 .effect-slide-down .openTabby2--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby2 .effect-flip-vertical .openTabby2--slide {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.openTabby2 .effect-flip-vertical .openTabby2--slide.active {
  -webkit-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}
.openTabby2 .effect-flip-horizontal .openTabby2--slide {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.openTabby2 .effect-flip-horizontal .openTabby2--slide.active {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
.openTabby2 .effect-rotate .openTabby2--slide {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.openTabby2 .effect-rotate .openTabby2--slide.active {
  -webkit-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
}

.js .openTabby2.responsive .openTabby2--slidesContainer {
  overflow: hidden;
}
.js .openTabby2.responsive .openTabby2--slidesContainer .openTabby2--slide {
  display: table;
  overflow: hidden;
}

.js .openTabby2.accordion .openTabby2--nav {
  width: auto;
}
.js .openTabby2.accordion .openTabby2--nav ul {
  width: 100%;
}
.js .openTabby2.accordion .openTabby2--nav ul li {
  width: 100%;
  float: none;
  display: block;
  text-align: center;
}

.openTabby2 .openTabby2--nav {
  background: #fff;
  border-bottom: 5px solid #0090ff;
}
.openTabby2 .openTabby2--nav ul {
  padding: 0rem 0rem 0;
  float: left;
  margin-left: 4%;
}
.openTabby2 .openTabby2--nav ul li {
  line-height: 4.1rem;
  padding: 0 2.5rem;
  background: #f3f3f3;
  color: #1d2025;
  text-transform: uppercase;
  margin: 0 3px 0 0;
  font-weight: 600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.openTabby2 .openTabby2--nav ul li:hover {
  color: #1d2025;
  background: #e9e9e9;
}
.openTabby2 .openTabby2--nav ul li.active {
  color: #fff;
  background: #0090ff;
}
.openTabby2 .openTabby2--slidesContainer {
  background-color: #f7f7f7;
}
.openTabby2 .openTabby2--slidesContainer .openTabby2--slide {
  padding: 90px 0px 120px 0px;
  background: #f7f7f7;
}
.openTabby2.accordion .openTabby2--nav ul {
  padding: 3.5rem;
}


/*Style three*/
.openTabby3,
.openTabby3 * {
  box-sizing: border-box;
}

.openTabby3 {
  overflow: hidden;
}
.openTabby3 .openTabby3--nav {
  position: relative;
  display: none;
  width: 10000px;
}
.openTabby3 .openTabby3--nav:after {
  display: block;
  content: "";
  clear: both;
}
.openTabby3 .openTabby3--nav ul {
  display: table;
}
.openTabby3 .openTabby3--nav ul:after {
  display: block;
  content: "";
  clear: both;
}
.openTabby3 .openTabby3--nav ul li {
  float: left;
  cursor: pointer;
  list-style: none;
}
.openTabby3 .openTabby3--nav ul li.active {
  cursor: default;
}
.openTabby3 .openTabby3--slidesContainer {
  display: table;
  position: relative;
  overflow: scroll;
}
.openTabby3 .openTabby3--slidesContainer .openTabby3--slide {
  width: 100%;
  overflow: scroll;
}

.js .openTabby3 .openTabby3--nav {
  display: block;
}
.js .openTabby3 .openTabby3--slidesContainer {
  display: block;
}
.js .openTabby3 .openTabby3--slidesContainer .openTabby3--slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.js .openTabby3 .openTabby3--slidesContainer .openTabby3--slide.active {
  opacity: 1;
  z-index: 1;
}

.js .openTabby3.csstransitions .openTabby3--nav ul li {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.js .openTabby3.csstransitions .openTabby3--slidesContainer {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.js .openTabby3.csstransitions .openTabby3--slidesContainer .openTabby3--slide {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.openTabby3 .effect-fade .openTabby3--slide {
  opacity: 0;
}
.openTabby3 .effect-fade .openTabby3--slide.active {
  opacity: 1;
}
.openTabby3 .effect-shrink .openTabby3--slide {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.openTabby3 .effect-shrink .openTabby3--slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.openTabby3 .effect-grow .openTabby3--slide {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.openTabby3 .effect-grow .openTabby3--slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.openTabby3 .effect-slide-left .openTabby3--slide {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.openTabby3 .effect-slide-left .openTabby3--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby3 .effect-slide-right .openTabby3--slide {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.openTabby3 .effect-slide-right .openTabby3--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby3 .effect-slide-up .openTabby3--slide {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.openTabby3 .effect-slide-up .openTabby3--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby3 .effect-slide-down .openTabby3--slide {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.openTabby3 .effect-slide-down .openTabby3--slide.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.openTabby3 .effect-flip-vertical .openTabby3--slide {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.openTabby3 .effect-flip-vertical .openTabby3--slide.active {
  -webkit-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}
.openTabby3 .effect-flip-horizontal .openTabby3--slide {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.openTabby3 .effect-flip-horizontal .openTabby3--slide.active {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
.openTabby3 .effect-rotate .openTabby3--slide {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.openTabby3 .effect-rotate .openTabby3--slide.active {
  -webkit-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
}

.js .openTabby3.responsive .openTabby3--slidesContainer {
  overflow: hidden;
}
.js .openTabby3.responsive .openTabby3--slidesContainer .openTabby3--slide {
  display: table;
  overflow: hidden;
}

.js .openTabby3.accordion .openTabby3--nav {
  width: auto;
}
.js .openTabby3.accordion .openTabby3--nav ul {
  width: 100%;
}
.js .openTabby3.accordion .openTabby3--nav ul li {
  width: 100%;
  float: none;
  display: block;
  text-align: center;
}

.openTabby3 .openTabby3--nav {
  background: #674172;
  padding-top: 140px;
/*  border-bottom: 5px solid #1d2025;*/
}
.openTabby3 .openTabby3--nav ul {
  padding: 0rem 0rem 0;
  float: left;
  margin-left: 3.25%;
}
.openTabby3 .openTabby3--nav ul li {
  line-height: 4rem;
  padding: 0 3.2rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0 9px 0 0;
  font-weight: 700;
  border: 1px solid #fff;
}
.openTabby3 .openTabby3--nav ul li:hover {
  color: #1d2025;
  background: #fff;
}
.openTabby3 .openTabby3--nav ul li.active {
  color: #1d2025;
  background: #fff;
  border: 1px solid #fff;
}
.openTabby3 .openTabby3--slidesContainer {
  background-color: #674172;
}
.openTabby3 .openTabby3--slidesContainer .openTabby3--slide {
  padding: 90px 0px 180px 0px;
  background: #674172;
}
.openTabby3.accordion .openTabby3--nav ul {
  padding: 3.5rem;
}






@media only screen and (min-width: 991px) and (max-width: 1169px){

.openTabby3 .openTabby3--nav ul {
	margin-left: 1%;
}
.openTabby3 .openTabby3--nav ul li {
	line-height: 3.5rem;
	padding: 0 2rem;
}

}

@media only screen and (min-width: 641px) and (max-width: 768px){
.openTabby3 .openTabby3--nav ul li {
	line-height: 3rem;
	padding: 0 1rem;
	margin:0 5px 0 0;
}
.openTabby3 .openTabby3--nav ul {
	margin-left: 0.5%;
}

}

@media only screen and (min-width: 481px) and (max-width: 640px){
.openTabby3 .openTabby3--nav ul li {
	line-height: 3rem;
	padding: 0 1rem;
	margin:0 5px 0 0;
}
.openTabby3 .openTabby3--nav ul {
	margin-left: 0.1%;
}
.openTabby.sty2 .openTabby--nav ul li {
  padding: 0 2rem;
}
}

@media only screen and (max-width: 480px){
.openTabby3 .openTabby3--nav ul li {
	float: none;
}
.openTabby3 .openTabby3--nav ul {
	margin-left: 0.5%;
}
.openTabby.sty2 .openTabby--nav ul li {
  padding: 0 1rem;
}
.openTabby.sty2 .openTabby--slidesContainer .openTabby--slide {
  padding: 30px;
}
}


@media only screen and (max-width: 760px){
	
.openTabby .openTabby--nav ul li {
  padding: 0 0rem;
  margin:0 5px 0 0;
}
.openTabby.sty2 .openTabby--nav ul li {
  padding: 0 0.5rem;
}
.openTabby.sty2 .openTabby--slidesContainer .openTabby--slide {
  padding: 30px;
}

}





/*# sourceMappingURL=opentabby.css.map */