{% set count_comments = comments|length - 3 %}
{% if count_comments < 0 %}
  {% set count_comments = 0 %}
{% endif %}

{% if count_comments != 0 %}
  <br/>
  <h4>{{ count_comments }} {{ 'Comment(s)'|t }}</h4>
  {{ comments  }}
  <div class="clearfix"></div>
  <br/>
{% endif %}
{% if comment_form %}
  <br/>
  <h4>{{ 'Post a Comment'|t }}</h4>
  {{ comment_form }} 
{% endif %}

  

  