{% set count_comments = comments|length - 3 %}
{% if count_comments < 0 %}
  {% set count_comments = 0 %}
{% endif %}

{% if count_comments != 0 %}
	<div class="tab-pane active comment" id="comments-logout">                
	    <div class="media-list">
	       {{ comments }}
	    </div> 
	</div>
{% endif %}
{% if comment_form %}
	<div class="tab-pane {% if count_comments == 0 %} active {% endif %}" id="add-comment">
	    {{ comment_form }}
	</div>
{% endif %}